.bus-form
  padding: 20px
  margin-left: auto
  margin-right: auto
  max-width: 100%

  &--black
    background-color: rgba(0,0,0,0.7)

  & .form-group-block
    &.inputs-group
      margin-right: 0 !important
    &.button-group
      flex-grow: 1


  & .form-input-block.form-input-block-big
    width: 290px

  & .top-cities-list
    padding: 5px 0 0 15px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

    @media (max-width: 767px)
      padding-left: 10px

  & .btn_go
    flex-grow: 1
    background-color: $green

  @media (max-width: 767px)
    &.cities .cities-form .form-group-block.inputs-group .form-input-block
      border: none !important