.bus-page
  background: url('../img/bus/banner-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &__title
    color: $black
    text-transform: uppercase
    text-align: center

    @media (min-width: 768px)
      color: $white

  &__content
    padding: 20px 0 40px
    margin: 20px 0 0
    background-color: $white

    @media (min-width: 768px)
      background-color: transparent


  &--city
    & .bus-stations-map
      margin: 20px 0

  &--city-city
    & .progressbar-container
      color: $white
      min-height: 40px