.station-timetable
  &__head
    color: $white
    display: none

    @media (min-width: 768px)
      display: block

  &__body
    & .station-timetable__col--time,
    & .station-timetable__col--name
      color: $green

  &__row
    display: flex
    flex-flow: row wrap
    padding: 10px
    transition: 0.2s

    &--timetable-item
      background-color: $white
      border-top: 1px solid rgb(179, 179, 179)
      border-bottom: 4px solid $green
      box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.23)
      margin-bottom: 10px

      @media (min-width: 768px)
        border-top: 1px solid transparent
        border-bottom: 1px solid #acacac
        box-shadow: none
        margin-bottom: 0px

    &--station-item
      background-color: rgba(255,255,255,0.1)
      margin-bottom: 10px

      &:hover
        background-color: $green

        & .station-timetable__col
          color: $white !important

    @media (min-width: 768px)
      flex-flow: row nowrap
      align-items: center

  &__col
      display: flex
      flex-flow: row nowrap
      align-items: center
      margin: 5px

      &--route
        order: 1
        width: 100%
      &--time
        order: 2
      &--days
        order: 3

      @media (min-width: 768px)
        &--route
          order: 1
          width: 50%
        &--days
          order: 2
          width: 30%
        &--time
          order: 3
          width: 20%

  &__icon
    &--time
      margin-right: 5px

      @media (min-width: 768px)
        display: none




