.holder {
  color: #fff;
  .table-title {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    text-transform: uppercase;
  }
  .table-asis {
    .subtitle {
      font-weight: 400;
      font-size: 16px;
      margin-top: 35px;
    }
    table {
      margin-top: 35px;
      font-size: 16px;
      border-spacing: 0;
      width: 100%;
      thead {
        font-size: 14px;
        font-weight: 300;
        background: none;
        color: #fff;
        tr {
          border-bottom: 15px solid rgba(0, 0, 0, 0);
          th {
            font-weight: 300;
            font-size: 14px;
            padding: 10px 0;
            &:first-child, &:last-child {
              padding: 10px;
            }
            .header-holder {
              display: flex;
              align-items: center;
              .text {
                margin-left: 5px;
              }
            }
          }
        }
      }
      tbody {
        margin-top: 20px;
        background: #fff;
        color: #000;
        tr {
          &.expanded{
            td{
              border-bottom: none;
            }
          }
          td {
            padding: 25px 0;
            &.departure-time {
              max-width: 200px;
              padding-left: 20px;
              .time {
                font-weight: 600;
                font-size: 24px;
              }
              .timezone {
                margin-top: 15px;
                color: #484747;
                font-size: 14px;
                font-weight: 300;
              }
              .point {
                margin-top: 13px;
                color: #1b9e48;
                font-size: 14px;
                a.place-icon {
                  color: #1b9e48;
                  font-size: 14px;
                }
              }
              .underground-station {
                margin-top: 15px;
                font-size: 13px;
                a {
                  color: #a2a2a2;
                  img{
                    margin-right: 4px;
                  }
                }
              }

              .company {
                margin-top: 15px;
                font-size: 13px;
                color: #a2a2a2;
              }
            }
            &.time-on-line {
              .time {
                font-size: 14px;
              }
              .sub {
                font-size: 13px;
                color: #b0b0b0;
              }
            }
            &.arrival-time {
              .time {
                font-weight: 600;
                font-size: 24px;
                .addiction {
                  font-size: 13px;
                  font-weight: 300;
                  color: #b0b0b0;
                }
              }
              .timezone {
                color: #484747;
                font-size: 13px;
                font-weight: 300;
              }
              .point {
                color: #1b9e48;
                font-size: 14px;
                font-weight: 300;
                a {
                  color: #1b9e48;
                }
              }

            }
            &.days {
              font-size: 13px;
              font-weight: 300;
            }
            &.ways {
              .way {
                color: #1b9e48;
                font-size: 13px;
                font-weight: 300;
              }
            }
            &.cost {
              max-width: 200px;
              .amount {
                font-size: 14px;
                font-weight: 700;
              }
              .buy-button {
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 140px;
                height: 45px;
                background: #1b9e48;
                color: #fff;
              }
              .info{
                margin-top: 55px;

                font-weight: 300;
                a{
                  color:#1b9e48;
                }
                font-size: 13px;
              }
            }
          }
          &.fullinfo {

            td{
              border-top: none;
              padding-top:55px;
            }
            .timing {
              .start {
                .time {
                  font-size: 20px;
                  font-weight: 700;
                }
                .date {
                  font-size: 13px;
                  font-weight: 300;
                  color: #484747;
                }
              }
              .finish {
                margin-top: 30px;
                .time {
                  font-size: 20px;
                  font-weight: 700;
                }
                .date {
                  font-size: 13px;
                  font-weight: 300;
                  color: #484747;
                }
              }
            }
            .points {
              .last-description {
                margin-top: 5px;
                margin-left: 39px;
                color: #7b7b7b;
                font-weight: 300;
                font-size: 13px;
              }
              .middle-points {
                margin-top: 30px;
                color: #e8656c;
                font-size: 13px;
                margin-left: 39px;
              }
              .timeline-list {

                //border-left: 5px solid #ccc;
                position: relative;
                max-width: 700px;
                margin: 0 auto;
                list-style: none;

                &:before {
                  content: "";
                  border-left: 2px dashed #1c9e48;
                  left: 1.9em;
                  height: 100%;
                  position: absolute;
                  bottom: 0;
                  top: 0;
                  transform-origin: 0 0;
                  animation: scaleVertical 3s 1s ease both 1;
                }

                li {
                  &:first-child {
                    margin-top: 0;
                  }
                  margin-top: 35px;
                  position: relative;
                  color: #7b7b7b;
                  font-weight: 300;
                  font-size: 13px;
                  .title {
                    color: #000;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 0.8;
                  }

                  p {
                    margin-top: 5px;
                  }
                  .content {

                  }
                  &:before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: -1.05em;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: none repeat scroll 0% 0% #fff;
                    border: 2px solid #1c9e48;
                    animation: revealScaleUp 0.75s 0s ease both 1;
                  }

                }
              }
            }
            .additional-info {
              .title {
                font-size: 13px;
              }
              .info {
                margin-top: 15px;
                font-weight: 300;
                font-size: 13px;
                color: #7b7b7b;
                p {
                  margin-bottom: 7px;
                }
              }
            }
            .driver-info {
              font-size: 13px;
              .title {
                margin-top: 30px;
                &:first-child{
                  margin-top: 0;
                }
              }
              .info {
                margin-top: 10px;
                color: #7b7b7b;
                font-weight: 300;
                ul {
                  margin-top: 30px;
                  &.leaders {
                    max-width: 40em;
                    padding: 0;
                    overflow-x: hidden;
                    list-style: none;
                    li {
                      &:before {
                        float: left;
                        width: 0;
                        white-space: nowrap;
                        content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
                      }
                      span {
                        &:first-child {
                          padding-right: 0.33em;
                          background: white;
                        }
                        & + span {
                          float: right;
                          padding-left: 0.33em;
                          background: white
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .disclamer{
    padding: 20px;
    background: #ededed;
    font-size: 14px;
    color:#484848;
    display: flex;
    align-items: center;
    img{
      margin-right: 5px;
    }
  }
  .popular-ways-hodler{
    background: #fff;
    margin-top: 45px;
    padding-bottom: 55px;
    color:#000;
    padding-top: 80px;
    .title{
      font-size: 34px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .cards{
      .card-wrapper{
        &:first-child{
          padding-left: 0;
        }
      }
      .card {
        padding-left: 0;
        padding-right: 0;
        background: #f4f4f4;
        &.backgrounded{
          color:#fff;
          background: url('/img/bus/background.png');
          background-position: center;
          background-size: cover;
          .header{
            border-bottom: none;
            padding-bottom: 0;
          }
          .tips{
            color:#b6b6b6;
            font-weight: 300;
            padding:20px 25px;
            padding-top: 0;
            p{
              margin-top: 25px;
              &.social{
                margin-top: 4px;
              }
            }
          }
        }
        .header{
          padding: 25px;
          padding-bottom: 15px;
          display: flex;
          justify-content: flex-start;
          align-items: end;
          border-bottom: 3px solid #1c9e48;
          .text{
            margin-left: 6px;
            font-size: 16px;
            font-weight: 700;
          }
        }
        .cities{
          padding-top: 20px;
          padding-left: 25px;
          .city-title{
            color:#d3161f;
          }
          a{
            &.city{
              display: block;
              color: #000;
              margin-bottom: 10px;
            }
          }
        }
      }

    }
  }
}

.mobile-info{
  padding-bottom: 25px;
  border-bottom: 1px solid #b3b3b3;
    .title {
      margin-top: 15px;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      .additional {
        text-transform: none;
        font-size: 11px;
        color: #757575;
      }
    }
    .no-tickets-title{
      text-align: center;
      font-size: 11px;
      .title{
        font-size: 14px;
        font-weight: 700;
      }
    }
    .no-tickets-cards{
      display: flex;
      justify-content: space-between;
      .no-ticket-card{
        padding: 10px;
        border: 1px solid #c5c5c5;
        border-radius: 3px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .day{
          font-weight: 300;
          color:#6a6a6a;
          font-size: 11px;
        }
        .dday{
          font-size: 18px;
          color:#1c9e48;
        }
        .month{
          color: #000;
          font-weight: 300;
          font-size: 11px;
        }
      }
    }
  .buttons{
    width: 100%;
    margin-top: 20px;
    display: flex;
    .left, .right{
      font-weight: 400;
      font-size: 13px;
      width: 49%;
      padding: 10px 0;
      text-align: center;
    }
    .left{
    }
    .right{
      font-size: 15px;
      font-weight: 600;
      background: #1b9e48;
      color:#fff;
    }
  }
    .date {
      margin-top: 10px;
      font-size: 13px;
      color: #0492cf;
      font-weight: 400;
    }
    .info {
      margin-top: 10px;
    }
    .toggler {
      border-radius: 32px;
      background: #f5f5f5;
      font-size: 13px;
      width: 100%;
      margin-top: 20px;
      display: flex;
      .left, .right {
        font-weight: 300;
        font-size: 10px;
        width: 49%;
        padding: 10px 0;
        &.active {
          color: #fff;
          background: #0492cf;
          border-radius: 32px;
        }
        .title {
          margin-top: 0;
          font-weight: 600;
          font-size: 13px;
        }
        text-align: center;
      }

    }
    .filter {
      margin-top: 10px;
      background: #0492cf;
      width: 100%;
      border-radius: 32px;
      height: 40px;
      color: #fff;
      font-size: 16px;
      display: flex;
      justify-content: center;
      padding: 10px 0;
      text-align: center;

      .icon {
        position: absolute;
        right: 10px;
        margin-top: -10px;
        background: url('/img/bus/filter-button.png') #0492cf;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;

      }
    }
    .advice {
      margin-top: 15px;
      font-size: 9px;
      color: #797979;
      font-weight: 300;
  }
}

.mobile-ways{
    margin-top: 20px;
    margin-bottom: 20px;
    .way{
      font-size: 12px;
      padding: 20px calc(8.33333333% + 15px);
      border-top: 1px solid #b3b3b3;
      border-bottom: 5px solid #1c9e48;
      margin-left: 0;
      margin-right: 0;
      box-shadow: 0px 5px 21px -5px rgba(0,0,0,0.75);
      margin-top: 15px;
      .arrival{
        margin-top: 15px;
      }
      .departure, .arrival{
        display: flex;
        .time{
          text-align: center;
          padding: 8px 0;
          background: #b8dbea;
          flex: 1;
          font-size: 18px;
        }
        .title{
          font-weight: 600;
          font-size: 14px;
          background: #f5f5f5;
          padding: 8px;
          line-height: 1.8;
          flex: 4;
        }
      }
      .point{
        margin-top: 10px;
        font-size: 13px;
        color:#a2a2a2;
        font-weight: 300;
        .city{
          font-weight: 400;
          color:#000;
        }
      }
      .time-on-line{
        color: #a3a3a3;
        font-size: 13px;
        margin-top: 15px;
        .time{
          color:#000;
        }
      }
      .fullinfo{
        margin-top: 30px;
        .deparr{
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          .left{
            .city{
              font-size: 12px;
              font-weight: 600;
              color: #464646;
            }
            font-size: 12px;
            color:#7f7f7f;
            font-weight: 300;

          }
          .right{
            .time{
              font-size: 14px;
              font-weight: 600;
            }
            .date{
              margin-top: 2px;
              font-weight: 300;
              font-size: 12px;
              color: #464646;
            }
          }
        }
        .middle-points{
          color: #1b9e48;
          margin-top: 10px;
          font-size: 12px;
          font-weight: 300;
        }
        .additional-info{
          margin-top: 20px;
          .title{
            font-size: 12px;
            color: #464646;
          }
          p{
            color:#575757;
            font-weight: 300;
          }
        }
        .driver-info{
          margin-top: 22px;
          .title{
            &:first-child{
              margin-top: 0;
            }
            margin-top: 15px;
            font-size: 12px;
            color: #464646;
          }
          .info{
            color: #575757;
            font-weight: 300;
            ul {
              margin-top: 30px;
              &.leaders {
                max-width: 40em;
                padding: 0;
                overflow-x: hidden;
                list-style: none;
                li {
                  &:before {
                    float: left;
                    width: 0;
                    white-space: nowrap;
                    content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
                  }
                  span {
                    &:first-child {
                      padding-right: 0.33em;
                      background: white;
                    }
                    & + span {
                      float: right;
                      padding-left: 0.33em;
                      background: white
                    }
                  }
                }
              }
            }
          }
        }
      }
      .buttons{
        width: 100%;
        margin-top: 20px;
        display: flex;
        .left, .right{
          font-weight: 400;
          font-size: 13px;
          width: 49%;
          padding: 10px 0;
          text-align: center;
        }
        .left{
          background: #d6d6d6;
        }
        .right{
          background: #1b9e48;
          color:#fff;
        }
      }
      &:first-child{
        margin-top: 0;
        border-top: none;
      }
      .date{
        display: flex;
        margin-top: 20px;
        align-items: center;
        .text{
          font-weight: 600;
          margin-left: 10px;
          color:#1c9e48;
        }
      }
  }
}

.filters-wrapper{
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  position: fixed;
  top:0;
  left: 0;
  color: #fff;
  z-index: 1011;
  .naver{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .back{
      flex: 1;
    }
    .title{
      flex:4;
      text-align: center;
      .up{
        font-size: 14px;
        font-weight: 600;
      }
      .down{
        color:#5c5d5c;
        font-size: 10px;
        font-weight: 300;
      }
    }
    .reset{
      flex:1;
      color: #fff;
      font-weight: 300;
      font-size: 13px;
    }
  }
  .selector{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    .title{
      font-size: 15px;
      font-weight: 300;
      background: #dadada;
      color: #000;
      padding: 15px;
      text-align: center;
    }
    .variant{
      padding: 15px;
      text-align: center;
      font-size: 15px;
      font-weight: 300;
      color: #000;
      background: #fff;
      &.active{
        color:#fff;
        background: #1b9e48;
      }
    }
  }
  .apply{
    height: 40px;
    margin-top: 15px;
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    background: #0492cf;
    color: #fff;
    border-radius: 20px;
  }
}