.footer{
  padding-top: 55px;
  padding-bottom: 30px;
  background: #212121;
  font-size: 14px;
  color:#fffefe;
  .logo{
    margin-bottom: 25px;
  }
  .gray{
    color:#646464;
    margin-top: 20px;
  }
  .site-link{
    display: inline-block;
    color:#bfbfbf;
    margin-bottom: 20px;
    text-decoration: none;
  }
  .site-link.active{
    border-bottom: 3px solid #1c9e48;
  }
  .feedback{
    display: flex;
    align-items: center;
    .text{
      margin-left: 6px;
      font-size: 12px;
      color:#1c9e48;
    }
  }
  .social{
    font-size: 12px;
    margin-top: 20px;
    color:#bfbfbf;
    img{
      margin-left: 5px;
    }
  }
}