.table-asis {
  .subtitle {
    font-weight: 400;
    font-size: 16px;
    margin-top: 35px;
}
  table {
    margin-top: 35px;
    font-size: 16px;
    thead {
      font-size: 14px;
      font-weight: 300;
      background: none;
      color: #fff;
      tr {
        border-bottom: 15px solid rgba(0, 0, 0, 0);
        th {
          font-weight: 300;
          font-size: 14px;
          padding: 10px 0;
          &:first-child, &:last-child {
            padding: 10px;
        }
          .header-holder {
            display: flex;
            align-items: center;
            .text {
              margin-left: 5px;
          }
        }
      }
    }
  }
    tbody {
      margin-top: 20px;
      background: #fff;
      color: #000;
      tr {
        &.expanded{
          td{
            border-bottom: none;
        }
      }
        td {
          padding: 25px 0;
          &.departure-time {
            max-width: 200px;
            padding-left: 20px;
            .time {
              font-weight: 600;
              font-size: 24px;
          }
            .timezone {
              margin-top: 15px;
              color: #484747;
              font-size: 14px;
              font-weight: 300;
          }
            .point {
              margin-top: 13px;
              color: #1b9e48;
              font-size: 14px;
              a.place-icon {
                color: #1b9e48;
                font-size: 14px;
            }
          }
            .underground-station {
              margin-top: 15px;
              font-size: 13px;
              a {
                color: #a2a2a2;
                img{
                  margin-right: 4px;
              }
            }
          }

            .company {
              margin-top: 15px;
              font-size: 13px;
              color: #a2a2a2;
          }
        }
          &.time-on-line {
            .time {
              font-size: 14px;
          }
            .sub {
              font-size: 13px;
              color: #b0b0b0;
          }
        }
          &.arrival-time {
            .time {
              font-weight: 600;
              font-size: 24px;
              .addiction {
                font-size: 13px;
                font-weight: 300;
                color: #b0b0b0;
            }
          }
            .timezone {
              color: #484747;
              font-size: 13px;
              font-weight: 300;
          }
            .point {
              color: #1b9e48;
              font-size: 14px;
              font-weight: 300;
              a {
                color: #1b9e48;
            }
          }

        }
          &.days {
            font-size: 13px;
            font-weight: 300;
        }
          &.ways {
            .way {
              color: #1b9e48;
              font-size: 13px;
              font-weight: 300;
          }
        }
          &.cost {
            max-width: 200px;
            .amount {
              font-size: 14px;
              font-weight: 700;
          }
            .buy-button {
              margin-top: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 140px;
              height: 45px;
              background: #1b9e48;
              color: #fff;
          }
            .info{
              margin-top: 55px;

              font-weight: 300;
              a{
                color:#1b9e48;
            }
              font-size: 13px;
          }
        }
      }
        &.fullinfo {

          td{
            border-top: none;
            padding-top:55px;
        }
          .timing {
            .start {
              .time {
                font-size: 20px;
                font-weight: 700;
            }
              .date {
                font-size: 13px;
                font-weight: 300;
                color: #484747;
            }
          }
            .finish {
              margin-top: 30px;
              .time {
                font-size: 20px;
                font-weight: 700;
            }
              .date {
                font-size: 13px;
                font-weight: 300;
                color: #484747;
            }
          }
        }
          .points {
            .last-description {
              margin-top: 5px;
              margin-left: 39px;
              color: #7b7b7b;
              font-weight: 300;
              font-size: 13px;
          }
            .middle-points {
              margin-top: 30px;
              color: #e8656c;
              font-size: 13px;
              margin-left: 39px;
          }
            .timeline-list {

              //border-left: 5px solid #ccc;
              position: relative;
              max-width: 700px;
              margin: 0 auto;
              list-style: none;

              &:before {
                content: "";
                border-left: 2px dashed #1c9e48;
                left: 1.9em;
                height: 100%;
                position: absolute;
                bottom: 0;
                top: 0;
                transform-origin: 0 0;
                animation: scaleVertical 3s 1s ease both 1;
            }

              li {
                &:first-child {
                  margin-top: 0;
              }
                margin-top: 35px;
                position: relative;
                color: #7b7b7b;
                font-weight: 300;
                font-size: 13px;
                .title {
                  color: #000;
                  font-weight: 600;
                  font-size: 13px;
                  line-height: 0.8;
              }

                p {
                  margin-top: 5px;
              }
                .content {

              }
                &:before {
                  content: "";
                  position: absolute;
                  top: 0px;
                  left: -1.05em;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  background: none repeat scroll 0% 0% #fff;
                  border: 2px solid #1c9e48;
                  animation: revealScaleUp 0.75s 0s ease both 1;
              }

            }
          }
        }
          .additional-info {
            .title {
              font-size: 13px;
          }
            .info {
              margin-top: 15px;
              font-weight: 300;
              font-size: 13px;
              color: #7b7b7b;
              p {
                margin-bottom: 7px;
            }
          }
        }
          .driver-info {
            font-size: 13px;
            .title {
              margin-top: 30px;
              &:first-child{
                margin-top: 0;
            }
          }
            .info {
              margin-top: 10px;
              color: #7b7b7b;
              font-weight: 300;
              ul {
                margin-top: 30px;
                &.leaders {
                  max-width: 40em;
                  padding: 0;
                  overflow-x: hidden;
                  list-style: none;
                  li {
                    &:before {
                      float: left;
                      width: 0;
                      white-space: nowrap;
                      content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
                  }
                    span {
                      &:first-child {
                        padding-right: 0.33em;
                        background: white;
                    }
                      & + span {
                        float: right;
                        padding-left: 0.33em;
                        background: white
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
}