.tickets-table
  &__item
    border-bottom: 1px solid $grey

.ticket
  display: flex
  flex-flow: row wrap
  align-items: flex-start
  justify-content: space-between

  padding: 15px
  background: $white
  color: $black
  font-size: 14px
  line-height: 1.75em

  &-col
    padding: 5px

  &__time
    &--hour
      font-size: 1.5em
      font-weight: bold
      margin-right: 5px
    &--date
      color: $grey

  &__timezone
    color: #484747

  &__point
    color: $green

  &__company
    color: $grey

  &-duration
    &__arrow
      max-width: 100%

  &__partner
    display: flex
    &-logo
      max-height: 60px
      max-width: 80px

  &__button
    padding: 10px 20px
    display: inline-block

    @media (max-width: 768px)
      width: 100%

  &__departure, &__arrival
    width: 25%
  &__duration, &__days, &__partner, &__price
    width: calc(50% / 4)

  &-price
    &__amount
      font-size: 1.5em
      font-weight: bold
      margin-bottom: 10px


  @media (max-width: 768px)
    padding: 10px
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.23)

    &__point
      font-size: 0.875em
      height: 40px
      line-height: 20px
      overflow: hidden

    &__departure, &__arrival
      width: 40%

    &__arrival
      text-align: right

    &__duration
      width: 20%

    &__days
      width: 50%

    &__price
      width: 100%

    &__partner
      justify-content: flex-end
      width: 50%
      
    &-duration
      &__time
        text-align: center
      &__sub
        display: none
