.layout-flex
  display: flex
  flex-flow: column nowrap
  min-height: 100%

  &__nav
    position: fixed
    z-index: 100
    top: 0
    left: 0
    width: 100%

  &__content
    display: flex
    flex-flow: column nowrap
    flex: 1 1 auto
    padding-top: 60px

    @media (min-width: 1024px)
      padding-top: 80px