.car-map
  background-color: $white
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1)

  &-header
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start

    &__button
      display: block
      width: 50%
      padding: 15px
      
  &-body
    position: relative

    &__block
      display: none
      &.active
        display: flex

  &-content
    flex-flow: row wrap
    width: 100%

    &--column
      width: 100%

      @media(min-width: 1024px)
        width: 50%

    &--calculator
      margin: 5px 20px

    &__header
      padding: 15px
      font-weight: bold

    &__body
      margin: 10px 10px 20px
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1)

      & .car-map-route-table, & .car-map-content__map
        height: 240px

        @media(min-width: 1024px)
          height: 480px

    &__progressbar
      margin: 10px 0
      min-height: 5px