.car-route-data
  background-color: $white
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: center

  &-item
    margin: 20px
    display: flex
    flex-flow: row nowrap
    align-items: center

    font-size: 12px

    &__icon
      display: inline-block
      border-radius: 50%
      width: 40px
      height: 40px
      background-color: $yellow
      background-position: center
      background-repeat: no-repeat
      background-size: 40px

      margin-right: 10px

      &--map
        background-image: url(../img/car/icons/icon_map.png)

      &--clock
        background-image: url(../img/car/icons/icon_clock.png)

      &--oil
        background-image: url(../img/car/icons/icon_oil.png)

      &--ruble
        background-image: url(../img/car/icons/icon_ruble.png)

      &--earn-money
        background-image: url(../img/car/icons/icon_earn-money.png)

    &__text
      line-height: 1.5
      text-align: left

    &__title
      color: rgb(139, 139, 139)

    &__value
      color: $black
      font-weight: bold
      font-size: 16px