.car-map-route-table
  min-height: 240px
  font-size: 14px
  line-height: 15px

  &__header
    background-color: $yellow
    padding-right: 15px
    font-weight: bold

  &__body
    margin: 0
    padding: 0
    list-style-type: none
    height: calc(100% - 60px)
    overflow-y: auto

    @media (min-width: 1024px)
      height: calc(100% - 40px)

    & .car-map-route-table__row
      &:nth-child(even)
        background-color: $darkgrey
      &:nth-child(odd)
        background-color: $white

  &__row
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: center

    height: 60px
    border-bottom: 1px solid $darkgrey

    @media (min-width: 1024px)
      height: 40px

  &__col
    width: 25%
    padding: 5px 10px
    overflow: hidden
    text-overflow: ellipsis