.car-calculator
  display: inline-flex
  flex-flow: row wrap
  align-items: flex-end
  border: 1px solid #d4d4d4
  padding: 0 10px

  &__input-wrapper
    display: flex
    flex-flow: column nowrap
    flex-grow: 1
    margin: 10px 0


  &__input
    height: 40px
    border: 1px solid #d4d4d4
    padding: 10px

    &-title
      color: $black-light
      font-size: 12px
      padding: 0px 10px

  &__button
    flex-grow: 1
    text-align: center
    padding: 10px
    margin: 10px 0