.car-form
  padding: 20px
  margin-left: auto
  margin-right: auto
  max-width: 770px

  &--black
    background-color: rgba(0,0,0,0.7)

  & .form-input-block.form-input-block-big
    width: 290px

  & .top-cities-list
    padding: 5px 0 0 15px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

    @media (max-width: 767px)
      padding-left: 10px

  @media (max-width: 767px)
    &.cities .cities-form .form-group-block.inputs-group .form-input-block
        border: none !important