.car-page
  //display: flex
  //flex: 1 1 auto
  //flex-flow: column nowrap

  &--city-city
    background-color: $darkgrey

    & .car-block--driver
      margin: 40px 0

    & .car-block--car-map
      margin: 40px 0