.car-rides
  margin: 0
  padding: 0
  list-style-type: none
  max-height: 320px
  overflow-y: auto

  @media (min-width: 1024px)
    max-height: 480px

  &__fail
    padding: 15px

  &__item
    border-bottom: 1px solid $darkgrey
    padding: 11px 15px 12px

    &:nth-child(even)
      background-color: $darkgrey
    &:nth-child(odd)
      background-color: $white

  &-item
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: center

    &__dates
      display: flex
      flex-flow: row wrap
      justify-content: flex-start
      align-items: center

    &__action
      display: flex
      flex-flow: row wrap
      justify-content: flex-start
      align-items: center

    &__city
      &:not(:first-child)
        &:before
          content: '→'
          margin: 0 2px

    &__points
      color: #4e4e4e

    &__point
      position: relative
      padding-left: 20px

      &:before
        content: ''
        display: inline-block
        position: absolute
        left: 0
        top: 0
        bottom: 0
        margin: auto
        width: 10px
        height: 10px
        border-radius: 50%
        border: 2px solid #054752

    &__places
      margin: 10px

      &-count
        font-size: 1.25em

    &__cost
      margin: 10px

      &-value
        font-size: 1.25em

    &__button
      width: 100%
      padding: 10px 15px

      @media (min-width: 1024px)
        width: initial