.city-distance-table
  border-radius: 5px
  overflow: hidden
  display: flex
  flex-flow: column nowrap
  max-width: 570px
  width: 100%
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.09)
  text-align: left


  &__head
    &--yellow
      background-color: $yellow

  &__body
    & .city-distance-table__row
      border: 1px solid transparent
      transition: 0.2s ease-in
      
      &:nth-child(even)
        background-color: $darkgrey
      &:nth-child(odd)
        background-color: $white
      &:hover
        box-shadow: 0 -2px 5px rgba(0,0,0,0.3)

  &__row
    display: flex
    flex-flow: row nowrap
    color: $black


  &__column
    width: calc(100% / 3)

    &--bodycol
      padding: 10px 15px

    &--headcol
      padding: 15px