.tables-container
  display: flex
  flex-flow: row wrap
  justify-content: center

  @media (min-width: 1024px)
    flex-flow: row wrap
    justify-content: space-between

  & > div
    margin-bottom: 20px