﻿
/*Modal Popup*/
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}


.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}

.sampleStyleA {
	background-color:#FFF;
}

.sampleStyleB {
	background-color:#FFF;
	font-family:monospace;
	font-size:10pt;
	font-weight:bold;
}

.sampleStyleC {
	background-color:#ddffdd;
	font-family:sans-serif;
	font-size:10pt;
	font-style:italic;
}

.sampleStyleD {
	background-color:Blue;
	color:White;
	font-family:Arial;
	font-size:10pt;
}

/*Popup Control*/
.popupControl{
	background-color:White;
	position:absolute;
	visibility:hidden;
}


/*Textbox Watermark*/

.unwatermarked {
	color:Black;
	
}

.watermarked {
	
	background-color:#F0F8FF;
	color:gray;
}	


/*AutoComplete flyout */
.autocomplete_completionListElement
{background:#fff; height:200px; overflow:auto; font-size:13px; border:1px solid #99b5c6; list-style-type:none; margin: 0 0; padding:0 0px;
 }
.autocomplete_listItem
{color:#747474; display:block; text-decoration:none; padding: 2px 10px;}
.autocomplete_highlightedListItem
{color:#747474; display:block; text-decoration:none; padding: 2px 10px;background:#f2f6f7;}

.validatorCalloutHighlight
{
    background-color: lemonchiffon;
}
.validatorCalloutHighlight table {margin:0 0 0px 0;width:250px !important;}
.validatorCalloutHighlight td {padding: 0px 0px 0px 0; vertical-align:top !important;}


.cardon li { padding:0 0 7px 19px; background:url(/New/images/gran.png) 2px 4px no-repeat;}

.climat {list-style-type:none; margin:0; padding:0; line-height:130%;}

.butspan {display:block; float:right; height:25px; font-size:13px !important; padding: 4px 11px 0 12px; background:url(images/but.gif) 0 0 no-repeat; }

.enterform {position:absolute; top: 0; right:0; z-index:8; width:227px; height:159px; text-align:left; color:#6e7679;}
.enterform fieldset {width:204px; height:151px; padding: 8px 0 0 23px; background:url(images/form_enter.png) 0 0 no-repeat;}
.enterform div {width:195px; height:27px; margin:  0 0 10px 0; background:url(images/inp_enter.png) 0 0 no-repeat;}
.enterform div input {width:175px; padding:4px 10px; border:0; color:#999999; font-size:15px; background:none;}
.enterform  p {padding:0 0 12px 0; }


.ttoffroute
{
	font-size:10px;
}


.table_marshrut .ttfrom td {background-color:#f5f6f7 !important; border-top:2px solid black;}
.table_marshrut .ttto td {background-color:#f5f6f7 !important; border-bottom:2px solid black;}

.enter .ref  span {color:#fff; font-size:15px; text-decoration:none; border-bottom:1px dashed #fff;}
.enter .ref  span:hover {border-bottom:0;}

/*
.right_part {float:left; width:400px; padding:2px 40px 0 0px; margin:  0 0 0 -440px;	}
.content {margin: 0 461px 0 0; padding: 2px 10px 0 30px;}
*/

.rzdlogo {white-space: nowrap;   float:right; clear:right; padding: 40px 40px 8px 60px; 	font-size:15px; }

.aspan {color:#5c91ab; }

.tz_menu
{
	border: solid 1px gray;
	line-height:20px;
	background-color:White;
}

.inpEmail
{
	border:1px solid #a4becd; padding: 2px 5px; width:92%; font-size:18px; color:#747474;
}

.emailPanel
{
	margin-bottom:10px;
}

.haveSeats
{
	float:left;
	color:Green;
	padding:2px 2px 2px 2px; margin:2px 0 0 0;
	margin-right:5px;
}

.haveSeatsNearBuy
{
	float:left;
	/*background-color:Green;color:White;*/
	padding:2px 2px 2px 2px; margin:2px 0 0 0;
	margin-right:5px;
}

.betterPath
{
	font-size:25px;text-align:center;margin-bottom:5px;color:Green;font-weight:bold;
}

.noData
{
	float:left;
	text-align:left;
	color:Gray;
	font-size:11px;
}
.noSeats
{
	float:left;
	text-align:left;
	color:Gray;
	font-size:11px;
}


.trip_Undefined {
	float: left;
	text-align: left;
	color: Gray;
	font-size: 11px;
}

.trip_Invalid {
	float: left;
	text-align: left;
	color: Gray;
	font-size: 11px;
}

.price_Approx {
	white-space:nowrap;color:gray;font-size:smaller;
}

.price_Exact {
	white-space: nowrap;
}

.compart_first {text-align:right;width:25px; }

.groupRadio
{
	display:none;
}

h2 {font-size:1.81em; margin:0; padding:0px 0 3px; font-weight:normal; line-height:100%; color:#5c91ab;}
h2 span {color:#999999; font-size:0.9em;}
h2 img { margin-right:2px;}


.disablingDiv 
{ 

       
     /* Display it on the layer with index 1001. 
        Make sure this is the highest z-index value 

       used by layers on that page */ 

     z-index:1001; 
       

     /* make it cover the whole screen */ 

     position: absolute;  

     top: 0%;  

     left: 0%;  

     width: 100%;  

     height: 100%;  

     /* make it white but fully transparent */ 

     opacity:.50;  

     filter: alpha(opacity=50);  
background-color: white;  
     /*

*/
} 


.backlink
{
	font-size:12px;
}

.compartment .tempblocked  {background:#e4e0d8; cursor:default;}

.calendar .title .note {color:#fff;font-size:10px;}

.go_next   {display:block; cursor:pointer; float:right; width:116px; height:34px; border:0;  font-size:16px; color:Green; margin:0; }
.go_next[disabled]   { cursor:default; color:#cbcbcc; }
.go_next_disabled   { cursor:default; color:#cbcbcc; }


.go_next_enabled
{
	 border: solid 1px gray;
            border-radius: 2px;
            background-color: #7FC078;
            color: white;
            padding: 5px;
            text-decoration: none;
            cursor:pointer;
}


.text_error {font-size:1.36em; color:#b2b2b2; font-weight:bold; padding: 5px 0 12px 0;}

.content_error {padding: 0 230px 0 0;}

.form textarea {width:99%; margin:4px 0 12px;}
.form .go {cursor:pointer; color:#4c4c4c; font-size:13px; width:159px; height:24px; border:0; background:url(/New/images/send_message_go.png) 0 0 no-repeat;}
html:root  .form .go, x:-moz-any-link {letter-spacing:-0.5px;}
.go {cursor:pointer;}
.right_part_error {float:left; width:200px; margin: 0 0 0 -200px; font-size:1.2em;}
.mail_block {text-align:center; font-size:1.15em; font-weight:bold; padding:5px 0;}


.pay_selected
{
	border-left: solid 1px green;border-right: solid 1px green;
}

.pay_selected td {border-bottom: solid 2px green;border-top: solid 2px green;}


.user_drop_menu  .dm_top {height:6px; width:205px; font-size:0; line-height:0; background:url(images/user_dm_top.png	) 0 0 no-repeat;}
.user_drop_menu  .dm_center {width:205px; background:url(images/user_dm_bg.png) 0 0 repeat-y;}
.user_drop_menu  .dm_center div  {position:relative; padding:20px 22px 2px; }
.user_drop_menu  .dm_center ul  {list-style-type:none; margin:0; padding:0;}
.user_drop_menu  .dm_center ul li {padding: 8px 0 0;}
.user_drop_menu  .dm_center ul li a {margin: 0 3px 0 0;}
.user_drop_menu  .dm_bt {height:23px; width:205px; font-size:0; line-height:0; background:url(images/user_dm_bt.png) 0 0 no-repeat;}


.load_map {z-index:1002;position: absolute; top:10%; left:50%; margin:0 0 0 -170px; font-size:18px; color:#808080; text-align:center; width:302px; height:110px; padding:55px 20px 20px;background:url(images/map_load.png) 0 0 no-repeat;}
.load_map img {margin:0 0 25px 0;}

.content350 {width:350px; overflow:hidden; float:left; padding: 30px 10px 0 30px;}
.right_part350 {margin: 0 0 0 400px; padding:30px 30px 0 10px;}

.content650 {width:650px; overflow:hidden; float:left; padding: 30px 10px 0 30px;}
.right_part650 {margin: 0 0 0 700px; padding:30px 30px 0 10px;}
.padtop5 {padding-top:7px;}

.noSeatsRow 
{
	color:Gray;
}

.noSeatsRow a
{
	color:Gray;
}

.sorttable_sortable span
{
	border-bottom: 1px dotted;
	cursor:pointer;
	text-decoration:none;
}

.sorttable_numeric span
{
	border-bottom: 1px dotted;
	cursor:pointer;
	text-decoration:none;
}

.sorttable_sorted
{
	color:Black !important;

}

.menu_basket {white-space: nowrap;   float:right; clear:right; padding: 0px 40px 8px 0px; 	font-size:15px; }

.unknownprice{color:Gray;}

.knownprice{font-size:14px;
            font-weight:bold;
            }

.cheapest .price
{
	font-weight:bold;
	background-color: #1DFF00;
   
}

.tiw
{
	white-space:nowrap;
}

.fastest .tiw
{
	font-weight:bold;
	background-color: #1DFF00;
}

.mostconvenient .tiw
{
	font-weight:bold;
	background-color: #1DFF00;
}

.headernote {width:100%; font-size:1.18em;padding:8px 20px 8px 2px;}

.selectedFinish
{
	border: solid 2px green;
	font-size:12px;
	text-align:center;
}


.hidden
{
	display:none;
}


#main_menu {margin:0; padding:23px 0 0 20px; list-style-type:none; font-size:14px;}
#main_menu li {float:left; height:31px;margin: 0 2px 0 0;}
#main_menu li span { height:31px; display:block; padding: 0 10px; line-height:31px; //float:left;}
#main_menu li.active {position:relative; background:#5c91ab url(images/mm_left.gif) 0 0 no-repeat; font-weight:bold;}
#main_menu li.active span {background:url(images/mm_right.gif) 100% 0 no-repeat;}
#main_menu li.active b {position:absolute; z-index:10; left:50%; margin:0 0 0 -8px; top:31px; display:block; width:16px; height:8px; background:url(images/mm_arr.gif) 100% 0 no-repeat;}
#main_menu li.active a {color:#fff;}
#main_menu li.active a:hover {text-decoration:none;}
#main_menu a {color:#000; text-decoration:none;}
#main_menu a:hover {text-decoration:underline;}
#main_menu  .drop {width:195px; position:absolute; left:-11px; top:31px; font-size:11px;}
#main_menu  .drop ul {width:188px; list-style-type:none; margin:0; padding:0 20px 7px 27px; font-weight:normal; background:url(images/main_menu_drop.png) 0 0 repeat-y;}
#main_menu  .drop ul li {float:none; height:auto; margin:0; padding:5px 0 4px;}
#main_menu  .drop ul li a {color:#6e7679; text-decoration:underline}
#main_menu .drop .drop_bt {width:235px; height:21px; background:url(images/main_menu_drop_bt.png) 0 0 no-repeat;}
#main_menu .drop .drop_top {width:235px; height:10px; background:url(images/main_menu_drop_top.png) 0 0 no-repeat;}


.contentsWithRight
{
	float:left;
	padding-right:8px;
	margin-right:0;
	
}

.js-dt
{
	white-space: nowrap;
}

.dtDay
{
	font-weight:normal;
}

.tdPrice
{
	font-size:14px;
	text-align:right;
}


.tdPrice .remark
{
	font-size:12px;
	text-align:right;
	font-weight:normal;
}

.main_submenu_ctn
{
	text-align:left;
	z-index:1000;
	background-color:White;
	border:solid 1px gray;
	padding:3px 3px 3px 3px;
}

.edit
{
	color:Gray;
}

.sbMenuItemA
{
	color:Gray;
}


.timeprice
{
	font-size:8px;
	color:Gray;
}

.tdBuyComment
{
    font-weight:bold;
    font-size:14px;
}


.tdRowComment
{
    font-size:10px;
}

.product {margin: 0 -10px 10px;}
.product .product_item  {width:33%; float:left;}
.product .product_item1  {padding: 7px 10px; }

.buy_later
{
	color:Black;
	background-color:#FFFF99;
	padding:5px 5px 5px 5px;
	font-size:14px;
}

.br
{
	display:block;
}


.tr_zakaz_paidnotfinished
{
	border: solid 3px red;
	border-left-width:10px;
}

.tr_zakaz_ok
{
	border: solid 3px green;
	border-left-width:10px;
}

.tr_notselected
{
	display:none;
}

.tr_selected td
{
	background-color: #afffaf;
}

.tr_selecting td
{
    background-color: #FFFF99;
}

.routefilterctn{text-align:left;margin-bottom:5px;clear:both;}



div.TransferScheme{
    position:relative;
    display:block;
    padding:20px 5px;
    width:820px;
    height:100px;
    margin:auto;
    border-top:2px dotted #F3F5F2;
    margin-top:5px;
    }



 
div.TransferScheme:hover 
{   cursor:pointer;
    background:#F3F5F2;
       border-top:2px dotted #666;
    }
    
.TransferFrom, .TransferTo 
{
    display:inline-block;
    float:left;
    height:99%;
    width:98px;
    background:url('/New/images/TransferScheme/home.png') no-repeat top center;
    border:1px solid #4D4D4D;
    border-radius:4px;
    }



    .TransferFrom span, .TransferTo span 
    {
    display:block;
     font-family:"Segoe UI";
    font-size:9pt;
    color:#330;
    margin-top:65px;
    text-align:center;
   
    }
    
        .TransferPlace span 
    {
    display:block;
    font-family:"Segoe UI";
    font-size:9pt;
    color:#330;
    margin:65px 8px 0 8px;
    text-align:left;
    color:#4D4D4D;
    line-height:100%;
    }
    
    .Arrow
    {
    display:inline-block;
    float:left;
    height:98px;
    width:130px;
    background:url('/New/images/TransferScheme/arrow.png') no-repeat  right center;
    margin:0px 3px;
    }   
   
   
   .TransferPlace {
    display:inline-block;
    float:left;
    height:99%;
    width:98px;
    margin:0px 3px;
    border:1px solid #4D4D4D;
    border-radius:4px;
    }   
   
   .StationTransportClassAir {background:url('/New/images/TransferScheme/airport.png') no-repeat top center;}
   .StationTransportClassRail {background:url('/New/images/TransferScheme/railway.png') no-repeat top center;}
   
   
   .howToTransfer
   {
    
    font-family:"Segoe UI";
    font-size:9pt;
    color:#330;
    text-align:left;
    color:#1a1a1a;
    line-height:125px;
    }
    
    
    
    .howToTransfer span, .dottedSpan
    {
    cursor:pointer;
    border-bottom:1px dotted #1a1a1a;
    margin-left:15px;
    }
    
    
    
    .TransportClassByAir div
    {
    background: url('/New/images/TransferScheme/byAvia.png') no-repeat center 10px ;
    width:100%;
    height:100%;
    line-height:125px;
    text-align:center;
        }
    
    .TransportClassByAir div span
    {
       cursor:pointer;
    border-bottom:1px dotted #1a1a1a; }
    
        
    .TransportClassByRail div
    {
    background: url('/New/images/TransferScheme/byTrain.png') no-repeat center 10px ;
    width:100%;
    height:100%;
    line-height:125px;
    text-align:center;
    }
    
    .TransportClassByRail div span
    {
       cursor:pointer;
    border-bottom:1px dotted #1a1a1a; }

    .TransferSearchResult
    {position:relative;
    display:block;
    padding:2px;
    width:800px;
    height:18px;
    margin:auto;
    margin-top:40px;
    font-family:"Arial";
    color: #333;
    font-size:13pt;
        }
       
    .TransferSearchResult .price
    {font-weight:bolder;
     color:#000;
     font-size:20px;
        }
        
    .TransferSearchResult .moreAboutTrip
    {border-bottom:1px dashed #0000FF;
     color:#0000FF;
     cursor:pointer;
        }       
       
       
       /* Блок "Подробнее - как доехать"  */
            .MoreAboutTransfer {
            display:inline-block;
            float:left;
            width:130px;;
            margin:0px 3px;
            }
            
            .MoreAboutTransfer a{color:#006; border-bottom:1px solid #006;}
            .MoreAboutTransfer a:hover{color:#00a;  border-bottom:1px solid #00a;}
            .moreMaxHeight{height:150px !important;}
              
            .TransferByTaxiFrom{position:relative; height:20px; background: url('/New/images/TransferScheme/arrowGrey.png') center right no-repeat; margin:13px 0 30px 0;}
            .TransferByBusFrom{position:relative; height:20px; background: url('/New/images/TransferScheme/arrowGrey.png') center right no-repeat; margin:13px 0 30px 0;}
            .TransferByTrainFrom{position:relative; height:20px; background: url('/New/images/TransferScheme/arrowGrey.png') center right no-repeat; margin:13px 0 30px 0;}
       
            .transferType{display:inline-block;  float:left; line-height:90%; font-size:8pt;text-align:center; position:relative; padding-top:20px; overflow:hidden;}
            
            .ByMetro {width:55%; background: url('/New/images/TransferScheme/TransferByMetro.png') center top no-repeat;}
            .ByTaxi {width:90%; background: url('/New/images/TransferScheme/TransferByTaxi.png') center top no-repeat;line-height:18px;}
            .ByBus {width:44%; background: url('/New/images/TransferScheme/TransferByBus.png') center top no-repeat;}
            .ByAeroexpress {width:44%; background: url('/New/images/TransferScheme/TransferByAeroexpress.png') center top no-repeat;}
            
            
           .filter_opened .filteropener
           {
           		display:none;
           }
           
           .filter_closed .filtercloser
           {
           		display:none;
           }
           
           .filter_closed .routefilter
           {
           		display:none;
           }
         
         
         .filteredsome
         {
         	font-size:12px;
         }
         
         .filteredempty
         {
         	font-size:12px;
         }
         
         
         .transferscheme_showfirst .transfer_scheme_notfirst
         {
         	display:none;
         }
         
       .transferschemes
       {
		margin-top:40px;
       }
       
       
       .pdr_more
       {
       	font-size:14px;
       	font-weight:bold;

       }
       
       .pdr_online_item_container
       {
       }
       
       .PDR_ONLINE_item_container .item_more_ctn
       {
       	display:none;
       }
    
       .PDR_ONLINE_item_container .item_startstation
       {
       	display:none;
       }
       
       .PDR_ONLINE_item_container .item_finishstation
       {
       	display:none;
       }
       
       
       .nohref
       {
       	text-decoration:none;
       	cursor:default;
       }
       
       
       .butbuynew
       {
            border: solid 1px gray;
            border-radius: 2px;
            background-color: #7FC078;
            color: white;
            padding: 5px;
            text-decoration: none;
            cursor:pointer;
       }

.butbuynewbig {
	border: solid 1px lightgray;
	border-radius: 5px;
	background-color: #7FC078;
	color: white;
	padding: 5px;
	text-decoration: none;
	cursor: pointer;
	width: 150px;
    text-align:center;
}
       
       .butbuynewbig:hover
       {
            border: solid 1px green;
            border-radius: 5px;
            background-color: #7FC078;
            color: white;
            padding: 5px;
            text-decoration: none;
            cursor:pointer;
            width:150px;
       }

.inp_payer
{
    font-size:16px;
    color:Black;
}

.inp_payer_comment
{
    font-size:12px;
    color:Gray;
}

.hidemorecarriers .morecarriers
{
    display:none;
}

.tdRowComment
{
    margin:2px;
}



.time_right {float:right; font-size:1.2em; padding: 8px 0 0 22px; background:url(images/time_ico.gif) 0 8px no-repeat;}
.time_right a {text-decoration:none; border-bottom:1px dashed #5c91ab; line-height:1.4;}
.time_right a:hover {border-bottom:0;}

.time_right_new {margin-right:-150px;text-align:left; font-size:1.2em; padding: 8px 0 0 22px; background:url(images/time_ico.gif) 0 8px no-repeat;position:relative;left:40px;white-space:nowrap;}
.time_right_new a {text-decoration:none; border-bottom:1px dashed #5c91ab; line-height:1.4;}
.time_right_new a:hover {border-bottom:0;}


.currency { font-size:1.2em; padding: 0 0 0 2px;white-space:nowrap;
           width:90px;float:left;clear:both;}
.currency a {text-decoration:none; border-bottom:1px dashed #5c91ab; line-height:1.4;}
.currency a:hover {border-bottom:0;}


.table_route th
{
    vertical-align:top;
}

.table_marshrut th
{
       vertical-align:top;
}



.smarts
{
    display:block;
    color:Gray;
    margin-bottom:10px;
}
.routefilter
{
    margin: 3px 3px 3px 3px;
    padding: 4px 4px 4px 4px;
    background-color:#efefef;
    border:solid 1px gray;
    line-height:25px;
}

.filteropen
{
    color: #5C91AB;
    border-bottom: 1px dashed #5C91AB;
    line-height: 1.4;
    
    cursor:pointer;
}

.filtervaluectn .link
{
	text-decoration:underline;
	color:#5c91ab;
	cursor:pointer;
}

.filtervaluectn .expand
{
	text-decoration: underline;
	color:#5c91ab;
	cursor:pointer;
}

.filtervalues_hidden .filtervaluectn
{
	display:none;
}

.filtervalues_hidden .filteritem_headerhtml
{
	display:none;
}

.filtervalues_hidden .ctn_filter_slider
{
	display:none;
}

.tbl_slider_lefttd{
	text-align:left;
}

.tbl_slider_centertd{
	text-align:center;
}

.tbl_slider_righttd{
	text-align:right;
}



.filteritemname
{
    border-bottom:1px dashed #d9d9d9;
    font-weight:bold;
    margin: 5px 5px 5px 5px;
    text-indent:5px;
}

.filteredempty
{
    font-size:12px;
    margin: .4em 0 .8em;
}

.price
{
	white-space:nowrap;
}


.price .catclass
{
    color:Gray;
    font-size:12px;
}

.price .catvalue
{
    font-size:12px;
}

.price .value
{
    font-size:12px;
}

.ppmany
{
    border:solid 1px green;border-top: 0;
}


.showRoutesG
{
	clear:left;
	padding-top:10px;
}

.showRoutesG a
{
	font-size:20px;
}


.pososhok button
{
	font-weight:bold;
	font-size:14px;
}

.rp_code
{
	font-size:8px;
}

.transfernames
{
	margin-left:65px;
	margin-bottom:5px;
	font-size:12px;
}



.waytable .big {
    font-weight: bold;
    font-size: 18px;
}

.lowercase {
    text-transform: lowercase;
}

.black
{
	color:Black;
}


.waytable .car_class {
    display: block;
    width: 171px;
}

.waytable.last_line tr:last-child td {
    border-bottom: solid 1px #b2b0a9;
}

.waytable .big {
    font-weight: bold;
    font-size: 18px;
}

.waytable.fix_height td{
    height: 64px;
}

.waytable td {
	padding-top: 8px;
	padding-bottom: 8px;
	border-top: solid 1px #b2b0a9;
	cursor: pointer;
}

.waytable.nopointer td{
    cursor: inherit;
}

.waytable td:last-child {
    padding-right: 16px;
}
.waytable .car_class {
    display: block;
    width: 171px;
}

.step .active a
{
	display:none;
}

.totalpricecalc
{
	font-size:smaller;
	color:Gray;
	font-weight:normal;
}

.totalprice
{
	font-size:18px;
	font-weight:bold;
}

.link_more_route
{
	display:block;
	margin:5px;
	font-size:9px;
}

#ctnchildborderrule
{
	float:right;
	margin-right:20px;
	margin-bottom:10px;
}


.rfeatured .rtd
{
	padding-top:20px;
}


.featuretitlectn
{
	position:relative;
}

.featuretitle
{
	font-size: large;position:absolute;top:-20px;width:550px;
}

.warnEnterDate
{
	font-size:20px;color:White;
	background-color:Red;
	width:80px;
}


.advert {margin: 0 0 18px 0; width:200px; line-height:130%; padding: 0 0 3px 0; }
.advert .title {height:16px; overflow:hidden; width:80px; background-color:#d6dcdf; border-radius: 4px 4px 0 0;}
.advert .text {padding:9px 9px 10px 9px; color:gray; border-width:1px 1px 1px 1px; border-color:#d6dcdf; border-style:solid; border-radius: 0 4px 4px 4px;}
.advert p {padding: 2px 0;}

.advert ul
{
	padding-left:0px;
}

.advert li
{
	margin-bottom:5px;
}


.hadstitle
{
	font-size:13px;
	font-weight:bold;
}


.hadsdescr
{
	font-size:11px;
}

.hadsurl
{
	padding-top:0px;
	color:#060;
	font-size:11px;
	font-family:normal;
}

        
        
        div.plusBtn
{display: inline-block;
 padding: 5px 10px 5px 30px;
 border: 0px;
 border-radius: 4px;
 background: #5d97b2 url('/new/images/plsBtn.png') no-repeat 5px center;
 color:#fff;
 font-size:12pt;
 font-weight:bold;
 cursor:pointer;
    }
    
    .myrouteslink
    {
    width:100px;
    margin:5px 5px 5px 5px;
    float:right;
    }
    
    
    
    .exsample
    {
    	color:Gray;
    	text-align:left;
    }
    
    
    
    
.content_right250 {padding-right:250px; overflow:hidden;}
.right_part250 {width:250px;float:left;margin-left:-250px; overflow:hidden;vertical-align:top;}

.content_left250 {padding-left:250px; overflow:hidden;}
.left_part250 {width:250px;float:right;margin-right:-250px; overflow:hidden;vertical-align:top;}

.content_left350 {padding-left:350px; overflow:hidden;}
.left_part350 {width:350px;float:right;margin-right:-350px; overflow:hidden;vertical-align:top;}

.content_left200 {padding-left:200px; overflow:hidden;}
.left_part200 {width:200px;float:right;margin-right:-200px; overflow:hidden;vertical-align:top;}


.content_left250_test {padding-left:250px; overflow:hidden;border:solid 1px red;}
.left_part250_test {width:240px;float:right;margin-right:-250px;border:solid 1px green; overflow:hidden;vertical-align:top;}
.content_right250_test {padding-right:250px; overflow:hidden;border:solid 1px red; }
.right_part250_test {width:240px;float:left;margin-left:-250px; overflow:hidden;vertical-align:top;border:solid 1px green; }

.staticmap_ctn
{
	cursor:pointer;
}

.ctnExpandedSearch
{
	
	margin: 0 10px 0 10px;
}



.carriercell:hover
{
	cursor:pointer;
	background-color: lightgreen;
}

.timatable_viewsCtn
{
	border-top:solid 1px gray;
}


.dashedlink
{
	text-decoration:none;
    color: #5C91AB;
    border-bottom: 1px dashed #5C91AB;
    line-height: 1.4;
    cursor:pointer;
}

.filtervaluecomment
{
	float:right;
	color:blue;
	font-size:11px;
	white-space:nowrap;
}

.routetree .selectedtreeitemname
{
	font-weight:bold;
	color:White;
	background-color:lightgray;
}




.routetree .filtervaluecomment
{
	float:left;
	/*display:none;*/
	color: rgb(97, 54, 59);
	font-size: 11px;
	white-space: nowrap;
	line-height: 24px;
	margin: 0 5px 0 5px;
}

.rootlevel > .filtervaluecomment
{
	font-weight:bold;
	font-size:larger;
	display:inline;
}

.routetree .selectedtreeitemname > .filtervaluecomment
{
	
	display:inline;
}


.treeitem_subitems {
    margin-left: 20px;
    clear: both;
}

.routetree .selectedtreeitemname > .treeitem_subitems > .treeitem > .filtervaluecomment
{
	
	display:inline;
}



.routetree .filtervaluecomment2
{
	float:left;
	/*display:none;*/
	color: rgb(48, 135, 181);
	font-size: 11px;
	white-space: nowrap;
	line-height: 24px;
	margin: 0 5px 0 5px;
}

.rootlevel > .filtervaluecomment2
{
	font-weight:bold;
	font-size:larger;
	display:inline;
}

.routetree .selectedtreeitemname > .filtervaluecomment2
{
	
	display:inline;
}


.routetree .selectedtreeitemname > .treeitem_subitems > .treeitem > .filtervaluecomment2
{
	
	display:inline;
}



.routetree .selectedtreeitemname > .treeitem_subitems > .ctnpathparts
{
	clear:both;
	display:block;
}

.routetree .ctnpathparts
{
	clear:both;
	display:none;
}

.routetree .show_path_on_map
{
	
	display:none;
}

.routetree .selectedtreeitemname > .show_path_on_map
{
	display:inline;
}


.routetree .filteritem_headerhtml {
    display: none;
}

.routetree .selectedtreeitemname > .filteritem_headerhtml {
    clear: both;
    display: inline;
}

.routetree .filteritem_tailhtml {
    display: none;
}

.routetree .selectedtreeitemname > .filteritem_tailhtml {
    clear:both;
    display: inline;
}


.routetree .more_link
{
	display:none;
	padding:5px;
}

.routetree .selectedtreeitemname > .more_link
{
	display:block;
	text-align:right;
	margin:0 5px 5px 0;
}


.treeitemname
{
	float:left;
	margin: 3px 5px 3px 5px;
	line-height:25px;
}

.tcnode .treeitemname
{
	font-size:8px;
}

.rootlevel
{
	font-size:14px;
}

.routetree
{
    margin: 3px 3px 3px 3px;
    padding: 4px 4px 4px 4px;
    background-color:#f4f4f4;
    border:solid 1px gray;
}

.filteritemctn
{
	clear:both;
}



.wrapper_right {float:right; width:100%;}



.active_date
{
	font-size:18px;
}


.show_timetable
{
	margin-left:5px;
}

.show_pathpart_on_map
{
	font-size:0.9em;
	margin-left:10px;
	color:Gray;	
	
}

.show_path_on_map
{
	margin-left: 10px;
	margin-top: 5px;
	margin-right:5px;
	color: gray;
	float: left;
}

.pp_treehead
{
	margin-left:10px;
}

.tiw_small
{
	color:Gray;
}

.tiw_small_rp
{
	color:Gray;
}


.directNotFoundMessage
{
	font-size:16px;
	margin:10px;
}

.tt_station
{
	display:block;
}




.timetable_tabs_ctn
{
	margin-left:10px;
}

.timetable_tabs_ctn .rtsTxt
{
	font-size:18px;
}

.content_margins
{
	margin: 10px;
}
.search_form .transport_label  {font-size:1.3em; }
.search_form{ text-align:left;border-radius: 0 0 5px 5px; }



.sft {font-size:1.54em; font-weight:bold;  background-color: #5c91ab; border-radius: 5px 5px 0 0; text-align:left;color:#fff;  padding:4px 10px 2px 10px;   }
.sft .other_search {font-size:0.77em; text-decoration:none; font-weight:normal; border-bottom:1px dashed #fff; line-height:16px;color:#fff; float:right; letter-spacing:0px;margin:1px 0 0 0;}
.sft a:hover {border-bottom:0px;}
.directiontitle{ font-size:25px;line-height:30px;}
.newsearch
{
	font-size:large;text-decoration:none;border-bottom:dashed 1px white;
	color:white;
}


.search_form label  {font-size:1.2em;  vertical-align:middle;}


.datePickerCtn 
{
	border: 10px solid gray !important;
}


.unchoose
{
	clear:both;
}

.nobr
{
	white-space:nowrap;
}

/*.tr_notselected_disabled .but_buy {
    display: none;
}*/

.disabled_by_selection .but_buy {
    display: none;
}

.disabled_by_selection {
    color: gray;
}

    .ritem .disabled_by_selection a {
        color: gray;
    }

.show_pp_onmap
{
	margin: 10px;
font-size: 15px;
}


.timetable_text
{
	width: 90%;
text-align: justify;
margin-left: 30px;
margin-right: 20px;
color:Gray;
}

.hide_tiw_column .th_tiw
{
	display:none;
}

.hide_tiw_column .td_tiw
{
	display:none;
}

.show_tiw_in_arriv .tiw_small
{
	display:block !important;
}

.tiw_small
{
	display:none;
}
/*09.11.2016*/

#trBla .car  a{
color: #413d35;
font-weight:normal;
}
#trBla .bbc-trip {
margin-top: 5px;
margin-left: 36px;
}

#trBla .bbc-vam{
text-align:left;
}
#trBla .bbc-poputi{
color: #413d35;}

  .table_route  #trBla  td , #trBla td{
  padding: 5px 5px 5px 20px;
  vertical-align: middle  !important;
}

#trBla  .bbc-tar.bbc-vam{
  text-align: right
  }
#trBla  .bbc-price{
font-size: 14px;
    font-weight: bold;
}
.btn-2action{
display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	background-color:#7fc078; 
	color:#fff; 
	padding: 7px 10px;
	text-decoration:none; 
	font-weight:bold; 
	overflow:hidden;}
.btn-2action:hover{background-color:#87ca80;}
.btn-2action:active{background-color:#78b472;}
.bbc_time{
display:none;
}
@media screen and (max-width: 1206px) {
   .bbc_time {
      color:#6f6f6f;
	  display:block;
   }
}
#trBla  .bbc_car{
    float: left;
    margin-top: 8px;
}


/*09.11.2016*/



.acitem .place
{
	
}

.acitem .place .actitle
{
	font-weight:bold;
}

.acitem .place .acdescr
{
	
}

.direction
{
	margin-left:40px;
}

.di_icon
{
	margin:2px;
}

.summary_a_item
{
	text-decoration:underline;
}

.tsstate_disbled {
	color:gray;
}

.tsstate_ok {
	color:green;
}

.tsstate_warning {
	color:black;
	background-color:yellow;
}

.tsstate_error {
	color:black;
	background-color:red;
}

.hide_disabled .trstate_disabled {
	display:none;
}

.loading_stats{
	color:yellow;
}
.loading_stats_ok{
	color:green;
}
.loading_stats_no{
	color:gray;
}


.filteritemvalue_a{
	    text-decoration: none;
    /*border-bottom: dashed 1px gray;*/
    font-size: larger;
    position: relative;
    top: -3px;
}

.hide_autocomplete_item{
	display:none;
}

.ritem_admininfo
{
	color:lightgray;
}

.ajax_ritem {
	vertical-align:top;
	padding-bottom:10px;
}


.item .disabled{
	color:gray;
}

.item .disabled a{
	color:gray;
}

.ritem .disabled{
	color:gray;
}

.ritem .disabled a{
	color:gray;
}

.tr_graphstats_warning{
	background-color:yellow;
}
.tr_graphstats_error{
	background-color:red;
}

.warning
{
	background-color:red;
}

.compare_1
{
	background-color:limegreen;
}

.compare_0 {
	background-color: gainsboro;
}

.compare_-1 {
	background-color: gold;
}

.compare_-2 {
	background-color: red;
}


.packet_active {
	font-size: 22px;
	color: black;
	font-weight:bold;
}

.packet_disabled
{
	font-size:15px;
	color:gray;
}

.simpleroutes .ritem {
    cursor: pointer;
}

.simpleroutes .but_buy:hover {
    background-color: #00a87e;
    color: #ffffff;
}

.BLA_item_container 
{
	cursor:pointer;
}

.BLA_item_container .car {
	display: block;
	margin-top: 5px;
}
BLA_item_container .tt_img {
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}
.BLA_item_container td {
	vertical-align: middle !important;
}


.but_buy {
    display: inline-block;
    padding: 6px 12px;
    margin: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #7fc078;
    color: #fff;
    padding: 7px 10px;
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;
}

.but_buy:hover {
    background-color: #87ca80;
}

.but_buy:active {
    background-color: #78b472;
}

.BLA_item_container .but_buy {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid #00a87e;
	border-radius: 4px;
	background-color: #ffffff;
	color: #00a87e;
	padding: 7px 10px;
	text-decoration: none;
	font-weight: bold;
	overflow: hidden;
	transition: All 0.5s ease;
}

.BLA_item_container .but_buy:hover {
	background-color: #00a87e;
	color: #ffffff;
}

.BLA_item_container .but_buy:active {
	background-color: #1d866c;
	color: #ffffff;
}

.morestops
{
	/*display:none;*/
	font-size:10px;
}

.morestops a {
	cursor:pointer;
}

.rfilter_sr_1 .morestops
{
	color:red;
	display:block;
}




.bbcNameCar {
	display: block;
	margin-top: 5px;
}

.bbcImgCar {
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}

.bbcCarRoute td {
	vertical-align: middle !important;
}

.btn-3action {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid #00a87e;
	border-radius: 4px;
	background-color: #ffffff;
	color: #00a87e;
	padding: 7px 10px;
	text-decoration: none;
	font-weight: bold;
	overflow: hidden;
	transition: All 0.5s ease;
}

	.btn-3action:hover {
		background-color: #00a87e;
		color: #ffffff;
	}

	.btn-3action:active {
		background-color: #1d866c;
		color: #ffffff;
	}

.searchplaces .hl{
	font-weight:bold;
	color:green;
}

.hidden_more_item
{
    display:none;
}

.tests .title
{
    font-size:20px;
    color:black;
}

.tests .resultinfo 
{
vertical-align:middle;
font-size:12px;

}

.tests .item {
    border-bottom: dashed 1px gray;
}

.tests .state_warning {
    background-color: lightgoldenrodyellow;
}

.tests .state_error {
    background-color: darkorange;
}

.tests .state_critical {
    background-color: orangered;
}



.unchoose 
{
    display:none;
}

.tr_selected .unchoose
{
    display:block;
}

.seatscount {
    text-align: left;
    margin: 4px;
}

.days {
    text-align: left;
    margin: 4px;
}

.criticalError
{
    color:red;font-size:large;
}

.ctn_reliability
{
    clear:both;
    margin:10px;
    font-size:17px;
    color:darkgreen;
}

.main_tab_template {
    height: 120px;
    width: 120px;
    text-align: center;
}

.buy_panel {
    text-align:center;
    width: 400px;
    height:60px;
    padding: 20px;
    z-index: 101;
    border: 1px;
    background-color: lightyellow;
}

.tr_warn {
    background-color: bisque !important;
}

.wrapper_ctn {
    min-width: 1160px;
    max-width: 1300px;
}
