body {font-size: 62.5%; margin: 0; padding:0px; background: #ffffff; color:#000; font-family: Arial, Tahoma, sans-serif;min-width:1060px;}

 
/*---Global tags---*/
img {border:0;}
form {padding:0; margin:0;}
a {color:#5c91ab; text-decoration:underline;}
a:hover {text-decoration:none;}

hr {border:0px solid #7F7F7F; border-bottom:1px solid #7F7F7F;}
h1, h2, h3, h4 {}
h1 {font-size:1.81em; margin:0; padding:0px 0 10px; font-weight:normal; line-height:100%; color:#5c91ab;}

h1 small {font-size:0.8em;}
h1 small  small {font-size:13px; color:#5c91ab;}
h1 b {font-weight:normal; color:#000; font-size:13px;}
h1 img { margin-right:2px;}

h2 {font-size:1.81em; margin:0; padding:0px 0 3px; font-weight:normal; line-height:100%; color:#5c91ab;}
h2 span {color:#999999; font-size:0.9em;}
h2 img { margin-right:2px;}


h3 {font-size:18px; margin:0; padding:5px 0 3px; font-weight:normal; line-height:100%; color:#7f7f7f;}
h3 a {color:#5c91ab; text-decoration:none;}
h3 a:hover {text-decoration:underline;}
h4 {font-size:1.2em; margin:0; padding:3px 0 0 0;}

h5 {padding:0; margin:0; font-size:1.45em;}
h6 {padding:6px 0 0; margin:0; font-size:1.36em; line-height:100%;}


ul {}
ul li {}


ul {list-style-type:none;}
li {list-style-type:none;}


p {margin:0; padding:9px 0;}
fieldset {padding:0; border:none; border:0px solid #000; margin:0;}
table {border-collapse: collapse;}
textarea, input {font-family:Arial; font-size:11px; color:#999999;}

big {font-size:1.2em;}
.big {font-size:1.2em !important;}
small {font-size:0.8em;}

.cl {clear:both; font-size:0;}

#main_global_nofix {margin: 0 auto; min-width:980px; background: #b1bac1 url(images/mg_l.gif) 0 0 repeat-y;}
#main_global {margin: 0 auto; min-width:980px; max-width:1200px; background: #b1bac1 url(images/mg_r.png) 0 0 repeat-y;}
#main_global_defaultpage {margin: 0 auto; min-width:980px; max-width:1080px; background: #b1bac1 url(images/mg_r.png) 0 0 repeat-y;}
#main_global1 {padding: 0 10px; background: url(images/mg_l.png) 100% 0 repeat-y;}
.container {width:100%; font-size: 1.1em; background:#fff; border-top:4px solid #5c91ab;}

/*---header---*/
.top_menu {float:right; height:29px; background:#eaedef url(images/top_menu.gif) 0 0 no-repeat;}
.enter {display:block; float:left; width:130px; text-align:center; padding:0 0 0 0; position:relative; z-index:10;}
.enter .ref {position:relative; z-index:9;}
.enter .ref div {width:102px; padding: 1px 0 0 28px; height:28px;background:url(images/enter_ref.gif) 0 0 no-repeat;}
.enter .ref  a {color:#fff; font-size:15px; text-decoration:none; border-bottom:1px dashed #fff;}
.enter .ref  a:hover {border-bottom:0;}
.enter div.form {position:absolute; top: 0; right:0; z-index:8; width:227px; height:159px; text-align:left; color:#6e7679;}
.enter div.form fieldset {width:204px; height:151px; padding: 8px 0 0 23px; background:url(images/form_enter.png) 0 0 no-repeat;}
.enter div.form div {width:195px; height:27px; margin:  0 0 10px 0; background:url(images/inp_enter.png) 0 0 no-repeat;}
.enter div.form div input {width:175px; padding:4px 10px; border:0; color:#999999; font-size:15px; background:none;}
.enter input, .enter label {vertical-align:middle;}
.enter .go { border:0; width:62px; height:24px;  font-size:15px; color:#6e7679;  margin: 0 5px 0 0; background:url(images/enter_go.png) 0 0 no-repeat;}
.enter a { color:#6e7679;}
.enter form  p {padding:0 0 12px 0; }

.user {position:relative; z-index:9; float:left; padding: 6px 0 0 43px; margin: 0 -2px 0 0;}
.user .user_info {position:relative; z-index:9; color:#000; text-decoration:none; border-bottom:1px dashed #000;}
.user a:hover.user_info {border-bottom:0px;}
.user .drop_menu {position:absolute; width:205px; top:0; right:-25px}
.user .drop_menu  .dm_top {height:6px; width:205px; font-size:0; line-height:0; background:url(images/user_dm_top.png	) 0 0 no-repeat;}
.user .drop_menu  .dm_center {width:205px; background:url(images/user_dm_bg.png) 0 0 repeat-y;}
.user .drop_menu  .dm_center div  {position:relative; padding:20px 22px 2px; }
.user .drop_menu  .dm_center ul  {list-style-type:none; margin:0; padding:0;}
.user .drop_menu  .dm_center ul li {padding: 8px 0 0;}
.user .drop_menu  .dm_center ul li a {margin: 0 3px 0 0;}
.user .drop_menu  .dm_bt {height:23px; width:205px; font-size:0; line-height:0; background:url(images/user_dm_bt.png) 0 0 no-repeat;}
.user a.close {width:9px; right:20px; bottom:0; height:10px; position:absolute; background:url(images/close1.gif) 0 0 no-repeat;}

.header .list {float:right;}
.list {color:#555555; padding: 8px 5px 0 0px; text-align:center; font-size:11px;}
.list a {color:#555555; text-decoration:none; margin: 0 2px;}
.list a:hover {text-decoration:underline;}

a.rss {color:#cb7b50; margin: 0 0 0 15px; padding:0 10px 0 0; font-size:9px; background: url(images/rss.gif) 100% 1px no-repeat;}
.marshr {font-size:13px; padding: 5px 0 0 19px;}
.marshr img {vertical-align:middle; margin: 3px 0 0px 0;}
.marshr a {vertical-align:middle; padding: 0 0 0 11px; color:#000000; text-decoration:none; background:url(images/marshr_arr.gif) 0 3px no-repeat;}
.logo {padding: 20px 4px 0 20px; float:left; position:relative; }
.logo .logotext {position:absolute; font-size:10px; color:#5c91ab; top:76px; left:142px; }
.lang {float:left; padding:27px 0 0 0; color:#555555; }
.lang a {color:#555555;}

.logo_thin {padding: 3px 4px 0 20px; float:left; position:relative; }
.logo_thin div {position:absolute; font-size:10px; color:#5c91ab; top:60px; left:142px; }

.menu_search_ctn{white-space: nowrap;   float:right; clear:right; padding: 10px 20px 8px 10px; 	}
.menu_search {font-size:15px; padding-right: 20px;  }
.menu_search .info {color:#80c277; text-decoration:none;}
.menu_search .info a:hover {text-decoration:underline;}



/*---/header---*/

/*---main_content---*/
.main_content {padding: 37px 0 19px 0; background:url(images/main_content_bg.png) 0 0 repeat-x;position:relative;}
.wrapper {float:left; width:100%;}

.content {width:70%; padding: 2px 10px 0 30px;}
.content_inline_left{width:72%; padding: 2px 10px 0 30px;display:inline-block; float:left;}
.content1 {margin: 0 261px 0 260px; padding: 2px 10px 0 30px;}
.content2 {margin: 0 0 0 230px; padding: 0px 0 0 0;}

.contents {padding: 0px 40px 10px 30px;}
.contents1 {padding: 0px 40px 0px 30px;}

.table_content {width:100%;}
.left_part {float:left; width:200px; padding:2px 10px 0 30px; margin:  0 0 0 -100%;}

.content .left_part {float:left; width:200px; padding:2px 10px 0 0px; margin:  0 0 0 -100%;}
.right_part {float:left; width:200px; padding:2px 30px 0 0px; margin:  0 0 0 -240px;	}
.right_part_inlineblock {float:right; width:200px; padding:2px 30px 0 0px; display:inline-block;}
.right_part1 {float:left; width:215px; padding:2px 30px 0 0px; margin:  0 0 0 -255px;}
.content_fix {padding:2px 10px 0 30px; width:660px; float:left;}
.right_part_pull {margin: 0 0px 0 700px; padding:2px 40px 0 20px; }
.right_part_pull2 {margin: 0 0px 0 1000px; padding:2px 40px 0 20px; }

.search_form {margin: 0 0 30px; 	background:#dfe8ee url(/New/images/search_marsh.jpg) 0 100% repeat-x;}
.search_form .search_form_bl {background: url(images/search_marsh_bl.gif) 0 100% no-repeat;}
.search_form fieldset {padding: 18px 11px 17px 21px; }
.search_form1 {margin: 0 0 30px; 	background:#dfe8ee url(/New/images/search_marsh.jpg) 0 100% repeat-x;}
.search_form_bl {background: url(images/search_marsh_bl.gif) 0 100% no-repeat;}
.search_form_br {padding: 4px 11px 0px 21px; min-height:227px; background: url(images/search_marsh_br.gif) 100% 100% no-repeat;}
.search_form table {table-layout:fixed; width:100%; margin: 0 0 0;}
/*.search_form td {padding: 0 10px 0 0;}*/
.search_form .marsh_date td {padding: 0 10px 0 0;}

.search_form .exsample a {text-decoration:none; border-bottom:1px dashed #5c91ab; }
.search_form .exsample a:hover {border-bottom:0px; }


.search_form input  { vertical-align:middle;}
.search_form  .sect_td   {padding-bottom:22px;}
.search_form td.marsh_date1   {padding-bottom:22px;}
.search_form table .go {margin:0px 10px 0 0;}
.search_form .go   {cursor:pointer; width:116px; height:34px; border:0;  font-size:18px; color:#7f7f7f; margin:18px 10px 0 0; background:url(images/marsh_go.png) 0 0 no-repeat;}
.search_form1 .go   {display:block; cursor:pointer; width:116px; height:34px; border:0;  font-size:18px; color:#7f7f7f; margin:18px auto 0; background:url(images/marsh_go.png) 0 0 no-repeat;}
.inp1   {width:90%; font-size:15px; color:#9a9a9a; padding: 2px 5px; margin:4px 0 0 0;}
.marsh_date label  {font-weight:bold; color:#6f7e86; margin-right:0;}
.marsh_date input, .marsh_date select   {color:#000; font-size:11px; text-align:center; padding:1px;}
.marsh_date select   {width:64px;}
.marsh_date img   {vertical-align:middle; margin: 0 20px 6px 4px;}
.arrow {width:33px; height:13px; margin:0 auto; background:url(images/arrow.gif) 0 0 no-repeat;}
.search_form .search_trip {margin:0 !important;}
.search_form .search_trip td {padding-right:0 !important;}

a.reh_select {padding: 0 15px 0 0;border-bottom:0 !important; background:url(images/arrow_down.gif) 100% 6px no-repeat;}
.reh_select span {border-bottom:1px dashed #5C91AB;}
a:hover.reh_select span {border-bottom:0;}
a.reset {text-decoration:none; border-bottom:1px dashed #5c91ab; margin: 0 0 0 38px; position:relative; top:10px;}
a:hover.reset {border-bottom:0px; }

.fright {float:right;}
.fleft {float:left !important;}
.type_marshr {padding: 23px 0 0 0; color:#596a72;}
.type_marshr label {margin:0;}
.type_marshr select {vertical-align:middle; margin: 0 10px 0 2px;}
.sel {position:relative;}
.sel div  {position:absolute; left:0; top:35px; z-index:10; width:92%; padding:0 11px;}
.sel ul  {background:#fff; height:200px; overflow:auto; font-size:13px; border:1px solid #99b5c6; list-style-type:none; margin: 0 -11px; padding:0 0px;}
.sel ul li  {margin: 0 00px;}
.sel ul a  {color:#747474; display:block; text-decoration:none; padding: 2px 10px;}
.sel ul a:hover  {background:#f2f6f7;}




.help_ico {color:#515253; padding: 1px 0 3px 24px; text-decoration:none;background:url(images/help_ico.gif) 0 0 no-repeat;}
a.help_ico span {border-bottom:1px dashed #515253;}
a:hover.help_ico span {border-bottom:0;}

.inp_stan { border:1px solid #a4becd; padding: 4px 10px; width:92%; font-size:22px; color:#747474;background:#fff url(images/inp_stan.gif) 0 0 repeat-x;}

.list_time {list-style-type:none; margin:0; padding:0 0 	33px 9px; line-height:150%; font-size:1.2em; float:left; width:33%;}
.list_time li {padding: 0 0 8px 0;}

.service {float:right; width:55%; padding: 0 20px 33px 0;}
.service dl { margin:0; padding:2px 0 7px 53px;}
.service dl.service_online { background:url(images/service_online.gif) 0 0 no-repeat;}
.service dl.service_time_list { background:url(images/service_time_list.gif) 0 0 no-repeat;}
.service dl.service_optim { background:url(images/service_optim.gif) 0 0 no-repeat;}
.service dt { margin:0; padding:0 0 1px; font-size:1.63em;}
.service dt a {text-decoration:none;}
.service dt a:hover {text-decoration:underline;}
.service dd { margin:0; padding:0;}

.frame {margin: 0 0 8px 0; background: #fff url(images/frame_t.gif) 0 100% repeat-x;}
.frame_t {background:url(images/frame_t.gif) 0 0 repeat-x;}
.frame_tl {background:url(images/frame_tl.gif) 0 0 no-repeat;}
.frame_tr {background:url(images/frame_tr.gif) 100% 0 no-repeat;}
.frame_bl {background:url(images/frame_bl.gif) 0 100% no-repeat;}
.frame_br {padding:5px 0; background:url(images/frame_br.gif) 100% 100% no-repeat;}
.frame_content { border-left:1px solid #d6dcdf; border-right:1px solid #d6dcdf; padding:5px 13px; }

.stanc {font-size:1.2em; color:#bbb6b6;  padding:9px 13px;}
.stanc big {font-size:1.15em; margin: 0 18px 0 0;}
.stanc a {font-weight:bold; text-decoration:none; border-bottom:1px dashed #5c91ab;  margin: 0 18px 0 0;}
.stanc a:hover {border-bottom:0;}
.stanc table {width:100%; font-weight:normal; color:#5c91ab; font-size:11px;}
.stanc table td {vertical-align:top;}
.stanc ul {list-style-type:none; margin:0; padding:12px 0 0 0;} 
.stanc ul li {padding: 3px 0 2px 0;} 
.stanc ul a {border:0; text-decoration:underline; font-weight:normal; margin:0;} 

.map_move {border:4px solid #cccccc; margin: 0 0 14px 0; position:relative;}
.map_nobord {border:0 !important; margin:0 0 2px 0; background:#cccccc; padding:1px;}
.map_move img {vertical-align:top;}
.map_move .obozn {position:absolute; font-size:13px; bottom:6px; right:6px; z-index:10;}
.map_move .obozn div {text-align:center; width:98px; height:23px; padding:4px 0 0 0; background:url(images/obozn.png) 0 0 no-repeat;}
.map_move .obozn div a {color:#fff; text-decoration:none; border-bottom:1px dashed #fff;}
.drop_map_move {position:absolute;  z-index:100; line-height:135%; bottom:6px; right:6px;  width:182px; border:1px solid #c4d0db; background:#fffbe5; padding: 12px 15px 18px 15px; }
.drop_map_move  p {padding:5px 0;}
.drop_map_move  h4 {padding:0px 0 10px;}
.drop_map_move  table {font-size:1.2em;}
.drop_map_move  td {height:40px; padding: 0 0 0 5px;}
.map_nobord .drop_map_move  {top:200; bottom:auto; right:0;}
.show_map, .hide_map {text-align:right; font-size:1.18em;}
.show_map a {padding: 0 0 0 17px; background:url(images/show_map.gif) 0 100% no-repeat;}
.hide_map a {padding: 0 0 0 17px; background:url(images/hide_map.gif) 0 100% no-repeat;}
.map_move .tr {width:4px; height:4px; font-size:0; line-height:0; position:absolute; top:0; right:0; background:url(images/map_tr.gif) 0 0 no-repeat;}
.map_move .tl {width:4px; height:4px; font-size:0; line-height:0; position:absolute; top:0; left:0; background:url(images/map_tl.gif) 0 0 no-repeat;}
.map_move .bl {width:4px; height:4px; font-size:0; line-height:0; position:absolute; bottom:0; left:0;background:url(images/map_bl.gif) 0 0 no-repeat;}
.map_move .br {width:4px; height:4px; font-size:0; line-height:0; position:absolute; bottom:0; right:0; background:url(images/map_br.gif) 0 0 no-repeat;}
.map_move .scheme_title {height:31px; font-size:13px;  position:absolute; bottom:-3px; right:-3px; background:url(images/scheme_title.png) 0 0 no-repeat;}
.map_move .scheme_title div{padding:7px 10px 0 13px; height:24px;}


.date_right {float:right; font-size:1.2em; padding: 8px 30px 0 22px; background:url(images/date_ico.jpg) 0 8px no-repeat;}
.date_left {float:left; font-size:1.2em; padding: 8px 30px 4px 22px; background:url(images/date_ico.jpg) 0 8px no-repeat;}


.table_marshrut {width:100%; border-top:1px solid #5c91ab;margin:0 0 10px; background:#fff; text-align:left; }
.table_marshrut th {color:#5a5a5a;font-weight:normal; background:#e5f2f7; padding: 5px 10px 5px 10px;}
.table_marshrut td {padding: 8px 20px 10px 10px;}
.table_marshrut td td {padding: 0px 3px 0px 0px;}
.table_marshrut .even td {background-color:#f5f6f7 !important;}
.table_marshrut .even1 td {background-color:#f5f6f7 !important; border-top:2px solid #e5f2f7; border-bottom:2px solid #e5f2f7;}
.table_marshrut .dashed  {display:block; padding:4px 0px 0 0; float:left;margin-left:5px;font-size:1.18em}

.table_marshrut1 {width:100%; margin:0 0 40px; background:#fff; clear:both;}
.table_marshrut1 th {color:#5a5a5a; text-align:left; font-weight:normal; background:#e5f2f7; padding: 5px 5px 5px 10px;}
.table_marshrut1 td {padding: 8px 5px 10px 10px;}
.table_marshrut1 td td {padding: 0px 3px 0px 0px;}
.table_marshrut1 .even td {background-color:#f5f6f7 !important;}
.table_marshrut1 .even1 td {background-color:#f5f6f7 !important; border-top:2px solid #e5f2f7; border-bottom:2px solid #e5f2f7;}

.vagon  {margin-bottom: 13px !important; border-top:2px solid #5c91ab !important;}
.vagon1  {margin-bottom: 25px !important; border-top:1px solid #abc6d3 !important; border-bottom:1px solid #dee9ee;}
.pay_itog  {font-size:1.2em; margin-bottom: 0 !important; border-top:1px solid #bbd5e0 !important; border-bottom:2px solid #e5e5e5;}
.pay_itog th {padding: 9px 16px 9px 16px !important;}
.pay_itog td {padding: 8px 16px 8px 16px !important; vertical-align:top;}
.vagon td {padding: 2px 10px 3px 10px !important;}
.vagon1 td {padding: 5px 10px 6px 10px !important;}
.vagon th, .vagon1 th {padding-right: 10px !important;}
.vagon  .par_top  td, .vagon1  .par_top  td {padding-top: 6px !important;}
.vagon  .par_bt  td, .vagon1  .par_bt  td {padding-bottom: 6px !important;}
.hyperbig a { font-size:1.2em; }
.text_big { font-size:1.2em; }
.text_big  th {font-size:0.83em;}

.raic_ico {position:relative; left: -26px; margin: 0 -17px 0 0;}
.vagon  .par_top  td {padding-top: 6px !important;}
.vagon  .par_bt  td {padding-bottom: 6px !important;}


.raic .code {font-weight:bold; font-size:14px;}
.raic .carrier {color:Gray;}
.raic .car {color:Gray;}

.but {display:block; float:right; height:25px; font-size:13px !important; padding: 0 1px 0 0; background:url(images/but_r.gif) 100% 0 no-repeat;}
.but span {display:block; float:left; height:21px; padding: 4px 11px 0 12px; background:url(images/but.gif) 0 0 no-repeat; cursor:pointer; }
.but_buy {float:left; width:86px; color:#fff; text-align:center; background:url(images/but_buy_w.gif) 100% 0 no-repeat;}
.but_buy span {width:86px; padding:4px 0 0; background:transparent;}

.place_none {float:none; width:63px; color:#fff; text-align:center; background:url(images/place_none.gif) 100% 0 no-repeat;}
.place_none span {width:63px; padding:4px 0 0; background:transparent;}
.tright {text-align:right !important;}

.send_recall {margin:0 231px 0 0; background: #e5f2f7 url(images/blue_tl.gif) 0 0 no-repeat;}
.send_recall_tr {background:  url(images/blue_tr.gif) 100% 0 no-repeat;}
.send_recall form {background: url(images/blue_bl.gif) 0 100% no-repeat;}
.send_recall fieldset {padding:14px 30px 12px 20px; font-size:1.36em; background: url(images/blue_br.gif) 100% 100% no-repeat;}
.send_recall textarea {width:100%; height:60px; margin:5px 0 12px 0;}
.send_recall .go { color:#4c4c4c; font-size:13px;}
.go {cursor:pointer;}

.pass_form {margin: 0 0 20px 0; background: #dde6ed url(images/blue_tl1.gif) 0 0 no-repeat;}
.pass_form_tr {background:  url(images/blue_tr1.gif) 100% 0 no-repeat;}
.pass_form input, .pass_form select, .pass_form label {vertical-align:middle;} 
.pass_form  form {background: url(images/blue_bl1.gif) 0 100% no-repeat;}
.pass_form  fieldset {padding:14px 00px 12px 20px; font-size:1.2em; background: url(images/blue_br1.gif) 100% 100% no-repeat;}
.pass_form  .pass_table {width:100%; margin:4px 0;}
.pass_form  .pass_table {color:#333333;}
.pass_form .pass_td {padding: 5px 38px 5px 0;}
.pass_form td .inp {width:98%; font-size:13px;}
.pass_form td select {width:100%; font-size:13px; color:#7f7f7f;}
.pass_form td .numb {display:block; position:absolute; margin-left:-18px; margin-top:3px;}
.pass_form .line {border-top:1px dashed #bcc4ca; margin: 16px 0 0 -20px; height:13px;}
.pass_form  .go   {display:block; cursor:pointer; float:right; width:116px; height:34px; border:0;  font-size:16px; color:#7f7f7f; margin:0 38px 0 0; background:url(images/marsh_go.png) 0 0 no-repeat;}



.back {font-size:1.36em; padding: 0 0 0 23px; background:url(images/back.gif) 0 5px no-repeat;}

.vatop td {vertical-align:top;}
.vamiddle {vertical-align:middle !important;}

.table_marshrut td.ico_city {vertical-align:top; width:31px; padding:0;}
.table_marshrut td.ico_city .bg {width:20px; padding: 7px 0 7px 11px;}
.table_marshrut img {vertical-align:middle;}
.ico_city {background:url(images/line_station.gif) 19px -20px no-repeat;}
.green_line .ico_city, .even_green_line .ico_city {background:url(images/line_station1.gif) 19px 0 repeat-y;}
.first .ico_city {background:url(images/line_station.gif) 19px 0 no-repeat;}
.last .ico_city {background:url(images/line_station_last.gif) 19px 0 no-repeat;}
.bg_green {background:#d9f0d7 url(images/bg_green.gif) 0 0 repeat-x;}
.bg_green .ico_city {background: #d9f0d7 url(images/line_station1.gif) 19px 0 repeat-y;}
.bg_green .ico_city .bg {background: url(images/line_station_green.gif) 0 0 no-repeat;}
.bg_green_first .ico_city .bg {background:url(images/line_station_green_first.gif) 0 0 no-repeat;}
.bg_green_last .ico_city {background:url(images/bg_green.gif) 0 0 repeat-x;}
.bg_green_last .ico_city .bg {background:url(images/line_station1.gif) 19px 0 no-repeat;}
.even_green_line  td {background-color:#f5f6f7 !important;}
.ico_city  div {width:20px; height:20px;}
.green_line .ico_city_01 {background:url(images/ico_city_01.gif) 50% 50% no-repeat;}
.green_line .ico_city_02 {background:url(images/ico_city_02.gif) 50% 50% no-repeat;}
.green_line .ico_city_03 {background:url(images/ico_city_03.gif) 50% 50% no-repeat;}
.even_green_line  .ico_city_01 {background:url(images/ico_city_01_even.gif) 50% 50% no-repeat;}
.even_green_line .ico_city_02 {background:url(images/ico_city_02_even.gif) 50% 50% no-repeat;}
.even_green_line .ico_city_03 {background:url(images/ico_city_03_even.gif) 50% 50% no-repeat;}
.ico_city_01 {background:url(images/ico_city_01_grey.gif) 50% 50% no-repeat;}
.ico_city_02 {background:url(images/ico_city_02_grey.gif) 50% 50% no-repeat;}
.ico_city_03 {background:url(images/ico_city_03_grey.gif) 50% 50% no-repeat;}
.even .ico_city_01 {background:url(images/ico_city_01_grey_even.gif) 50% 50% no-repeat;}
.even .ico_city_02 {background:url(images/ico_city_02_grey_even.gif) 50% 50% no-repeat;}
.even .ico_city_03 {background:url(images/ico_city_03_grey_even.gif) 50% 50% no-repeat;}
.bg_green .ico_city_01 {background:url(images/ico_city_01_green.gif) 50% 50% no-repeat;}
.bg_green .ico_city_02 {background:url(images/ico_city_02_green.gif) 50% 50% no-repeat;}
.bg_green .ico_city_03 {background:url(images/ico_city_03_green.gif) 50% 50% no-repeat;}


.cardon {list-style-type:none; margin:0; padding:0; line-height:130%;}
.cardon li { padding:0 0 7px 19px; background:url(images/arr_01.gif) 2px 4px no-repeat;}
.drop_rule {position:absolute; line-height:135%; top:-190px; left:-330px; width:308px; border:1px solid #c4d0db; background:#fffbe5; padding: 12px 25px 14px 20px; }
.drop_rule  p {padding:5px 0;}
.drop_rule .close {margin: 0 -10px 0 0;}
.close {float:right; padding: 0 15px 0 0; font-size:13px; text-decoration:none !important; background:url(images/close.gif) 100% 4px no-repeat;}
.close  span {border-bottom:1px dashed #5c91ab;}
a.close:hover  span {border-bottom:0px;}

.extra_marsh {list-style-type:none; margin:0; padding:0 10px 0 0; line-height:170%;}
.extra_marsh  li {	padding: 0 0 10px 0;}
.extra_marsh strong,.extra_marsh a {font-size:1.2em;}

.from1 {color:#6f7e86; font-weight:bold; padding: 0 5px 0 0;}
.from {font-size:1.2em; line-height:170%; margin: 0 0 25px 0; }
.from td {vertical-align:top; }

.step {line-height:22px; padding: 0 0 18px 0; height:28px;}
.step span {display:block; float:left;}
.step .active {padding:0 1px 0 0; height:23px; font-size:1.2em; color:#fff; background:url(images/step_active_r.gif) 100% 0 no-repeat;}
.step .active span {padding:0 6px 0 7px; height:23px; background:url(images/step_active.gif) 0 0 no-repeat;}
.step .arrow1 {width:39px; height:22px; background:url(images/arrow1.gif) 50% 8px no-repeat;}


.title {font-size:1.54em; color:#fff; line-height:20px;  font-weight:bold; padding:4px 9px 2px; letter-spacing:-0.5px; min-height:21px;}
.title1 {font-size:1.54em; font-weight:bold;  line-height:20px; min-height:27px; overflow:hidden;letter-spacing:-1px; margin: 0 10px 0 0;	 background: url(images/title1_l.gif) 0 0 no-repeat;}
.title1 div {float:left; color:#fff;  padding:0px 5px 0px 5px;  background: url(images/title1_r.gif) 100% 0 no-repeat;}
.title1 div div {color:#fff;  padding:6px 9px 2px 4px;  background: #5c91ab;}

.title2 {font-size:1.54em; font-weight:bold;  line-height:20px;  letter-spacing:-1px; background: url(images/title1_l.gif) 0 0 no-repeat;}
.title2 div {padding:0 5px; height:27px; background: url(images/title1_r.gif) 100% 0 no-repeat;}
.title2 div  div {color:#fff;  padding:4px 4px 2px 4px;  height:21px; background: #5c91ab;}
.title2 a {font-size:0.77em; text-decoration:none; font-weight:normal; border-bottom:1px dashed #fff; line-height:16px;color:#fff; float:right; letter-spacing:0px;margin:1px 0 0 0;}
.title2 a:hover {border-bottom:0px;}




.pink { width:200px; background:#efdacf url(images/pink.gif) 0 100% no-repeat;}
.pink .title {padding:7px 9px 5px;  background:#dbb5a5 url(images/pink_title.gif) 0 0 no-repeat;}
.pink .text {padding:13px 9px 11px; color:#000;}
.pink .text a {color:#000;}
.pink .text h5 {margin:0; padding:3px 0 3px; font-weight:normal;}
.pink .text img {border:4px solid #fff;}

.trans   .title { height:26px; line-height:26px; overflow:hidden; padding:0 9px; background:#5c91ab url(images/trans_title.gif) 0 0 no-repeat;}
.trans .text {padding:11px 13px 9px; color:#000;}
.trans .text h5 {padding:6px 0 3px;}
.trans .text h5 a {color:#5c91ab;}
.trans .text p {padding:3px 0 3px;}
.trans .text img {border:4px solid #fff; margin: 0 -4px;}
.trans .text div {font-size:0.8em; padding: 7px 11px 0;}

.green {margin: 0 0 18px 0;   width:200px; font-weight:bold; line-height:150%; background:#e3f6e2 url(images/green.gif) 0 100% no-repeat;}
.green .title { background:#73b66e url(images/green_title.gif) 0 0 no-repeat;}
.green .text {padding:13px 9px 16px; color:#000;}
.green .text h6 {color:#538e4f; }
.green .text h6 a {color:#538e4f; text-decoration:none;}
.green .text h6 a:hover {text-decoration:underline;}
.green .text img {border:4px solid #fff;}

.green1 {margin: 0 0 27px 0; padding:0 0 5px 0;  width:200px; background: url(images/green1.gif) 0 100% no-repeat;}
.green1 .title { background: url(images/green_title1.gif) 0 0 no-repeat;}
.green1 .green_map {padding:0; color:#000; border-left:1px solid #7ac482; border-bottom:1px solid #7ac482; border-right:1px solid #7ac482; background:#fff;}
.green1 .green_map img {vertical-align:middle;}
.green1 .text1 {padding:5px 9px 4px; text-align:center; color:#000; border-left:1px solid #7ac482; border-right:1px solid #7ac482; background:#fff; font-size:1.1em; }
.green1 .text {padding:13px 9px 16px; color:#000; border-left:1px solid #7ac482; border-right:1px solid #7ac482; background:#fff;}

.green4 {margin: 0 0 27px 0;   background: url(images/green4.gif) 0 100% no-repeat;}
.green4_r {padding:0 0 5px 0;   background: url(images/green4_r.gif) 100% 100% no-repeat;}
.green4 .title {padding:0; background: url(images/green_title4.gif) 0 0 no-repeat;}
.green4 .title div {padding:4px 9px 2px; min-height:21px; background: url(images/green_title4_r.gif) 100% 0 no-repeat;}
.green4 .green_map {padding:0; color:#000; border-left:1px solid #7ac482; border-bottom:1px solid #7ac482; border-right:1px solid #7ac482; background:#fff;}
.green4 .green_map img {vertical-align:middle;}
.green4 .text1 {padding:5px 9px 4px; text-align:center; color:#000; border-left:1px solid #7ac482; border-right:1px solid #7ac482; background:#fff; font-size:1.1em; }
.green4 .text {padding:13px 9px 16px; color:#000; border-left:1px solid #7ac482; border-right:1px solid #7ac482; background:#fff;}
.green2 {margin: 0 0 27px 0; padding:0 0 5px 0;  width:200px; background: url(images/right_frame_bt.gif) 0 100% no-repeat;}
.green2 .title { background: url(images/green_title2.gif) 0 0 no-repeat;}
.green2 .text {position:relative; padding:8px 9px 5px; color:#000;  border-left:1px solid #d6dcdf; border-right:1px solid #d6dcdf; background:#fff;}

.green3 .title { background: url(images/green_title3.gif) 0 0 no-repeat;}
.green3  .text {padding:3px 9px 0px; color:#000;  border-left:1px solid #d6dcdf; border-right:1px solid #d6dcdf; background:#fff;}
.green3  dl {margin:0; padding:0 0 10px;}
.green3  dt {margin:0; padding:2px 0 0 0; font-size:1.2em; font-weight:bold;}

.blue_trans { margin: 0 0 18px 0;  width:200px; line-height:140%; padding: 0 0 3px 0; background: url(images/trans.gif) 0 100% no-repeat;}
.blue_trans .title { background:#5c91ab url(images/blue_trans_title.gif) 0 0 no-repeat;}
.blue_trans .text {padding:3px 8px 2px; color:#000; border-width:1px 1px 0 1px; border-color:#d6dcdf; border-style:solid;}

.advert { margin: 0 0 18px 0; width:200px; line-height:130%; padding: 0 0 3px 0; background: url(images/trans.gif) 0 100% no-repeat;}
.advert .title { padding: 1px 27px 0 85px; height:26px; overflow:hidden;line-height:23px; text-align:center;background:#d6dcdf url(images/advert_title.gif) 0 0 no-repeat;}
.advert .text {padding:9px 9px 10px; color:#000; border-width:0px 1px 0 1px; border-color:#d6dcdf; border-style:solid;}
.advert p {padding: 2px 0;}

.oliv {margin: 0 0 18px 0;   width:200px; line-height:150%; background:#f4f5d9 url(images/oliv.gif) 0 100% no-repeat;}
.oliv .title { background:#c2c659 url(images/oliv_title.gif) 0 0 no-repeat;}
.oliv .text {padding:13px 9px 16px; color:#000;}
.oliv .text h6 {color:#538e4f; }
.oliv .text h6 a {color:#538e4f; text-decoration:none;}
.oliv .text h6 a:hover {text-decoration:underline;}
.oliv .text img {border:4px solid #fff;}

.oliv1, .green3  {margin: 0 0 18px 0;   padding:0 0 5px 0;  width:200px; line-height:150%; background: url(images/right_frame_bt.gif) 0 100% no-repeat;}
.oliv1 .title { background:#c2c659 url(images/oliv_title.gif) 0 0 no-repeat;}
.oliv1  .text {padding:3px 9px 10px; color:#000;  border-left:1px solid #d6dcdf; border-right:1px solid #d6dcdf; background:#fff;}
.oliv1  dl {margin:0; padding:0;}
.oliv1 dt {margin:0; padding:2px 0 0 0;}
.oliv1 dt a, .green3  dt a {text-decoration:none; border-bottom:1px dashed #5c91ab;}
.oliv1 dt a:hover, .green3  dt a:hover {border-bottom:0px;}
.oliv1  dd, .green3  dd {margin:0; padding:0 0 2px 12px;}

.calendar {margin: 0 0 27px 0;  font-family:Verdana;   padding:0 0 6px 0;  width:200px; line-height:150%; background: url(images/calendar_bt.gif) 0 100% no-repeat;}
.calendar .title { text-align:center; background:#adc8d5 url(images/calendar_title.gif) 0 0 no-repeat;}
.calendar .title a {color:#fff;}
.calendar .text {padding:3px 5px 0px; color:#000;background:#adc8d5 url(images/calendar_bg.png) 0 0 no-repeat;}
.calendar .caption {background:#cfe2f3; margin: 0 -1px; border-bottom:1px solid #adc3d2;}
.calendar .month {text-align:center; padding: 2px 17px; font-weight:bold;color:#203e4d;}
.calendar .month .prev {display:block; float:left; width:10px; height:7px; margin:5px 0 0 0; background:url(images/month_prev.gif) 0 0 no-repeat;}
.calendar .month .next {display:block; float:right; width:10px; height:7px; margin:5px 0 0 0; background:url(images/month_next.gif) 100% 0 no-repeat;}
.calendar table {width:100%; table-layout:fixed; text-align:center;}
.calend_table {background:#fff;}
.calend_table td {border-right:1px solid #fff; padding:1px;font-size:9px;}
.calend_table td.holid  {border-right:1px solid #eeeeee;}
.calend_table .emply {color:#d8d8d8;}
.calend_table .holid {background:#eeeeee;}
.calend_table .green_td {background:#8fd374;}





.yellow_trans { margin: 0 0 18px 0; width:200px; line-height:150%; padding: 0 0 3px 0; background: url(images/trans.gif) 0 100% no-repeat;}
.yellow_trans .title { background:#ddaa61 url(images/yellow_title.gif) 0 0 no-repeat;}
.yellow_trans .text {font-size:1.2em; padding:5px 8px 10px; color:#000; border-width:1px 1px 0 1px; border-color:#d6dcdf; border-style:solid;}
.yellow_trans ul {list-style-type:none; padding:0; margin:0; }
.yellow_trans ul li  {padding: 3px 0 2px;}

.table_route {width:100%; border-top:1px solid #5c91ab;margin:0 0 15px; clear:both;background:#fff; font-size:1.18em; border-collapse:separate;}
.table_route  th {color:#5a5a5a; text-align:left; font-weight:normal; background:#e5f2f7; padding: 5px 5px 5px 20px; font-size:0.85em;}
.table_route  tr {border-left:2px solid #fff; }
.table_route  td {padding: 8px 5px 6px 20px; }
.table_route  .even_line td {padding: 0px 5px 10px 20px;}
.table_route  .even_line1 td {padding: 0px 5px 10px 20px; border-bottom:2px solid #e5f2f7; background-color:#f5f6f7 !important;}
.table_route  td.common {padding: 8px	 5px 10px 20px; border-bottom:2px solid #fff;}
.table_route  td.from_stat {padding-left: 22px; font-weight:bold;  border-left:2px solid #fff; background:url(images/from.gif) 10px 50% no-repeat;}
.table_route  td.to_stat {padding-left: 22px;  font-weight:bold; border-left:2px solid #fff; background:url(images/to.gif) 10px 0 no-repeat;}
.table_route  td td img {margin: 0 -3px 0 0;}
.table_route  td.last {border-right:2px solid #fff; }
.table_route  .even td {background-color:#f5f6f7 !important;}
.table_route  .even1  .from_stat, .table_route  .even_line1  .to_stat {border-left:2px solid #e5f2f7; }
.table_route  .even1 td {background-color:#f5f6f7 !important; border-top:2px solid #e5f2f7; }
.table_route  .even1 td.last {border-right:2px solid #e5f2f7; }
.table_route  .even1 td.common {border-bottom:2px solid #e5f2f7; }
.table_route  .open_first td { height:46px; background:#b9d0db url(images/open_route_first.gif) 0 0 repeat-x; border-top: 2px solid #5c91ab; border-bottom:1px solid #9bb7c4; }
.table_route  .open_first td td { height:auto; background:transparent; border-top: 0; border-bottom:0; }
.transfers  .open_first td{ border-bottom:1px solid #4f7c92;}
.table_route  .open_first td.from_stat div {padding:1px 0 1px 12px; margin: -1px 0 -1px -12px; background:url(images/from1.gif) 0 50% no-repeat;}
.table_route  .open_last td.to_stat div {padding:1px 0 1px 12px; margin: -1px 0 -1px -12px; background:url(images/to1.gif) 0 50% no-repeat;}
.table_route  .open_last td{ height:46px; background:#b9d0db url(images/open_route_last.gif) 0 0 repeat-x; border-bottom: 2px solid #5c91ab; border-top:0; }
.table_route  .open td{ background:#dee9ee;}
.table_route  .open_even td{ background:#eff4f7;}
.table_route  .open_first td.first, .table_route  .open_last td.first, .table_route  .open td.first, .table_route  .open_even td.first {border-left:2px solid #5c91ab; }
.table_route  .open_first td.last {border-right:2px solid #5c91ab !important; }
.table_route  .open_last td.last {border-right:2px solid #5c91ab !important; }
.table_route  .open  td.last {border-right:2px solid #5c91ab !important; }
.table_route  .open_even td.last {border-right:2px solid #5c91ab !important; }
.table_route  .open_first a, .table_route  .open_last a {color:#000;}
.table_route  .open_first a.dashed {border-color:#000;}
.table_route small {font-size:0.85em;}
.table_route .raic_ico {margin-bottom:-3px;}

.table_route .but {float:left; margin: 0 0 0 5px;}
/* 
.table_route .dashed  {display:block; padding:4px 0px 0 0; float:left;margin-left:5px;}
*/
.table_route  table { border-collapse:separate; margin: -4px 0; }
.table_route  td td {padding: 0px 0px 0px 0px; height: auto !important; vertical-align:top; border:0 !important; background:none !important}
.table_route  th a {text-decoration:none; color:#5a5a5a;}
.table_route th  a:hover {text-decoration:underline;}
.table_route  .sort_up {padding: 0 11px 0 0; background:url(images/sort_down.gif) 100% 50% no-repeat;}
.table_route  .sort_down {padding: 0 11px 0 0; background:url(images/sort_down.gif) 100% 50% no-repeat;}
.table_route .comparertd{padding: 0;}

.transfers td {vertical-align:top !important;}
.transfers td.vamiddle {vertical-align:middle !important;}


.transfer {text-align:center; font-size:0.85em; margin:0 !important;}
.transfer td {padding:0 !important;white-space: nowrap; }
.transfer img {margin: 0 3px !important;}

/*.open_transfer {border-left: 2px solid #5c91ab;border-right: 2px solid #5c91ab;border-bottom: 2px solid #5c91ab; padding:0; 
}*/
.table_route td.open_transfer { padding:0;}
.transfer_ext {text-align:left; margin:0 !important;}
.table_route .transfer_ext th {border:0 !important; color:black; background:#efefef; padding: 5px 9px;}
.table_route .transfer_ext td {border:0 !important; padding:8px 9px;}
.table_route .transfer_ext td td {border:0 !important; padding:0;}
.table_route .transfer_ext .odd td {background:#dee9ee !important;}
.table_route .transfer_ext .raic_ico {margin:0 -17px 0 0; }

.drop_transfer {background:#efefef; color:black; padding: 8px 9px 6px;height:15px;}
.drop_transfer a {color:black;}
.drop_transfer .fright {font-size:1.08em; font-weight:bold;}


.from_stat {}
.dashed {text-decoration:none; border-bottom:1px dashed #5c91ab;cursor:pointer;}
a:hover.dashed {border-bottom:0;cursor:pointer;}
.dashed2 {text-decoration:none; border-bottom:1px dashed #5c91ab;cursor:pointer;}
a:hover.dashed2 {border-bottom:0;cursor:pointer;}
.dashed1 {text-decoration:none; border-bottom:1px dashed #000000; color:#000000;cursor:pointer;}
a:hover.dashed1 {border-bottom:0;cursor:pointer;}

.endnote {width:100%; background:#e5f2f7; font-size:1.18em;}
.endnote big {font-size:1.15em !important; color:#666666; font-weight:bold;}
.endnote td {vertical-align:top; padding: 7px 0 8px 9px;}
.endnote td.text {padding:8px 20px 8px 2px;}

.order_but { float:right; display:block; text-align:center; background:transparent url(images/but2.png) no-repeat scroll 0 0; color:#4f5965; font-size:18px; height:34px; line-height:34px; text-decoration:none; margin:0px 12px 0 0; width:182px; }

.order_but_green { background-color: #7FC078; color:White; }


.warm { font-size:1.63em; color:#9a9a9a; padding: 4px 0 18px 37px; background:url(images/warm.gif) 0 0 no-repeat;clear:left;}
.warning_message { font-size:1.63em; color:#9a9a9a; padding: 4px 0 18px 37px; clear:left;}
.ban { font-size:1.63em; color:#9a9a9a; padding: 4px 0 18px 37px; background:url(images/ban_ico.gif) 0 0 no-repeat;clear:left;}
.hvariants {padding:8px 0 0 0;}
.variants {padding-bottom:6px; color:#666666;}
.grey {color:#666666;}

.take {font-size:1.63em; color:#5c91ab;padding: 8px 0 24px 0;}
.take a {color:#5c91ab; padding: 0 14px 0 0; background:url(images/take_ico.gif) 100% 55% no-repeat;}
.td_price {width:80px; }
.back_result {font-size:1.36em; color:#5c91ab; padding: 5px 0 30px 0;clear:both;}
.back_result big {font-size:1.46em !important;}
.back_result a {padding-left:3px;}

.all {font-size:1.18em; font-weight:bold; margin: -3px 0 0 0; padding: 0 0 3px 0;}
.all a {text-decoration:none; padding: 0 15px 0 0; background:url(images/all_ico.gif) 100% 6px no-repeat;}
.all a span {border-bottom:1px dashed #5c91ab;}

.route_ru {font-size:13px; font-weight:normal; line-height:21px !important;}
.route_ru img {margin:2px 0 -3px 3px; }
.list_route_ru {list-style-type:none; margin:0; padding:1px 0 3px; font-size:1.36em;}
.list_route_ru li {color:#618799; padding: 6px 0 6px 2px;}


.choose_trans { font-size:1.18em; border-top:1px solid #5c91ab; background: #b2cbd7 url(images/choose_trans.gif) 0 0 repeat-x;}
.choose_trans table {width:100%;}
.choose_trans input {margin-top:-1px; margin-bottom:0;}
.choose_trans label, .choose_trans input {vertical-align:middle;}
.choose_trans table td {padding: 7px 20px 8px 7px;}
.choose_trans table td.refresh {text-align:right; }
.choose_trans table td.refresh a {text-decoration:none; color:#000; padding: 0 0 0 16px; background:url(images/refresh_ico.gif) 0 3px no-repeat;}
.choose_trans table td.refresh a span {border-bottom:1px dashed #000;}
.choose_trans table td.refresh a:hover span {border-bottom:0;}

.destination_station {margin: 27px 0 0 0;}
.destination_station  h3 {font-size:1.36em; color:#000; font-weight:normal; padding: 2px 0 12px 0;	}
.destination_station table {width:100%;}
.destination_station table td {vertical-align:top;}
.destination_station dl  {margin:0; padding:0;}
.destination_station dt  {margin:0; padding:1px 0 5px 0; font-weight:bold; color:#737373;}
.destination_station dd  {margin:0; padding:1px 0 5px 0;}

.black {color:#000;}

/*---/main_content---*/

/*---footer---*/
.footer_line {height:27px;  margin:0 0 18px 0; font-size:12px;  position:relative; top:-18px; background:url(images/footer_line.gif) 0 0 repeat-x; }
.footer_line ul {list-style-type:none; margin:0; padding:0;}
.footer_line ul li {float:left; padding: 1px 10px 0 9px; line-height:26px; }
.footer_line ul li a {color:#477083; text-decoration:none; }
.footer_line ul li a:hover {color:#477083; text-decoration:underline; }
.footer_line img {margin:-1px 0 0 0;}

.marshruty {display:inline-block; width:116px; height:27px; background:url(images/marshruty.gif) 0 -1px no-repeat;}
.marshruty:hover {background:url(images/marshruty.gif) 0 -34px no-repeat;}
.footer {background:#f0f2f3; padding: 18px 0 15px; }
.footer_menu {padding: 0 0 16px 0; color:#5c91ab; font-size:1.1em;}
.footer_menu a {margin:0 !important;}
.footer .content a {margin: 0 3px 0 0;}
.footer .content {margin: 0 270px 0 260px; padding: 2px 0 0 0; overflow:hidden; }
.footer .left_part {padding-left:40px; padding-top:5px; text-indent:-10px;}
.footer .right_part {padding-right:47px; width:180px; padding-top:5px; text-align:right;}
/*---/footer---*/

html:root*.search_text {width:163px; padding: 0; height:24px;}
html:root*#search_text {width:143px; padding: 0 10px; height:24px;}
html:root*.map form table {width:406px;}
html:root*.map form div {width:123px; height:24px; padding: 0;}
html:root*.map form div input {width:86%; height:24px; padding: 0;  padding: 0px 8px 0;}


/*---add---*/
.close_ico {display:block; width:20px; height:20px; background:url(images/close_ico.gif) 0 0 no-repeat;}
a:hover.close_ico { background:url(images/close_ico.gif) 0 100% no-repeat;}
.sel .close_ico {position:absolute; top:8px; right:16px;}

/*---/add---*/

.map_static {padding: 0 0 22px 0;}
.pass_form td .inp_num {width:23%; font-size:13px; 	}
.inp_error_rel {display:inline;height:10px; width:10px; position:relative;}
.inp_error {border:1px solid #ea0b0b; position:absolute; padding: 6px 10px 6px 35px; left:15px; top:-3px; font-size:11px; white-space:nowrap; background:#ffe5e5 url(images/inp_error.gif) 4px 2px no-repeat;}
.inp_error div {width:9px; height:7px; position:absolute; top:9px; left:-9px; background:url(images/arr_inp_error.gif) 0 0 no-repeat;}
.inp_message {border:1px solid #fcdbdb; position:relative; padding: 4px 6px 3px 6px;  float:right; font-size:11px; width:245px; margin: 0 14px  0 0;  color:#b2b2b2; line-height:1.1;}
.inp_message div {width:9px; height:7px; position:absolute; top:13px; right:-9px; background:url(images/arr_inp_message.gif) 0 0 no-repeat;}

.title_route {border-bottom:1px solid #b8b9ba; padding: 0 0 3px 0; margin: 0 0 13px 0;}
.title_route h1 {color:#595959; display:inline; padding: 0 10px 0 0; margin:0;}
.title_route a.dash {text-decoration:none; border-bottom:1px dashed #5c91ab;}
.title_route a:hover.dash {border-bottom:0;}

.rel {position:relative; }
.drop_title_route {position:absolute; background:#dee9ee; border:1px solid #5c91ab; padding:4px 16px 4px 6px; top:3px; }
.drop_title_route a.close {display:block; position:absolute; right:4px; top:4px; padding:0; width:7px; height:8px; background:url(images/close1.gif) 0 0 no-repeat;}
.drop_title_route a {font-size:1.2em; font-weight:bold; }
.drop_title_route table  {width:100%;}
.drop_title_route td  {padding:2px 6px;}
.tr_transp {font-size:1.2em; font-weight:bold; width:73px; height:22px; padding: 10px 0 5px 2px; background:url(images/tr_transp.gif) 0 0 no-repeat;}
.tr_transp img {vertical-align:middle;}
.tr_transfer {width:25px; height:25px; background:url(images/tr_transfer.gif) 0 0 no-repeat;}


.block_back {font-size:0.9em; padding: 0 0 25px 0;}

.form_bottom  {padding: 10px 0 16px 0;}
.form_bottom  .block_back {padding:10px 0 0 0;}

.system_pay { line-height:1.1em; padding: 0 0 18px 0;}
.system_pay img {float:left; margin: 0 7px 0 0;}

.list_help_pay {list-style-type:none; margin:0; padding:0 0 8px 0; font-size:1.2em;}
.list_help_pay li {padding: 3px 0 3px 0;}

.passenger {margin:0 !important;}
.passenger td {padding:3px 38px 3px 0 !important;}
.passenger h3 {font-size:1.53em;}

.grand_blue_bg {background:#e8f1f6 url(images/grand_blue_bg.jpg) 0  100% repeat-x;}
.grand_blue_bg .gb_tl {background:url(images/gb_tl.gif) 0 0 no-repeat;}
.grand_blue_bg .gb_tr {background:url(images/gb_tr.gif) 100% 0 no-repeat;}
.grand_blue_bg .gb_bl {background:url(images/gb_bl.gif) 0 100% no-repeat;}
.grand_blue_bg .gb_br {padding:10px 20px 10px 16px; background:url(images/gb_br.gif) 100% 100% no-repeat;}
.grand_blue_bg .gb_br {padding:10px 20px 8px 16px; background:url(images/gb_br.gif) 100% 100% no-repeat;}

.pay_order {font-size:1.2em;}
.pay_order h2 {color:#000; font-size:1.53em; border-bottom:1px dashed #c4cdd1; padding:5px 0 12px 0; margin: 0 0 8px 0;}
.pay_order h2 a {color:#000; }
.pay_order table {margin:0 0 28px 0;}
.pay_order td {padding: 7px 10px 7px 0; vertical-align:top;}
.pay_order small {font-size:0.84em;}
.pay_order .number_tel {margin:0;}
.pay_order .number_tel td {vertical-align:middle; }
.pay_order .number_tel input {vertical-align:middle; font-size:22px; color:#747474; width:180px; padding: 3px 10px;}

.mode_pay {width: 100%; font-size:1.2em; text-align:left; margin: 0 0 10px 0;}
.mode_pay img {vertical-align:middle;}
.mode_pay th {background:#e5f2f7; font-weight:normal; padding: 12px 16px;}
.mode_pay th h3 {padding: 0;}
.mode_pay td {padding: 14px 16px; border-top:1px solid #fff;}
.bggrey td {background:#f5f6f7;}
.mode_pay tr.mode_pay_active td {background:#ecf6e8 url(images/mode_pay_hover.gif) 0 100% repeat-x !important;}
.mode_pay td.first {width:15px; padding-right:0;}
.mode_pay big {font-size:1.15em}
.mode_pay {}
td.pay_cost {width:110px; padding-right:0 !important;}

.dotted {border-bottom:1px dotted #5c91ab; text-decoration:none; color:#000;}
a:hover.dotted {border-bottom:0;}
.duty {text-align:right; color:#595959; padding:8px 16px 8px; font-size:1.2em;}
.itog_pay {font-size:1.8em; padding:12px 16px; margin:0 0 5px 0; text-align:right; background:#cae0ea url(images/itog_pay_bg.gif) 0 0 repeat-x;}
.itog_pay  span {color:#595959;}

.pay_bottom {padding: 2px 0 0 0; font-size:1.2em;}
.pay_bottom .tright {padding:20px 0 10px 0;}
.pay_bottom .go {width:108px; height:38px; border:0; margin: 0 0 0 20px; font-size:20px; color:#3e4446; vertical-align:middle; background:url(images/go_pay.png) 0 0 no-repeat;}
.grey1 {color:#808080; font-size:0.84em; padding:3px 0 0 0;}
.agree {float:right;}  

.insert_cost { font-size:1.2em; border-top:1px solid #abc6d3; padding:6px 10px; background:#afc9d5 url(images/insert_cost_bg.gif) 0 0 repeat-x;}
.insert_cost input, .insert_cost label {vertical-align:middle;}
.type_coach { position:relative;font-size:1.2em; border-top:1px solid #7aa0b3; padding:5px 12px; color:#fff; background:#7ca7bb;}
a.ref_scheme {position:relative; float:right; z-index:8; color:#fff; text-decoration:none; border-bottom:1px dashed #fff; font-size:0.84em;}
a.ref_scheme_active {color:#5c91ab;border-bottom:1px dashed #5c91ab;}
a:hover.ref_scheme {border-bottom:0;}

.scheme_coach {position:absolute; top:-1px; right:0; padding: 35px 12px 15px 34px; background:#dee9ee; border:1px solid #5c91ab;}

.compart_table {margin-bottom:10px !important;}
.compartments {font-size:10px !important;}
.compartments td  {padding:0 !important;}
.compartment {background:#ebf6ec; border:1px solid #fff; padding:0px 0 2px 5px; margin: 0 9px 0 0;}
.compartment div {height:17px; padding: 3px 0 0 0; margin-right:-1px;}
.compartment .side_place {padding: 3px 0 0 0; margin-right:0px; padding-right:5px;}
.compartment .side_place span {float:none; margin:0 auto;}
.compartment span {cursor:pointer; display:block; float:left;  margin:0 6px 0 0; border:1px solid #ebf6ec; text-align:center; width:19px; line-height:13px; height:13px;}
.compartment span:hover {border-color:#5c91ab;}
.compartment span span {border:1px solid #7ca6bb; background:#fff;height:11px; line-height:11px; margin:0; float:none; width:auto; }
.compartment .short {width:13px;}
.compartment .active span {background:#5c91ab; color:#fff;}
.compartment .occup  {background:#d4d0c8; cursor:default;}
.compartment span.occup:hover  {border:1px solid #ebf6ec; }

.type_place {line-height:20px;}

.compart_first {text-align:right;width:33px; padding-right:50px !important;}
.compart_last {width:72%; padding-right:0 !important;}
span.ref_next  { color:#d4d0c8; text-decoration:underline; background:url(images/span_next.gif) 100% 5px no-repeat;}
.ref_next  {float:right; font-size:13px; margin:4px 0 0 0; padding: 0 23px 0 0; background:url(images/ref_next.gif) 100% 5px no-repeat;}

.transporter {font-size:1.7em; line-height:1.8; margin: 0 0 30px 0;}
.transporter td {vertical-align:top; padding:7px 18px 7px 0;}
.transporter .vamiddle td {vertical-align:middle;}

.extra_info {font-size:1.2em; line-height:1.35; padding:10px 40px 13px 20px; background:#e5f2f7; margin: 0 0 25px 0;}
.extra_info h5 {font-size:1.15em; color:#666666; margin:0; padding:8px 0 0 0;}
.extra_info p {padding:3px 0;}
.extra_info {}


.content_text {
font-size:10pt;
line-height:135%;
padding:7px 0 9px;
}

.l
{
	text-align:left;
}
.l
{
	text-align:right;
}
.text_minor
{
	color:Gray;
	font-size:0.8em;
}

.warn_complex
{
	font-size:14px;
}

.warn_complex ul
{
	margin-bottom:10px;
}

.complex_pay_btn_text
{
	text-align:justify;
	width:500px;
	margin-bottom:15px;
}

.payment_system_disabled .pay_cost
{
	color:Gray;
}


.form_search { font-size:1.2em; margin:20px 0 25px;}
.form_search fieldset {}
.form_search .form_search_tl {background:url(images/form_tl.gif) 0 0 no-repeat;}
.form_search .form_search_bl  {background:url(images/form_bl.gif) 0 100% no-repeat;}
.form_search .form_search_tr {background:url(images/form_tr.gif) 100% 0 no-repeat;}
.form_search .form_search_br {padding: 0 3px; background:url(images/form_br.gif) 100% 100% no-repeat;}
.form_search .form_search_bg {background: #b4cbd8 url(images/form_bg.gif) 0 0 repeat-x;}
.form_search .form_search_br .form_search_bg { padding: 15px 17px 12px 17px;}
.form_search .form_search_bg  .form_search_br { padding: 15px 20px 12px 20px;}
.form_search table {width:100%;}
.form_search td {padding: 4px 0;}
.form_search .go {cursor:pointer; width:93px; float:right; height:28px; border:0; font-size:18px; color:#7f7f7f; background: url(images/search_go.png) 0 0 no-repeat;}
.form_search .inp  {width:95%; border:1px solid #a7c0ce; font-size:14px; color:#000; padding:4px 8px; }
.form_search input, .form_search select, .form_search label {vertical-align:middle;}
.form_search select {font-size:11px;}
.form_search label {margin-right:15px;}
.form_search .label_select label {margin-right:0; font-weight:bold; color:#596a72;}
.content6 .form_search  {margin-top:0;}

.width56 {width:56%;}
.form_search_object {width:74%;}
.form_search_object td {padding: 6px 0;}
.form_search_object td.label_select {padding: 14px 0;}
.form_search_object .inp  {padding:7px 8px; font-size:16px;}
.form_search_object .go {width:116px; height:34px; background: url(images/search_go1.png) 0 0 no-repeat;}

.line {border-top:1px solid #d9d9d9; height:0px; font-size:0; line-height:0; clear:both;}
.line1 {border-top:1px solid #5c91ab; height:0px; font-size:0; line-height:0;}
.line2 {border-top:1px dashed #d9d9d9; height:0px; font-size:0; line-height:0;}
.line3 {border-top:1px dashed #d9d9d9; height:0px; font-size:0; line-height:0; margin: 15px 0;}
.line5 {border-bottom:1px dotted #c4c4c4; height:0px; font-size:0; line-height:0; margin: 0 0 15px 0; clear:both;}

.routefilter
{
    margin: 3px 3px 3px 3px;
    padding: 4px 4px 4px 4px;
    background-color:#efefef;
    border:solid 1px gray;
}

.filteropen
{
    color: #5C91AB;
    border-bottom: 1px dashed #5C91AB;
    line-height: 1.4;
    
    cursor:pointer;
}

.filteritemname
{
    border-bottom:1px dashed #d9d9d9;
    font-weight:bold;
    margin: 5px 5px 5px 5px;
}

.filteredempty
{
    font-size:12px;
    margin: .4em 0 .8em;
}

.price
{
	white-space:nowrap;
}


.price .catclass
{
    color:Gray;
    font-size:12px;
}

.price .catvalue
{
    font-size:12px;
}

.price .value
{
    font-size:12px;
}

.ppmany
{
    border:solid 1px green;border-top: 0;
}


.showRoutesG
{
	clear:left;
	padding-top:10px;
}

.showRoutesG a
{
	font-size:20px;
}


.pososhok button
{
	font-weight:bold;
	font-size:14px;
}

.rp_code
{
	font-size:8px;
}

.transfernames
{
	margin-left:65px;
	margin-bottom:5px;
	font-size:12px;
}



.waytable .big {
    font-weight: bold;
    font-size: 18px;
}

.lowercase {
    text-transform: lowercase;
}

.black
{
	color:Black;
}


.waytable .car_class {
    display: block;
    width: 171px;
}

.waytable.last_line tr:last-child td {
    border-bottom: solid 1px #b2b0a9;
}

.waytable .big {
    font-weight: bold;
    font-size: 18px;
}

.waytable.fix_height td{
    height: 64px;
}

.waytable td {
	padding-top: 8px;
	padding-bottom: 8px;
	border-top: solid 1px #b2b0a9;
	cursor: pointer;
}

.waytable.nopointer td{
    cursor: inherit;
}

.waytable td:last-child {
    padding-right: 16px;
}
.waytable .car_class {
    display: block;
    width: 171px;
}

.step .active a
{
	display:none;
}

.totalpricecalc
{
	font-weight:normal;
}

#ctnchildborderrule
{
	float:right;
	margin-right:20px;
	margin-bottom:10px;
}


.rfeatured .rtd
{
	padding-top:20px;
}


.featuretitlectn
{
	position:relative;
}

.featuretitle
{
	font-size: large;position:absolute;top:-20px;width:550px;
}

.warnEnterDate
{
	font-size:20px;color:White;
	background-color:Red;
	width:80px;
}


.advert {margin: 0 0 18px 0; width:200px; line-height:130%; padding: 0 0 3px 0; }
.advert .title {height:16px; overflow:hidden; width:80px; background-color:#d6dcdf; border-radius: 4px 4px 0 0;}
.advert .text {padding:9px 9px 10px 9px; color:gray; border-width:1px 1px 1px 1px; border-color:#d6dcdf; border-style:solid; border-radius: 0 4px 4px 4px;}
.advert p {padding: 2px 0;}

.advert ul
{
	padding-left:0px;
}

.advert li
{
	margin-bottom:5px;
}


.hadstitle
{
	font-size:13px;
	font-weight:bold;
}


.hadsdescr
{
	font-size:11px;
}

.hadsurl
{
	padding-top:0px;
	color:#060;
	font-size:11px;
	font-family:normal;
}

        
        
        div.plusBtn
{display: inline-block;
 padding: 5px 10px 5px 30px;
 border: 0px;
 border-radius: 4px;
 background: #5d97b2 url('/new/images/plsBtn.png') no-repeat 5px center;
 color:#fff;
 font-size:12pt;
 font-weight:bold;
 cursor:pointer;
    }
    
    .myrouteslink
    {
    width:100px;
    margin:5px 5px 5px 5px;
    float:right;
    }
    
    
    
    
    
    
.search_form_visa {	}

.search_form_visa fieldset {padding: 18px 11px 17px 21px; }
.search_form_visa1 {margin: 0 0 30px; 	background:#dfe8ee url(/New/images/search_marsh.jpg) 0 100% repeat-x;}
.search_form_visa_bl {background: url(images/search_marsh_bl.gif) 0 100% no-repeat;}
.search_form_visa_br {padding: 4px 11px 0px 21px; min-height:227px; background: url(images/search_marsh_br.gif) 100% 100% no-repeat;}
.search_form_visa table {table-layout:fixed; width:100%; margin: 0 0 7px;}
.search_form_visa td {padding: 0 10px 6px 0;}
.search_form_visa .marsh_date td {padding: 0 10px 0px 0;}

.search_form_visa .exsample a {text-decoration:none; border-bottom:1px dashed #5c91ab; }
.search_form_visa .exsample a:hover {border-bottom:0px; }
.search_form_visa label  {font-size:1.2em; margin-right:42px; vertical-align:middle;}
.search_form_visa input  { vertical-align:middle;}
.search_form_visa  .sect td   {padding-bottom:22px;}
.search_form_visa td.marsh_date1   {padding-bottom:22px;}
.search_form_visa table .go {margin:0px 10px 0 0;}
.search_form_visa .go   {cursor:pointer; width:200px; height:40px; border:0;  font-size:24px; background-color:#64EB64; color:#fff; font-weight:bold; margin:5px 30px 0 0; border:solid 1px gray; }
.search_form_visa .go:hover   {cursor:pointer; width:200px; height:40px; border:0;  font-size:24px; background-color:#00ff00; color:#fff; font-weight:bold; margin:5px 30px 0 0; border:solid 1px gray; }


.title2_visa {font-size:1.54em; font-weight:bold;  line-height:20px;  letter-spacing:-1px; }
.title2_visa div {padding:0 5px; height:27px; }
.title2_visa div  div {color:#fff;  padding:4px 4px 2px 4px;  height:21px; }
.title2_visa a {font-size:0.77em; text-decoration:none; font-weight:normal; border-bottom:1px dashed #fff; line-height:16px;color:#fff; float:right; letter-spacing:0px;margin:1px 0 0 0;}
.title2_visa a:hover {border-bottom:0px;}


.fullpayerinfo_container
{
    border:solid 1px gray;
}

.agencylist .item
{
    margin-left:20px;
}

.agencylist .active
{
    font-size:20px;
}