.error-page h2 {
  text-align: center;
  color: #fff; }

header {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15); }

.rainbow-loader {
  width: 105.5%;
  margin: 0 -2.9%;
  grid-area: loader;
  height: 16px;
  background: linear-gradient(90deg, #FFD9D9 0%, #FDDCD8 2.105%, #FFE4DB 4.22%, #FFE8DA 6.325%, #FFE8D3 8.36%, #FCF0D2 10.475%, #FFFBD6 12.55%, #FCFFD6 14.63%, #F4FFD6 16.71%, #E5FFD6 18.805%, #DBFFD6 20.87%, #D6FFDC 22.96%, #D6FFE6 25.055%, #D6FFFA 27.135%, #D6F8FF 29.205%, #D6EEFF 31.315%, #D6E4FF 33.365%, #D6D7FF 35.475%, #DED6FF 37.555%, #EFD6FF 39.6%, #F9D6FF 41.715%, #FFD6F8 43.785%, #FBD6FF 45.865%, #FFD6EA 47.92%, #FFD6D6 50%, #FFD6EA 52.08%, #FBD6FF 54.135%, #FFD6F8 56.215%, #F9D6FF 58.285%, #EFD6FF 60.4%, #DED6FF 62.445%, #D6D7FF 64.525%, #D6E4FF 66.635%, #D6EEFF 68.685%, #D6F8FF 70.795%, #D6FFFA 72.865%, #D6FFE6 74.945%, #D6FFDC 77.04%, #DBFFD6 79.13%, #E5FFD6 81.195%, #F4FFD6 83.29%, #FCFFD6 85.37%, #FFFBD6 87.45%, #FCF0D2 89.525%, #FFE8D3 91.64%, #FFE8DA 93.675%, #FFE4DB 95.78%, #FDDCD8 97.895%, #FFD9D9 100%);
  background-size: 200% 200%;
  animation: rainbow 3s linear infinite; }

@keyframes rainbow {
  0% {
    background-position: 0; }
  100% {
    background-position: 200%; } }

@media screen and (max-width: 425px) {
  header .clear {
    display: none; }
  header .burger, header .burger:after, header .burger:before {
    position: absolute;
    top: 50%;
    height: 2px;
    width: 100%;
    margin: -1px 0 0 0;
    background: #fff; }
  header .burger:after, header .burger:before {
    content: "";
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  header .burger:after {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px); }
  header .burger:before {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px); }
  header .burger.burger-X {
    visibility: hidden; }
    header .burger.burger-X:after, header .burger.burger-X:before {
      visibility: visible;
      background: #C4C4C4; }
  header .burger.burger-X:after {
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg); }
  header .burger.burger-X:before {
    -webkit-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg); }
  header .grey,
  header .burger.grey:after,
  header .burger.grey:before {
    background: #C4C4C4; }
  header .rainbow-loader {
    width: 100%;
    margin: 0; } }

.graphs {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  grid-area: graph;
  overflow: hidden; }

.graph1,
.graph2 {
  height: inherit;
  width: 100%;
  overflow: hidden;
  position: relative; }

.graph1 {
  align-items: flex-end; }
  .graph1 .bar {
    width: 3.3%;
    transition: all 0.4s ease;
    margin-right: 1px;
    background-color: #e5e5e5; }
    .graph1 .bar.available {
      background-color: #BCF1CF; }
    .graph1 .bar:hover {
      background-color: #1ED760; }
    .graph1 .bar.active {
      background-color: #FA4100; }

.graph2 {
  align-items: center; }
  .graph2 .proposal-item {
    color: #777;
    padding: 14px 20px;
    width: 14%; }
    .graph2 .proposal-item.active {
      color: #222;
      border-bottom: 3px solid #1ED760; }
    .graph2 .proposal-item .price {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px; }
    .graph2 .proposal-item .date {
      font-size: 12px;
      line-height: 18px; }
  .graph2 .divider {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    height: 40px;
    width: 1px;
    min-width: 1px; }
    .graph2 .divider:last-child {
      display: none; }

.graph-wrapper {
  width: 100%;
  display: flex;
  align-items: inherit;
  height: 100%;
  position: relative; }

.arrowArea {
  position: absolute;
  left: 0;
  height: 100%;
  width: 60px;
  background: rgba(249, 249, 249, 0.5);
  border-radius: 0 50% 50% 0; }
  .arrowArea.right {
    left: unset;
    border-radius: 50% 0 0 50%;
    right: 0; }

.graph-change {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  align-items: center;
  width: 200px;
  white-space: nowrap; }

.graph-btn {
  height: 50px;
  width: 34px;
  margin: 0 20px 0 0;
  box-sizing: border-box;
  border: 1px solid #22B84F;
  border-radius: 100px;
  background: #22B84F; }

.graph-btn-second {
  background: #F2F2F2;
  border: 1px solid #DCDCE0; }

.graph-btn > div {
  width: 32px;
  height: 32px;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.graph-btn-second-position {
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%); }

.graph-change > p {
  display: inline-flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  font-size: 13px;
  color: #777777; }

.graph-active {
  font-size: 15px;
  font-weight: 700;
  color: #000; }

.next-arrow {
  position: absolute;
  right: 0;
  top: 15px; }

.prev-arrow {
  position: absolute;
  left: 0;
  top: 15px;
  transform: rotate(180deg); }

form.filters {
  width: -webkit-fill-available;
  max-width: 250px;
  margin: 0 20px 0 0; }
  form.filters input.search-btn {
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    background: linear-gradient(90deg, #1ED760 0%, #22B84F 100%);
    display: block;
    width: calc(100% - 48px);
    margin: 16px auto;
    border-radius: 4px;
    height: 64px; }
  form.filters input.search-btn:hover {
    background: linear-gradient(90deg, #5EEC91 0%, #33EE6B 100%); }
  form.filters > div {
    border-top: 1px solid #E5E5E5; }

.popular > div {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px; }

.popular > div > div {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 0 5px 5px 0;
  padding: 0 10px 0 10px;
  background: #fff;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 13px;
  color: #777777;
  cursor: pointer; }

.popular > div > div.checked {
  color: #fff; }

.active-filter {
  color: #fff;
  background: #1ED760;
  border: 1px solid #1ED760; }

.change > div > div:not(:last-child) {
  margin-bottom: 10px; }

.duration > div > span {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  color: #222222; }

.duration .duration__filter_item {
  margin-bottom: 20px; }

@media screen and (max-width: 425px) {
  form.filters {
    display: none;
    position: fixed;
    overflow-x: scroll;
    height: 100%;
    top: 0;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.15);
    background: #fff;
    z-index: 10; }
    form.filters > div {
      position: relative;
      padding: 0 24px; }
    form.filters.visible {
      display: block; }
    form.filters > div > span > img {
      display: none; }
  img.reset-small {
    position: absolute;
    top: 16px;
    right: 24px;
    padding: 6px;
    background: #C4C4C4;
    border-radius: 50%; }
  /*.filters>div:first-child{
        border: none;
    }*/
  img.filters {
    display: block;
    height: 16px;
    width: 16px;
    margin: 0;
    padding: 10px; }
  input.filter-search {
    display: block;
    width: calc(100% - 48px);
    margin: 16px auto;
    border-radius: 4px; } }

.filter-dropdown__section > span {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 10px 0 10px 0;
  font-size: 15px;
  font-weight: 700;
  color: #222222;
  cursor: pointer; }
  .filter-dropdown__section > span > img {
    margin-left: auto;
    margin-right: 10px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

.filter-dropdown__section_content {
  margin-bottom: 20px; }

.input-range__slider {
  appearance: none;
  background: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 1rem; }
  .input-range__slider:active {
    transform: scale(1.3); }
  .input-range__slider:focus {
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
  .input-range--disabled .input-range__slider {
    background: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    transform: none; }

.input-range__slider-container {
  transition: left 0.3s ease-out; }

.input-range__label {
  color: #aaaaaa;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
  transform: translateZ(0);
  white-space: nowrap; }

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute; }

.input-range__label--min {
  left: 0; }

.input-range__label--max {
  right: 0; }

.input-range__label--value {
  position: absolute;
  top: -1.8rem; }

.input-range__label-container {
  left: -50%;
  position: relative; }
  .input-range__label--max .input-range__label-container {
    left: 50%; }

.input-range__track {
  background: #eeeeee;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out; }
  .input-range--disabled .input-range__track {
    background: #eeeeee; }

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%; }

.input-range__track--active {
  background: #3f51b5; }

.input-range {
  height: 1rem;
  position: relative;
  width: 100%; }
.range-clider__custom {
  padding: 16px 0.5rem; }
  .range-clider__custom .input-range .input-range__label--min,
  .range-clider__custom .input-range .input-range__label--max {
    display: none; }
  .range-clider__custom .input-range .input-range__track--background .input-range__track--active {
    background: #1ED760; }
  .range-clider__custom .input-range .input-range__track--background .input-range__slider-container div {
    background: #1ED760;
    border-color: #fff; }

.checkbox-component {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  align-items: center;
  color: #777777;
  cursor: pointer; }
  .checkbox-component.checked {
    background-color: #1ed760;
    border: 1px solid #1ed760; }
  .checkbox-component .icon-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background: #fff;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 2px; }
    .checkbox-component .icon-wrapper.checked {
      background-color: #1ed760;
      border: 1px solid #1ed760; }

.results-filter {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  grid-area: results-f; }
  .results-filter > div {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0 20px 0 20px;
    margin-right: 10px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    color: #777777;
    cursor: pointer; }
  .results-filter > div > svg {
    margin-left: 5px; }
  .results-filter .checkbox-component.checked {
    color: #fff; }
    .results-filter .checkbox-component.checked.desc svg {
      transform: rotate(180deg) scaleX(-1); }
    .results-filter .checkbox-component.checked svg path {
      fill: #fff; }

@media screen and (max-width: 425px) {
  .results-filter {
    width: 100vw;
    overflow-x: scroll;
    padding: 0 0 36px 0;
    margin: 4px 0 -36px 0;
    overflow-y: hidden;
    z-index: 1; }
    .results-filter > div {
      margin: 0 0 0 10px;
      white-space: nowrap; } }

.results-item-wrapper {
  border: 1px solid #E5E5E5;
  background: #fff;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  border-radius: 10px;
  padding: 0 20px; }

.horizontal-divider {
  width: 60%;
  margin: 10px 20%;
  height: 1px;
  background: #E5E5E5; }

.carrier-icon {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  background-color: #eee; }

.fake-button {
  width: 116px;
  height: 52px; }

.results-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background: #fff; }
  .results-item .logos {
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    padding-top: 37px; }
  .results-item .logos > div:not(:first-child) {
    margin-left: -13px; }
  .results-item .time-desc {
    width: 66%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    align-items: center; }
  .results-item .departure,
  .results-item .arrival {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    min-width: 100px;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    position: relative; }
    .results-item .departure .days-diff,
    .results-item .arrival .days-diff {
      left: 60px;
      top: -4px;
      padding: 1px 3px;
      position: absolute;
      background: #FA4100;
      border-radius: 4px;
      color: #fff; }
  .results-item .day,
  .results-item .iata-code,
  .results-item .air-name,
  .results-item .trip-duration {
    font-size: 12px;
    color: #777777;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 35vw;
    white-space: nowrap; }
  .results-item .time {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #222222; }
  .results-item .iata-code {
    font-weight: 700; }
  .results-item .transfer {
    font-size: 12px;
    font-weight: 400;
    color: #777777; }
  .results-item span.transfer-code {
    color: #000; }
  .results-item .time-line {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    margin: 0 10px; }
  .results-item .line-holder {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center; }
  .results-item span.line {
    display: block;
    height: 3px;
    width: 100%;
    background: #E5E5E5; }
    .results-item span.line:nth-child(even) {
      background: #FA4100; }
  .results-item .buy-info {
    align-self: center; }
    .results-item .buy-info .buy {
      width: 116px;
      height: 52px;
      padding: 10px 18px 10px 18px;
      box-sizing: border-box;
      border-radius: 4px;
      background: linear-gradient(90deg, #1ED760 0%, #22B84F 100%);
      font-size: 13px;
      font-weight: 700;
      color: #fff;
      text-align: center;
      cursor: pointer;
      position: relative; }
      .results-item .buy-info .buy .loading-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        color: #1ED760;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center; }
    .results-item .buy-info .baggage {
      font-size: 12px;
      text-align: center;
      margin-top: 5px; }
      .results-item .buy-info .baggage.with {
        color: #22B84F; }
      .results-item .buy-info .baggage.without {
        color: #EB3226; }

@media screen and (max-width: 425px) {
  .results-item-wrapper {
    padding: 16px; }
    .results-item-wrapper .results-item {
      display: grid;
      height: 78px;
      grid-template-areas: "time-desc buy" "time-desc logos"; }
      .results-item-wrapper .results-item .line-holder {
        height: 16px; }
      .results-item-wrapper .results-item .logos {
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
        padding-top: 0;
        align-self: center;
        min-width: 60px;
        justify-content: flex-end; }
      .results-item-wrapper .results-item .logos > img:not(:first-child) {
        margin-left: -13px; }
      .results-item-wrapper .results-item .time-desc {
        width: auto;
        min-width: 35vw;
        display: grid;
        grid-template-areas: "departure departure" "time-line time-line";
        grid-area: time-desc; }
      .results-item-wrapper .results-item .buy {
        width: auto !important;
        height: auto !important;
        padding: 0 !important;
        background: transparent !important;
        font-size: 18px !important;
        font-weight: bold;
        color: #222222 !important;
        white-space: nowrap !important;
        grid-area: buy !important;
        text-align: end;
        margin-top: 5px;
        cursor: auto; }
        .results-item-wrapper .results-item .buy .baggage {
          font-size: 12px;
          font-weight: normal; }
          .results-item-wrapper .results-item .buy .baggage.with {
            color: #22B84F; }
          .results-item-wrapper .results-item .buy .baggage.without {
            color: #EB3226; }
  .departure {
    grid-area: departure; }
  .arrival {
    grid-area: arrival; }
  .time-line {
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse !important;
    grid-area: time-line !important;
    margin: 0 !important; }
  div.line {
    height: 20px; }
  .day,
  .air-name {
    display: none; }
  .time {
    display: flex;
    justify-content: space-between;
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #000000 !important; }
    .time .transfer-in-time {
      color: #777;
      font-size: 12px;
      margin: 0 4px; }
  .iata-code {
    display: flex;
    justify-content: space-between; }
    .iata-code .days-diff {
      display: inline-block;
      position: relative !important;
      left: 0 !important;
      top: 0 !important;
      margin-left: 5px; }
  .carrier-icon {
    width: 20px;
    height: 20px; }
  .horizontal-divider {
    width: 90% !important;
    margin: 10px 5% !important; } }

.offer .offer-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px; }
  .offer .offer-header > p {
    margin: 0 0 0 10px; }
  .offer .offer-header > img {
    width: 30px; }
  .offer .offer-header:hover {
    background: #F9F9F9; }
  .offer .offer-header-active {
    padding-left: 7px;
    border-left: 3px solid #1ED760;
    background: #F9F9F9; }

.offer .offer-country,
.offer .offer-directions-count,
.offer .offer-city {
  font-size: 12px;
  color: #777777; }

.offer .offer-country {
  font-weight: 700; }

.offer .offer-min-price,
.offer .offer-price {
  margin-left: auto;
  font-size: 13px;
  font-weight: 700;
  color: #222222; }

.offer .show-all-offers {
  display: block;
  margin: 0;
  padding: 10px 10px 10px 50px;
  box-sizing: border-box;
  font-size: 13px;
  color: #2298C8; }
  .offer .show-all-offers:hover {
    background: #fff; }

.offer .offers .offer-detailed__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  margin: 0;
  padding: 10px 10px 10px 50px;
  box-sizing: border-box; }

.offer .offers p:hover {
  background: #F9F9F9; }

.country-flag {
  width: 32px;
  height: 32px;
  background-position: center;
  border-radius: 16px; }

.custom-map {
  width: 100%;
  height: calc(100vh - 140px);
  max-height: 800px;
  z-index: 2;
  margin-right: -2.8%;
  background: #ceeefd; }

.leaflet-div-icon {
  border: none !important;
  background-color: unset !important; }

.popup-city {
  font-size: 16px; }

.popup-price {
  font-size: 12px; }

