@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width: 768px) and (max-width : 991px)
	.top_cities_list
		margin: 17px 0px 0px
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	/**/

	.main_bg.top
		background-color: rgb(71,192,102)
		& .topline
			display: block
			background-color: rgb(71,192,102)

		& .form-information
			margin-top: 5px
			color: #fff

		& .content
			display: none
			width: 100%
			min-height: calc(100vh - 60px)
			position: relative
			
			&.mobile-open
				display: block

			& > .wrapper
				width: 100%
				position: absolute
				bottom: 0
				top: 0

				& > div
					position: absolute
					width: 100%
					right: 0
					left: 0

				& .cities
					top: calc(50% - 210px)
					background-color: transparent
					
					& .lowtrip-form-logo
						display: none

				& .recommended
					bottom: 0

	.recommended
		& .top_cities_text
			padding: 6px 10px 0px

		& .top_cities_list
			& li
				&:first-child
					margin-left: 10px

				&:last-child
					margin-right: 10px

	.logo_lowtrip
		float: none
		margin: auto

	.header_car
		& .topline
			& .center
				height: initial

		& .header_price
			font-size: 40px
			line-height: 48px

		& .search_form
			position: relative
			left: unset
			right: unset
			bottom: unset

	.main_bg
		&.open-form
			display: none

		&.header_car
			min-height: 400px
	
	.main_bg.top
		background-color: rgb(71,192,102)

		&.fixed
			padding-right: 0px

		& .topline
			padding-top: 5px
			padding-bottom: 5px
			display: block
			background-color: rgb(71,192,102)

			& .logo_lowtrip img
				height: 50px
				vertical-align: top

			& .center
				margin-top: 16px
				font-size: 16px
				line-height: 20px
				height: 20px
				overflow: hidden

		& .content
			display: none

		& .open-form
			display: block

	.topline
		padding-top: 15px
		padding-bottom: 15px
		& .center
			margin-top: 16px
			font-size: 28px
			line-height: 36px

	.city-review
		padding: 25px 0px

	.testimonial
		max-width: 640px

	.trip-offer h3
		font-size: 18px

	.car_driver_block
		& > .car_driver_image
			width: 180px
		& > .car_driver_content
			max-width: 410px

			& > .car_driver_content_title
				font-size: 18px
				line-height: 22px
			& > .car_driver_content_text
				font-size: 14px
				line-height: 18px

/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	body
		font-size: 13px
		
	.desktop
		display: none

	.container, .container.container_20, .container-fluid
		padding-left: 10px
		padding-right: 10px

	.sm_50
		margin: 25px 0px

	.section_information
		margin-top: 50px

	.row
		margin-left: -10px
		margin-right: -10px
	h1
		font-size: 30px
		line-height: 40px
		text-align: center

	h2
		font-size: 18px
		line-height: 22px

	h3
		font-size: 16px
		line-height: 22px

	.popup_contact
		padding: 15px
		font-size: 20px
		line-height: 24px
		max-width: 360px

		& .mfp-close
			right: 0
			font-size: 50px

	.popup_thanks

		& .container-fluid
			padding: 0px 10px

		& .title
			font-size: 20px
			line-height: 24px
			margin: 10px 0px 20px

		& .text
			font-size: 14px
			line-height: 17px
			margin: 10px 0px

		& .top, & .bottom
			padding: 10px 0px

		& .bottom
			& .text
				font-size: 20px
				line-height: 24px

			& .arrow
				display: none

	.email_form
		& input
			font-size: 14px
			margin-bottom: 10px

		& .status
			bottom: 5px

		& .status_total
			bottom: 0
			position: relative
			text-align: center

	.places
		& h2
			text-transform: none
			text-align: center

	.places_block
		margin-top: 0px
		min-height: 180px

	.places_container
		margin-top: 50px

		& .owl-nav
			left: 0
			right: 0
			top: -50px
			width: 80px
			margin: auto

			& .owl-prev
				left: -10px

			& .owl-next
				right: -10px

	.logo_lowtrip img
		height: 50px

	.mp_10
		padding-left: 10px
		padding-right: 10px

	.main_bg
		& .open-form
			display: block

	.after_top
		//margin-top: 60px !important

		& + .trip-block
			margin-top: 25px

	.trip-block
		margin: 50px 0px

	.topline
		padding-top: 5px
		padding-bottom: 5px
		& .center
			margin-top: 16px
			font-size: 16px
			line-height: 20px
			height: 20px
			overflow: hidden

			&.m_full
				height: initial

		& .mp_10
			height: 50px
			line-height: 50px

	.top_cities
		padding: 15px 0px
		&.white
			margin-top: 70px
			&.tours
				margin-top: 25px

	.top_cities_text
		padding-top: 6px
		font-size: 14px
		line-height: 16px
	.top-cities-scroll
		height: 45px
	.top_cities_list
		max-width: 695px
		margin: 3px 0px 20px

	.page-footer
		font-size: 13px

	.partners
		& .list
			margin-top: 10px

		& h3
			font-size: 16px
			line-height: 22px
			margin-bottom: 15px

	.partners_company
		& .list
			& .img_boxed
				float: left
				width: calc(100% / 2)
				height: 60px
				line-height: 60px
				padding: 0px 10px
		& .be_partner
			margin-top: 15px

	.img_boxed
		height: 40px
		line-height: 40px
		text-align: center

	.city-review
		padding: 15px 0px 15px
		margin: 0px

		& .city-block
			margin-top: 15px
		
		& h1
			font-size: 18px
			line-height: 22px
			font-family: $regular
			font-weight: 400

	.city-review-block
		padding: 10px 10px 15px
		box-shadow: 0px 2px 6px rgba(0,0,0,0.3)

	.city-infoblock
		margin-bottom: 40px
		& .city-text-block
			height: 150px
			& .city-text
				margin-bottom: 10px

	// блок отзывы
	.testimonial-item
		height: 240px
		margin: auto
		& .read-full
			left: 0
			right: 0

	.testimonial-full

		& .item-content
			& .text
				max-height: 380px
		& .text
			max-height: 100%

		& .mfp-close
			right: 0

	.testimonials-block
		margin-bottom: 5px
		& .owl-prev, & .owl-next
			width: 15px
			height: 24px
		& .owl-prev
			left: 5px
		& .owl-next
			right: 5px

	.fulltext-link
		padding: 0px
		padding-top: 35px
		font-size: 12px
		line-height: 12px
		display: block
		text-align: center
		&:after
			content: ''
			background-image: url(../img/icons/down-arrow.png)
			background-position: center		
			background-color: #47C066
			width: 30px
			height: 30px
			border-radius: 50%
			color: #fff
			top: 0px
			left: 0
			right: 0
			margin: auto

	// блок поездка жилье аудиогид
	.trip
		padding: 15px 0px 35px
		& .offers
			margin-top: 15px
			margin-bottom: 15px

	.trip-offer
		max-width: 290px
		width: 290px
		margin-bottom: 25px

		&.offer_block
			max-width: 290px
			margin: 10px 0px

	.trip-offer-item
		border-radius: 10px
		overflow: hidden
		min-height: 155px
		& .content
			overflow: hidden
		& .image
			float: left
			width: 120px
			&.quest
				height: 135px
		& .quest_name
			display: none
		& .trip-offer-logo
			max-width: 100px
		& .information
			float: left
			width: 170px
		& .description
			padding: 7px 10px
			white-space: nowrap
			text-overflow: ellipsis
			overflow: hidden
		& .trip-offer-link
			min-height: initial
		& .offer-price
			font-size: 18px
			padding: 4px 12px
			&:after
				width: 24px
				height: 24px
				background-size: 24px
				top: 3px
		& .trip-offer-about
			padding: 4px 12px
			font-size: 12px
			line-height: 14px
		& .trip-cta
			height: 35px
			line-height: 35px
			font-size: 14px
			float: left
			width: 100%

	.offer-check
		margin-top: 25px

	.special-offer
		width: 240px
		border-radius: 10px
		height: 360px
		margin-bottom: 10px

		& .left
			position: absolute
			top: 240px
			width: 100%
			height: 120px
			padding: 0px

			& .bk-form
				margin-top: 0px
				padding: 10px


		& .right
			position: absolute
			top: 0px
			width: 100%
			height: 240px

		& .gift-bk
			display: none

	.bk-form-label
		height: 40px
		margin-bottom: 0px

	.bk-form-input
		width: 180px
		font-size: 13px
		padding: 0px 7px

	.bk-form-button
		font-size: 14px
		width: 40px

	.bk-form-text
		font-size: 13px
		margin-top: 0px


	.map
		&.map_300
			height: 200px

	.offer_content
		& .section
			padding: 25px 0px

		& .trip-offer-item
			border-radius: 0px

		& .offer_item_row
			margin-bottom: 10px

	.offer_images 
		margin: 10px 0px
		&.offer_images_300
			height: 200px

	.page_content
		padding: 0px
		& .text_content
			&.left_p
				padding-left: 0px

	.text_content
		font-size: 14px
		line-height: 17px

	.section_standart
		padding: 15px 0px
		
	.section_title
		text-align: center !important
		margin-bottom: 20px

	.middle_height
		height: 220px
		margin-bottom: 20px

	.trip_page_header
		font-size: 14px
		line-height: 17px
		margin: 25px 0px 0px

		& .title
			font-size: 16px
			line-height: 20px

		& .hello-image
			max-width: 100px
		& .after_image
			width: 100%
			padding-left: 0px

	.trip
		& .trip-section
			padding-top: 0px

	.social-networks
		font-size: 16px
		line-height: 20px
		margin-left: -10px
		margin-right: -10px
/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

	.main_page_content
		& > section:not(:first-child)
			display: none

	.logo_lowtrip img
		height: 50px

	.mobile_header
		background-color: $white !important
		background-image: none !important
		min-height: 100vh
		position: relative
		display: table
		width: 100%
		
		& .header_cell
			display: table-cell
			width: 100%
			vertical-align: middle

		.mobile_header_content
			display: flex
			flex-direction: column
			justify-content: space-around
			height: 100vh
			min-height: 480px
			width: 100%

			& > div
				width: 100%

			& > .content
				width: 100%

		& .slogan
			margin: 20px 0px 10px
			& .name
				color: #47C066
				font-family: $bold
				font-weight: 800
				font-size: 30px
				line-height: 36px

			& .title
				color: #303030
				font-family: $regular
				font-size: 24px
				line-height: 30px

	.ui-menu
		box-shadow: 0px 1px 2px rgba(0,0,0,0.3)
		max-height: 150px
		min-height: 52px
		overflow-y: auto
		overflow-x: hidden

/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	body
		&.fixed
			overflow-y: hidden

	.after_topline
		top: 60px

	.ui-menu
		width: 100%

	#notification_change
		right: 0px
		&:before
			left: unset
			right: 15px
/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 481px)
	.mobile_header .slogan
		display: none
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.main_bg.main_page
		padding-bottom: 40px
		& .content
			margin-top: 40px

			& .cities
				margin: auto
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.mobile
		display: none

	.after_topline
		top: 80px

	.partners_news
		margin-left: auto
		margin-right: auto
		max-width: 840px

	.partners_company
		& .list
			& .img_boxed
				padding-left: 0px
				padding-right: 30px

	.ui-menu
		width: 200px

	#notification_change
		right: -75px
		&:before
			left: 0
			right: 0

	.trip-offer
		& > h3
			margin-bottom: 50px
		&.multiple > h3
			margin-bottom: 0px
/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.main_bg.main_page
		min-height: 560px

	.main_bg.wide
		min-height: calc(100vh - 100px)
		padding-bottom: 80px

		& .topline
			& .center
				margin-top: 30vh

		&.top
			padding-bottom: 0px

	.top_cities
		height: 100px

	.slider
		& .owl-prev
			left: -55px
		& .owl-next
			right: -55px
/**/

@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape)
	.datepicker
		width: 220px