body
	background-color: #F2F2F2
	margin: 0

table
	border-spacing: 0px

p
	margin: 0

.bg
	background-color: #e2e2e2
	font-family: Arial, sans-serif
	font-size: 14px
	line-height: 20px
	width: 100%

.content
	width: 100%
	max-width: 600px
	margin: 0 auto
	background-color: #FFFFFF

.header
	border-bottom: 5px solid #47C066
	padding: 25px 10px
	width: 100%

	& .title
		color: #303030
		margin: 0
		padding: 10px 0px 10px 20px

		& .big
			font-size: 36px
			line-height: 36px
			font-weight: 800

.inner
	margin: 0px 10px
	max-width: 580px

.intro
	color: #303030
	padding-bottom: 20px
	border-bottom: 2px solid #47C066
	& .title
		margin: 0
		padding: 20px 0px
		text-align: left
		font-size: 20px
		line-height: 24px
		font-weight: 800


.offers
	padding: 20px 0px
	width: 100%

	& .title
		padding: 10px
		font-size: 16px
		line-height: 20px
		font-weight: 700
		text-align: center


.trip-offer
	width: 240px
	display: inline-block
	margin: 10px

.trip-offer-item
	display: block
	position: relative
	color: #fff
	background-color: #303030
	text-decoration: none
	min-height: 293px
	margin: 10px auto
	box-shadow: 0px 3px 3px rgba(0,0,0,0.5)

	& .trip-content-block
		position: relative
		min-height: 173px

	& .image
		height: 120px
		background-repeat: no-repeat
		background-size: cover
		background-position: center
		position: relative
		transition: 0.2s

		&.transfer
			background-image: url(../img/trip/transfer.jpg)
		&.house_bg
			background-image: url(../img/trip/house.jpg)
		&.audiogid
			background-image: url(../img/trip/audiogid.jpg)
		&.burgerking
			background-image: url(../img/trip/bk.jpg)
		
	& .trip-offer-logo
		position: absolute
		top: 10px
		left: 10px

	& .description
		padding: 10px 12px 12px
		background-color: #252525
		font-size: 12px
		line-height: 14px
		font-weight: 300
	
	& .trip-offer-link
		padding: 12px
		min-height: 92px
		

	& .offer-price
		color: #FFFFFF
		position: relative
		display: block
		text-transform: uppercase
		font-weight: 400
		font-size: 25px
		line-height: 30px
		margin-bottom: 10px

		&:after
			content: ''
			position: absolute
			width: 32px
			height: 32px
			right: 0px
			top: -1px
			background-image: url(../img/icons/next.png)
			background-repeat: no-repeat
			background-position: center
			background-size: 32px

	& .trip-offer-about
		font-size: 13px
		line-height: 14px
		font-weight: 300

	& .trip-cta
		display: block
		color: #FFFFFF
		text-decoration: none
		background-color: #47C066
		height: 45px
		line-height: 45px
		text-align: center
		text-transform: uppercase
		font-size: 25px
		font-weight: 400


.offer-check
	max-width: 380px
	margin: 0px auto 40px

	& .bank-line
		background: linear-gradient(to bottom,#303030 ,#606060 100%)
		border-radius: 5px
		padding: 10px 0px
		& .line
			background: #151515
			height: 3px
	
	& .pricelist
		box-shadow: 0px 2px 5px rgba(0,0,0,0.5)
		background-color: #FFFFFF
		border-radius: 7px 7px 0px 0px
		min-height: 200px
		max-width: 320px
		margin: -10px auto 0px
		position: relative
		border-top: 3px dashed #303030
		padding: 25px 20px

		& .separator
			height: 2px
			background-color: #303030

		& .pricelist-total
			font-size: 25px
			line-height: 30px
			color: #303030
			font-weight: 800
			text-align: center
			margin-top: 25px

.pricelist-table
	margin-top: 25px
	width: 100%
	font-size: 20px
	line-height: 24px
	color: #303030
	font-weight: 300

	& td
		padding: 10px 0px
		border-bottom: 1px solid #F2F2F2
		&:last-child
			text-align: right


.soctable
	padding: 20px
	width: 100%
	font-size: 16px
	background-color: #303030
	color: #FFFFFF

.socicon
	width: 40px
	height: 40px
	display: inline-block
	margin: 0px 5px

	& img
		width: 100%






.full
	width: 100%

.white_block
	background-color: #FFFFFF
	padding: 40px 20px

	& .button_container
		text-align: center
		padding-top: 40px



.green_block
	padding: 50px 0px 40px
	background-color: #47C066

	& .title
		font-size: 30px
		line-height: 36px
		color: #FFFFFF
		text-align: center
		margin: 0

.bk-code
	background-color: #FFFFFF
	border-radius: 10px
	color: #303030
	font-size: 30px
	line-height: 36px
	padding: 15px
	margin: 25px auto 0px
	width: 150px
	text-align: center

.title_25
	font-size: 25px
	line-height: 30px
	color: #303030

.button
	padding: 20px
	border-radius: 10px
	display: inline-block

.yellow_button
	background-color: #FCC22B
	color: #303030
	font-size: 20px
	line-height: 24px
	font-weight: bold
	text-decoration: none
