@import "vars"

@import "components/dropdown-helper"
@import "components/listbox"

*::-webkit-input-placeholder
	color: #000
	opacity: 0.4

*:-moz-placeholder
	color: #000
	opacity: 0.4

*::-moz-placeholder
	color: #000
	opacity: 0.4

*:-ms-input-placeholder
	color: #000
	opacity: 0.4
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
	box-shadow: inset 0px 0px 100px 100px #fff
body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

html
	&.fixed
		margin-right: 0px

body
	margin: 0
	font-size: 16px
	line-height: 19px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $light
	overflow-x: hidden
	opacity: 1

.page-wrapper
	display: table
	table-layout: fixed
	height: 100%
	width: 100%

.page-content
	display: table-row
	height: 100%

h1,h2,h3,h4,h5,h6
	margin-top: 0px
	margin-bottom: 0px

.container
	max-width: 980px
	margin-left: auto
	margin-right: auto
	padding-left: 15px
	padding-right: 15px
	position: relative

.container
	&.container_20
		padding-left: 20px
		padding-right: 20px

.after_topline
	position: absolute
	left: 0
	right: 0
	bottom: 0
	overflow-y: scroll
	overflow-x: hidden

	&::-webkit-scrollbar-track
		//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1)
		background-color: transparent
		border-radius: 0px

	&::-webkit-scrollbar
		width: 8px
		background-color: #FFFFFF


	&::-webkit-scrollbar-thumb
		border-radius: 8px
		background-color: rgba(0, 0, 0, 0.2)

.white_bg
	background-color: $white

.grey_bg
	background-color: #F2F2F2

.p10
	padding-left: 10px
	padding-right: 10px

.p20
	padding-left: 20px
	padding-right: 20px

.text-right
	text-align: right
.text-center
	text-align: center
.text-left
	text-align: left
.clear
	clear: both

.section_standart
	padding: 50px 0px

.section_information
	margin-top: 100px

.sm_50
	margin: 50px 0px

.page-section
	padding-bottom: 50px

.owl-carousel .owl-item img
	width: initial

h1
	font-size: 40px
	line-height: 48px
	text-align: center
	margin: 0

	&.rev
		margin-top: 40px

	&.big
		font-size: 50px
		line-height: 60px

h2
	font-size: 30px
	line-height: 36px

h3
	font-size: 25px
	line-height: 30px
	font-weight: 400

header
	background-color: $black

.header_car
	& .header_price
		font-size: 100px
		line-height: 120px
		margin: 0
		color: #00F491
		text-align: center

	& .search_form
		position: absolute
		right: 0
		left: 0
		bottom: -80px

		& .cities
			background-color: rgba(71,192,102,1)
			border-radius: 0px
			max-width: 980px

.header_price
	font-family: $bold
	font-weight: 800

.topline
	padding-top: 20px

	& .center
		margin-top: 160px

	&.mobile
		display: none

.main_bg .header_layer
	&.white
		background-color: rgba(255,255,255,0.7)

.main_bg
	position: relative
	background-repeat: no-repeat
	background-position: center center
	background-size: cover

	& h1
		color: $white

	&.review
		min-height: 380px

	&.header_car
		min-height: 480px

.main_bg
	background-image: url(../img/header/summer.jpg)

	&.winter
		background-image: url(../img/header/winter.jpg)


.main_bg.top
	background-image: none
	background-color: #fff
	position: relative
	box-shadow: 0px 3px 3px rgba(0,0,0,0.4)
	z-index: 99

	&.fixed
		padding-right: 16px

	& .topline
		display: none

	& .content
		max-width: initial
		width: 100%
		background-color: rgb(71,192,102)

	& .cities
		max-width: 980px
		padding: 15px 5px
		margin: 0px auto
		border-radius: 0px
		box-shadow: none

		& .lowtrip-form-logo
			display: block
			height: 50px
			margin-right: 15px

	& .recommended
		padding: 20px 0px
		margin-top: 20px
		color: #fff
		background-color: rgba(48,48,48,0.2)

	& .wheel
		animation-name: none



.logo_lowtrip
	float: left

	& > *
		vertical-align: middle
	& img
		height: 90px

.b_title
	font-size: 20px
	line-height: 32px
	font-family: $bold

.grey
	background-color: #F2F2F2

.partners
	padding: 50px 0px
	background-color: #f2f2f2

	&.in_news
		margin-top: 0px

	&.dark
		background-color: #5a5a5a

		& h3
			color: #fff

	&.white
		background-color: #fff

		& h3
			color: #000

	& h3
		font-size: 25px
		line-height: 30px
		color: #303030
		text-align: left
		font-family: $bold
		font-weight: 800
		margin: 0

	& .list
		text-align: center
		margin-top: 20px


.partners_company
	& .list
		overflow: hidden
		& .img_boxed
			max-width: 120px
			padding-right: 20px
			float: left

	& .be_partner
			margin-top: 50px

.be_partner
	color: $black
	font-family: $light
	font-weight: 300
	display: inline-block

.img_boxed img
	max-width: 100%
	max-height: 100%
	width: initial !important
	display: inline-block !important

.img_boxed
	display: block
	height: 80px
	line-height: 80px
	padding: 0px 10px

.about_lowtrip
	font-family: $light
	font-weight: 300
	color: $black
	//padding: 50px 0px

	& h2
		margin-bottom: 1em

	& .about_text
		overflow: hidden
		margin-bottom: 20px
		font-size: 1em
		line-height: 22px
		max-height: 66px
		transition: max-height 0.2s ease-in

		&.type_trip
			max-height: 98px

		&.type_car
			max-height: 80px

		&.full
			max-height: initial

.main_content
	position: relative

// Интересные места 
// Начало

.places
	background-color: $white
	//padding: 30px 0px
	position: relative
	
	& .places_bg
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		filter: blur(1px)

	& .trip-offer
		margin-bottom: 0px

.places_block
	margin-top: 20px
	position: relative
	min-height: 250px

.place_item
	max-width: 230px
	height: 240px
	margin: auto
	background-color: #fff
	border-radius: 5px
	// margin-bottom: 15px
	box-shadow: 0 2px 6px rgba(0,0,0,.3)

	& .photo
		border-top-left-radius: 5px
		border-top-right-radius: 5px
		height: 140px
		overflow: hidden
		& img
			height: 100%
			width: 100%
			object-fit: cover
			transition: 0.4s

			// &:hover
			// 	transform: scale(1.2)

	& .text
		height: 48px
		padding: 0px 5px
		margin: 7px 0px
		font-size: 14px
		line-height: 16px
		font-family: $light
		letter-spacing: -0.5px
		overflow: hidden

	& .vicinity
		height: 22px
		padding: 0px 5px
		margin: 7px 0px
		font-size: 12px
		line-height: 12px
		overflow: hidden

//Навигация для слайдера - круглые кнопки
.slider2
	& .owl-stage
		padding-bottom: 10px

	& .owl-nav
		position: absolute
		top: -60px
		right: 0px
		width: 90px
		height: 40px


	& .owl-prev, & .owl-next
		position: absolute
		width: 40px
		height: 40px
		border-radius: 50%
		background-color: #f2f2f2
		background-image: url(../img/icons/arrow-big.png)
		background-size: 10px
		background-position: center center
		background-repeat: no-repeat
		opacity: 0.6
		transition: 0.2s

		&:hover
			opacity: 1

	& .owl-prev
		left: 0px
		transform: rotate(-180deg)
	& .owl-next
		right: 0px

.select_type
	margin-top: 20px
	max-width: 290px

	& .btn_go
		margin-top: 7px
		width: 100%

.label_box
	position: relative
	padding-left: 20px
	margin-top: 7px

	& input
		display: none

	& .check
		width: 20px
		height: 20px
		position: absolute
		border-radius: 2px
		overflow: hidden
		background-color: rgb(212, 210, 210)
		top: 0
		left: 0

	& .radio_square_label
		display: block
		line-height: 20px
		padding: 0px 7px
		font-size: 14px
		cursor: pointer
		transition: 0.1s

	& .square
		opacity: 0

	&:hover
		background-color: #eaeaea
		& .square
			opacity: 0.5

.radio_square_input:checked + .radio_square_label
	& .check .square
		background-color: #fcc22b
		opacity: 1

// Интересные места 
// Конец

@keyframes spin
	from
		transform: rotate(0deg)
	to
		transform: rotate(-360deg)

.wheel
	animation-name: spin
	animation-duration: 3000ms
	animation-iteration-count: infinite
	animation-timing-function: linear

	&:hover
		animation-duration: 1500ms

// POPUP thanks
//start
.popup_thanks
	max-width: 768px
	margin: auto
	position: relative

	& .close_btn
		width: 100%

	& .mfp-close
		display: none

	& .top
		background-color: $white
		text-align: center
		color: #303030
		padding: 20px 30px

	& .bottom
		background-color: #F2F2F2
		position: relative
		padding: 20px 30px

		& .text
			margin-top: 0px
			font-family: $bold
			font-weight: 800

		& .arrow
			position: absolute
			transform: rotate(-50deg)
			top: 0px
			left: 180px


	& .text
		font-size: 30px
		line-height: 36px
		font-family: $regular
		font-weight: 400
		margin: 20px 0px


	& .title
		font-size: 45px
		line-height: 54px
		font-family: $bold
		font-weight: 800
		margin: 20px 0px

// end
// POPUP Email

// POPUP contact
// start
.popup_contact
	background-color: #F2F2F2
	padding: 30px 15px 60px
	max-width: 622px
	font-size: 30px
	line-height: 36px
	text-align: center
	font-family: $light
	position: relative
	margin: auto

	& p
		margin-top: 0px
		margin-bottom: 40px

	& p:last-child
		margin-bottom: 0px

	& .mfp-close
		font-size: 80px
		font-family: $light
		color: #c10000
		opacity: 1
		top: -50px
		right: -50px

	&.organization
		font-size: 16px
		line-height: 22px
		text-align: left
		& p
			margin: 15px 0px

		& table td
			width: 50%
// end
// POPUP contact

.mfp-bg
	background-color: #b1b1b1

.owl-carousel
	display: block

.top_cities
	background-color: $black
	color: #fff
	padding: 30px 0px 20px

	&.white
		background-color: #ffffff
		color: #303030
		//margin-top: 80px

	&.tours
		margin-top: 0px

.top_cities_text
	
	font-size: 16px
	line-height: 22px
	font-family: $bold
	font-weight: 800

	//background-image: url(../img/icons/badge.png)
	//background-repeat: no-repeat
	//background-position: top left
	//padding-left: 40px
	padding-top: 10px
	min-height: 35px

	& .city-name
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden

.top_cities_list
	margin: 2px
	padding: 0
	list-style-type: none
	white-space: nowrap

	& li
		display: inline-block

		&:not(:last-child)
			margin-right: 5px

.top_city_btn
	display: inline-block
	box-shadow: 0px 2px 6px rgba(0,0,0,0.3)
	width: 135px
	height: 35px
	line-height: 35px
	white-space: nowrap
	text-overflow: ellipsis
	overflow: hidden
	text-align: center
	padding: 0px 5px
	border-radius: 5px
	border: none
	outline: none
	background-color: $white
	font-size: 14px
	color: $black
	font-family: $light
	font-weight: 300
	cursor: pointer
	&:hover
		background-color: #FCC22B
		text-decoration: none
		color: $black


//Блок информации о городе
.city-review
	background-color: $white

	& h1
		font-size: 30px
		line-height: 36px
		font-weight: 800
		font-family: $bold
		text-transform: none
		color: $black
		text-align: left

	& .city-block
		margin-top: 40px

.city-block
	& .testimonials-block
		margin-top: 20px

	& h3
		font-family: $regular
		font-weight: 400

.city-infoblock
	position: relative
	height: 280px
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.25)

	& .city-image
		width: 100%
		height: 100%
		object-position: top
		object-fit: cover

	& .city-text-block
		position: absolute
		bottom: 0px
		left: 0px
		right: 0px
		height: 120px
		padding: 10px
		background-color: rgba(255,255,255,0.9)

.city-text-block
	& .city-text
		height: 80px
		overflow: hidden
		font-family: $light
		font-weight: 300
		color: #000000
		font-size: 1em
		line-height: 20px

.city-overview.text
	height: 288px
	width: 100%
	overflow: hidden
	position: relative
	&.dots
		&:after
			content: ''
			position: absolute
			bottom: 0
			right: 0
			text-align: right
			height: 40px
			width: 100%
			background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1) 100%)


.trip
	& h3
		text-align: left
		font-family: $regular
		font-weight: 400

.trip-section
	margin: 50px 0px

.trip-block
	margin: 50px 0px 80px

	& h3
		margin-bottom: 20px

.trip-offer
	max-width: 240px
	margin: 0 auto
	display: block

	&.offer_block
		max-width: 260px
		width: 100%
		margin: 0

	& h3
		font-size: 20px
		line-height: 24px
		text-transform: uppercase
		text-align: left
		font-family: $bold
		font-weight: 800
		color: $black
		margin: 0px 0px 5px

.trip-offer-item
	display: block
	position: relative
	color: $black
	background-color: #F9F9F9
	text-decoration: none
	min-height: 293px
	transition: 0.2s
	box-shadow: 0px 3px 3px rgba(0,0,0,0.5)

	&:hover, &:focus, &:visited
		color: $black
		text-decoration: none

	&:hover
		box-shadow: 0 3px 10px rgba(0,0,0,.6)
		& .image
			// filter: brightness(1)

	& .trip-content-block
		position: relative
		min-height: 173px

	& .image
		height: 120px
		background-repeat: no-repeat
		background-size: cover
		background-position: center
		position: relative
		// filter: brightness(0.5)
		transition: 0.2s

		&.quest
			height: 180px

		&.transfer
			background-image: url(../img/trip/route.jpg)
		&.house_bg
			background-image: url(../img/trip/house.jpg)
		&.audiogid
			background-image: url(../img/trip/audiogid.jpg)
		&.train
			background-image: url(../img/trip/train.jpg)

	& .trip-offer-logo
		position: absolute
		top: 10px
		left: 10px

	& .quest_name
		position: absolute
		bottom: 0px
		width: 100%
		height: 80px
		padding: 10px
		left: 0
		color: $white
		font-size: 16px
		line-height: 20px
		font-family: $regular
		background-color: rgba(48,48,48,0.5)

	& .description
		padding: 9px 12px
		border-top: 1px solid #F9F9F9
		border-bottom: 1px solid #eee
		background-color: #F9F9F9
		font-size: 12px
		line-height: 14px
		font-family: $light
		font-weight: 300
	
	& .trip-offer-link
		min-height: 106px

	& .offer-price
		position: relative
		display: block
		background-color: $white
		text-align: center
		font-family: $light
		font-weight: 300
		font-size: 25px
		line-height: 30px
		padding: 12px

	& .trip-offer-about
		background-color: #F9F9F9
		font-size: 13px
		line-height: 14px
		font-family: $light
		font-weight: 300
		padding: 12px

		& .quest_text
			height: 70px
			overflow: hidden

	& .trip-cta
		background-color: #47C066
		color: $white
		height: 45px
		line-height: 45px
		text-align: center
		text-transform: uppercase
		font-size: 25px
		font-weight: 400
		font-family: $regular

.trip-loader	
	position: absolute
	top: 0
	bottom: 0
	margin: auto
	width: 100%
	height: 120px
	padding: 10px
	line-height: 17px
	text-align: center
	color: $black
	font-size: 14px
	font-family: $light
	font-weight: 300

.burgerking_container
	max-width: 620px
	margin: auto

.special-offer
	&:after
		content: ''
		clear: both

.special-offer
	background-color: #F2F2F2
	box-shadow: 0 3px 3px rgba(0,0,0,.5)
	width: 620px
	height: 310px
	margin: 0px auto
	position: relative

	& .left
		width: 310px
		height: 100%
		float: left
		position: relative
		padding: 10px 20px 20px

	& .right
		width: 310px
		height: 100%
		float: left

		& img
			height: 100%

	& .bk-form
		margin-top: 20px

	& .gift-bk
		width: 100%
		height: 170px
		background-image: url(../img/icons/gift.png)
		background-repeat: no-repeat
		background-size: 81px
		background-position: 50px 0px

		& .text
			color: $black
			font-size: 20px
			line-height: 24px
			font-weight: 800
			font-family: $bold
			position: absolute
			top: 60px
			left: 15px
			transform: rotate(-10deg)

			& span
				display: inline-block
				padding: 3px 10px
				background-color: $white
				margin-bottom: 3px

	& .get-code
		position: absolute
		bottom: 30px
		left: 20px
		width: 195px
		height: 45px
		line-height: 45px
		color: $white
		font-size: 25px
		font-family: $regular
		font-weight: 400
		text-align: center
		background-color: #47C066
		cursor: pointer

.offer-check
	max-width: 300px
	margin: 20px auto
	background-image: url(../img/icons/check-top.png)
	background-repeat: no-repeat
	background-size: contain
	background-position: top center
	padding-top: 20px
	
	& .pricelist
		box-shadow: 0px 2px 5px rgba(0,0,0,0.5)
		background-color: $white
		border-radius: 7px 7px 0px 0px
		min-height: 200px
		max-width: 280px
		margin: -10px auto 0px
		position: relative
		padding-top: 20px
		background-image: url(../img/icons/check-body-top.png)
		background-repeat: no-repeat
		background-size: contain
		background-position: top center

		& .separator
			height: 2px
			background-color: #303030

		& .pricelist-total
			font-size: 25px
			line-height: 30px
			color: $black
			font-weight: 800
			font-family: $bold
			text-align: center
			margin-top: 25px

.pricelist-table
	width: 100%
	font-size: 16px
	line-height: 19px
	color: $black
	font-family: $light
	font-weight: 300

	& td
		padding: 10px 0px
		border-bottom: 1px solid #F2F2F2

	& .icon_td
		width: 80px
		padding: 10px
		text-align: center

	& .price_td
		width: 200px

	& .big
		font-size: 25px
		line-height: 30px
		font-weight: 400
		font-family: $regular

.testimonials-block
	position: relative

.slider
	position: relative
	& .owl-prev, & .owl-next
		background-image: url(../img/icons/arrow-big.png)
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		width: 30px
		height: 53px
		filter: opacity(0.6)
		transition: 0.2s

		&:hover
			filter: opacity(1)

	& .owl-prev, & .owl-next
		position: absolute
		top: 0
		bottom: 0
		margin: auto

	& .owl-prev
		left: -40px
		transform: rotate(-180deg)

	& .owl-next
		right: -40px


.fulltext-link
	color: #303030
	font-size: 14px
	cursor: pointer
	padding-right: 30px
	position: relative
	display: inline-block

	&:after
		content: ''
		width: 30px
		height: 100%
		background-image: url(../img/icons/arrow-thin.png)
		background-repeat: no-repeat
		background-position: center right
		background-size: 20px
		position: absolute
		top: 0
		right: 0

	&:hover
		text-decoration: underline


//Отзыв о городе
.testimonial-item
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.25)
	transition: box-shadow 0.3s

	position: relative
	background-color: #F2F2F2
	padding: 10px
	height: 230px
	width: 220px

	&:hover
		box-shadow: 0 3px 3px 0 rgba(0,0,0,.25)

	& .text
		font-family: $light
		font-weight: 300
		font-size: 1em
		line-height: 20px
		height: 160px
		overflow: hidden

	& .read-full
		position: absolute
		bottom: 10px
		right: 10px

.testimonial-full
	max-width: 1024px
	position: relative
	margin: auto
	background-color: $white
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.25)
	padding: 20px 20px 37px 20px

	& .close_btn
		position: absolute
		bottom: 0
		left: 0
		width: 100%

	& .mfp-close
	    display: none

	& .item-content
		height: initial
		min-height: 320px
		max-width: 100%
		margin: 0
		padding: 0
		background: transparent
		box-shadow: none

		& .text
			height: 100%
			max-height: 480px
			padding-right: 20px
			padding-top: 20px
			overflow-y: auto

			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1)
				background-color: #F5F5F5
				border-radius: 0px
			&::-webkit-scrollbar
				width: 4px
				background-color: #F5F5F5

			&::-webkit-scrollbar-thumb
				border-radius: 0px
				background-color: #808080



.scroll-block
	width: 100%
	overflow: hidden
	position: relative

.scroll-content
	overflow: auto


// Отзывы
.review-block
	padding: 50px 0px
	background-color: $white

.review-form
	max-width: 400px

.review-input
	background-color: #F9F9F9
	border: 1px solid $black
	font-size: 16px
	min-height: 55px 
	width: 100%
	color: $black
	font-family: $light
	font-weight: 300
	padding: 15px
	outline: none

.review-textarea
	max-width: 100%
	margin: 20px 0px

.review-btn
	background-color: #FCC22B
	color: $black
	font-size: 20px
	font-weight: 800
	font-family: $bold
	text-transform: uppercase
	border: none
	height: 50px
	padding: 10px 15px
	width: 100%
	transition: 0.2s
	display: inline-block
	max-width: 400px
	&:hover
		box-shadow: 0px 2px 3px rgba(0,0,0,0.3)
		color: $black
		text-decoration: none


.save_cont
	margin-top: 20px
	text-align: center


.save_trip
	display: inline-block
	width: 100%
	height: 64px
	padding: 8px
	background: linear-gradient(to right,#FFFF00 ,#FCC22B 100%)
	border: none
	text-align: center
	transition: 0.2s
	text-decoration: none
	outline: none

	& span
		display: inline-block
		font-size: 23px
		line-height: 28px
		color: $black
		font-weight: 400
		font-family: $regular

	& img
		width: 48px
		height: 48px
		vertical-align: top

	&:hover
		box-shadow: 0px 0px 30px rgba(255,255,0,0.7)
		text-decoration: none


.personal-agreement
	padding-top: 20px
	font-size: 12px
	line-height: 14px


.bk-form-text
	color: $black
	font-size: 14px
	line-height: 17px
	font-family: $light
	font-weight: 300

.bk-form-label
	display: block
	height: 45px
	width: 100%
	position: relative

	&:after
		content: ''
		clear: both

	& .form-notification
		position: absolute
		top: 100%
		left: 0
		margin-top: 10px


.bk-form-input
	height: 100%
	width: 215px
	padding: 0px 15px
	color: $black
	float: left
	background-color: $white
	border: none
	outline: none

.bk-form-button
	float: left
	width: 55px
	height: 100%
	background-color: #47C066
	color: $white
	font-size: 25px
	border: none
	outline: none

.form-notification
	background-color: $white
	padding: 10px
	border-radius: 5px
	box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.3)
	font-size: 14px
	line-height: 17px
	color: $black
	display: none

	&:before
		content: ''
		width: 10px
		height: 10px
		position: absolute
		top: -4px
		left: 13px
		transform: rotate(-45deg)
		background-color: $white

	&.show_this
		display: block

.close_btn
	border: none
	font-size: 14px
	line-height: 17px
	padding: 10px 0px
	text-align: center
	background-color: rgba(237, 28, 36, 0.6)
	color: $white

.instagram
	& h3
		font-weight: 400
		font-family: $regular
		text-transform: uppercase
		margin: 0px 0px 10px	


.h_bold
	font-family: $bold
	font-weight: 800

.page_content
	padding: 40px 0px

	& .text_content
		&.left_p
			padding-left: 15px
			margin: 20px 0px 0px
			font-family: $light
			font-weight: 300

		& .title
			margin-bottom: 10px
			font-family: $regular
			font-weight: 400

.offer_content
	background-color: $white
	padding-top: 25px
	padding-bottom: 25px

	& .section
		padding: 25px 5px

	& .h_title
		margin-top: 0px
		margin-bottom: 20px

	& .offer_block
		float: right

	& .offer_item_row
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0px


.map
	&.map_300
		height: 300px
		overflow: hidden

.text_content
	font-size: 16px
	line-height: 19px

	& .title
		font-size: 18px
		line-height: 22px


.offer_images
	overflow: hidden
	position: relative
	&.offer_images_300
		height: 300px

	& .nav-control
		position: absolute
		top: 0
		height: 100%

		&.prev
			left: 0
		&.next
			right: 0

.nav-control
	background-repeat: no-repeat
	background-position: center center
	background-size: 28px 28px
	background-color: rgba(255,255,255,0.7)
	width: 45px
	transition: 0.2s
	cursor: pointer
	&.prev
		background-image: url(../img/icons/left-arrow.png)
	&.next
		background-image: url(../img/icons/right-arrow.png)

	&:hover
		background-color: rgba(255,255,255, 0.9)

.trip-miniblock
	height: 45px
	line-height: 45px
	text-align: center
	text-transform: uppercase
	font-size: 25px
	font-weight: 400
	font-family: $regular

	&.green
		background-color: #47C066
		color: $white

	&.grey
		background-color: #F2F2F2
		color: $black

	&.offset_top
		margin-top: 10px


.city-route-list
	margin-top: 50px
	list-style-type: none
	padding: 0
	overflow: hidden
	
	& li
		display: block


.map_mini
	width: 100%
	position: relative
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3)
	display: block

	&.middle_height
		height: 310px

	&.small_height
		height: 275px

.image_container img
	width: 100%
	height: 100%
	object-fit: cover

.trip-block
	& .trip-offer
		margin: 0 auto

	& .car_driver_block
		margin-top: 50px

.trip-block.places
	padding: 0

.car-house
	min-height: 240px
	position: relative
	margin: 20px 0px
	& .content > .row:not(:last-child)
		margin-bottom: 20px
		
	& > .content
		display: none

.house_description
	padding: 10px 15px
	& .title
		font-size: 18px
		line-height: 22px
		font-family: $regular
		font-weight: 400
	& p
		margin: 10px 0px 0px
		font-size: 16px
		line-height: 19px
		font-family: $light
		font-weight: 300

.house_price
	& .offer-price
		position: relative
		display: block
		background-color: #F2F2F2
		text-align: center
		font-family: $light
		font-weight: 300
		font-size: 25px
		line-height: 30px
		padding: 12px
		margin-bottom: 10px

	& .trip-cta
		display: block
		background-color: #47C066
		color: $white
		height: 45px
		line-height: 45px
		text-align: center
		text-transform: uppercase
		font-size: 25px
		font-weight: 400
		font-family: $regular
		cursor: pointer
		
		&:hover
			text-decoration: none



.after_top
	margin-top: 25px

.trip_page_header
	font-size: 20px
	line-height: 25px
	font-family: $light
	font-weight: 300
	margin: 50px 0px

	& p
		margin: 1em 0

	& .title
		font-family: $regular
		font-weight: 400
		font-size: 25px
		line-height: 30px

	& .hello-image
		max-width: 290px

	& .after_image
		display: block
		padding-left: 30px

	& .emoji_icon
		height: 1em
		display: inline-block


.social-networks
	background-color: #F2F2F2
	padding: 15px
	font-size: 25px
	line-height: 30px
	font-family: $regular
	font-weight: 400
	color: $black
	margin-top: 40px

	& .text
		padding-top: 10px

.datepickers-container
	font-size: 14px
	font-family: Tahoma, sans-serif
	font-weight: 400

.switcher
	white-space: nowrap
	overflow: hidden
	padding: 3px 0px
	background-color: #F2F2F2
	border-radius: 60px
	width: 132px
	& > .switcher-btn
		float: left
		cursor: pointer

.trip-offer.multiple
	& .switcher
		margin: 5px 0px
		
	& > .trip-offer-item
		display: none
		
	& > .trip-offer-item.active
		display: block

.switcher-btn
	background-color: transparent
	width: 60px
	height: 35px
	color: #303030
	font-size: 14px
	line-height: 17px
	font-family: $light
	font-weight: 300
	border-radius: 50px
	text-align: center
	padding: 9px 5px
	margin: 0px 3px

	&.active
		background-color: #47C066
		box-shadow: 0px 1px 5px rgba(0,0,0,0.5)
		color: #fff

	&:not(.active):hover
		background-color: #f2f2f2


.car_driver_block
	background-color: #00F491
	//background: linear-gradient(135deg, #00F491 20%, #47c066 100%)
	box-shadow: 0px 1px 15px rgba(0,0,0,0.2)
	padding: 30px 0px
	overflow: hidden

	& >	div
		float: left
		margin: 0px 30px

	& > .car_driver_image
		width: 230px

		& > .car_driver_img
			max-width: 100%

	& > .car_driver_content
		max-width: 590px
		margin-top: 5px
		
		& > .car_driver_content_title
			font-size: 22px
			line-height: 26px
			font-family: $bold
			font-weight: 800
			color: $black

		& > .car_driver_content_text
			font-size: 18px
			line-height: 22px
			color: $white
			margin: 10px 0px

		& > .car_driver_btn
			background-color: #FCC22B
			padding: 10px
			font-size: 16px
			line-height: 19px
			color: $black
			display: inline-block
			min-width: 180px
			text-align: center
			margin-top: 10px

			&:hover, &:focus, &:visited
				text-decoration: none


// Lowtrip table
.trip-block
	& .lowtrip-price-table
		margin-bottom: 40px

@import "media" // Всегда в конце