<div id="a">
    <button id="b">
        button lolita
    </button>
</div>

<script>
    let b = document.querySelector('#b');

    let a = document.querySelector('#a');

    let event = new Event('lolitaGo', {
        bubbles: true,
        cancelable: true
    });

    a.addEventListener('lolitaGo', onLolita);

    b.addEventListener('click', function() {
        b.dispatchEvent(event); 
    });

    function onLolita() {
        alert('lolita');
    }


</script>