.train-friends
  color: #ffffff
  order: 4
  width: 100%

  &-sex
    display: inline-block
    opacity: 0.8
    //width: 140px
    padding: 5px 5px
    border-radius: 5px
    margin-top: 10px

    &.woman
      background-color: #f4228d

    &.men
      background-color: #62afff

  &__typename
    padding: 0px 5px

  &__count
    padding: 0px 0px 0px 5px