.svaha-topbar
  position: relative
  height: 60px
  padding-top: 10px
  padding-bottom: 10px
  box-sizing: border-box

  &__container
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center

  &__logo
    height: 40px
    flex: 1

  &__socials
    max-width: 120px

    & .social-icon
      width: 30px
      height: 30px

.main_bg.train_header.svaha_train_header
  padding: 0px
  background-image: none

  & > .content
    display: none

    &.mobile-open
      min-height: calc(100vh - 60px)
      padding: 15px 0px
      background: transparent
      display: flex
      flex-flow: column nowrap
      justify-content: center

      & > .container
        width: 100%