.socials
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  width: 100%

  & .social-icon
    display: inline-block

.social-icon
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  &.vk
    background-image: url(../img/logo/vk.svg)
  &.telegram
    background-image: url(../img/logo/telegram.svg)
  &.instagram
    background-image: url(../img/logo/instagram.svg)