.terminal
  max-width: 600px
  border-radius: 5px
  overflow: hidden
  margin: auto
  position: relative

  &__topbar
    background-color: #41403b
    padding: 6px 15px 6px 35px
    color: #ffffff
    font-size: 13px

  &__body
    background-color: rgb(48,10,36)
    padding: 15px 

  &__command
    text-decoration: none
    color: #ffffff
    padding-right: 10px

  &__link
    color: #ffffff

  & .mfp-close
    color: #423630
    width: 20px
    height: 20px
    line-height: 20px
    background-color: #e64d1d
    border-radius: 50%
    opacity: 1
    font-size: 14px

    right: unset
    left: 6px
    top: 6px

.command-base
  color: #00f900