.advert
  margin-top: 20px
  margin-bottom: 20px

  &.desktop
    display: none
    @media (min-width: 1023px)
      display: block

  &.mobile
    display: none
    @media (max-width: 1023px)
      display: block


.offers
  &--right
      margin-top: 50px

  &--top
    max-height: 300px
    overflow: hidden

  &__image
    display: block
    width: 100%
    overflow: hidden

    & + .offers__image
      margin-top: 20px

    img
      width: 100%

.offer-block
  position: relative
  overflow: hidden

  &-content
    position: relative

  &.fixed
    min-height: 240px

    .offer-block-content
      @media (min-width: 768px)
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 0

  &__link
    display: block
    background-color: #eee
    background-position: center
    background-size: cover
    text-align: center

  &__image
    max-width: 100%
    max-height: 100%

  &__close
    position: absolute
    top: 20px
    right: 20px
    width: 20px
    height: 20px
    cursor: pointer
