.breadcrumbs_block
  background-color: $white
  border-bottom: 1px solid #eee
  position: relative
  &.shadow
    box-shadow: 0px 3px 8px rgba(0,0,0,0.04)

  &.breadcrumbs_block_grey
    border-bottom-color: transparent
    background-color: #f2f2f2
    
  &.breadcrumbs-transparent
    background-color: transparent
    border-bottom: none
    
    & .breadcrumb
      & li
        & > a
          color: #ffffff
        &.active
          color: rgb(27, 158, 72)

.breadcrumb
  background-color: transparent
  margin: 0
  padding: 10px 0px 9px
  font-size: 13px
  line-height: 20px
  white-space: nowrap
  overflow-x: auto

  & > li
    display: inline-block

    & + li:before
      content: "/\00a0"
      padding: 0 5px
      color: #ccc

    & > a
      color: #47c066