.dropdown-helper
  background-color: rgba(255,255,255,1)
  padding: 0px
  margin: 0px
  box-shadow: 0px 5px 5px 3px rgba(0,0,0,0.3)
  list-style-type: none
  display: none

  &.show_this
    display: block

  & li
    font-size: 13px
    line-height: 14px
    color: #303030
    padding: 12px 15px
    cursor: pointer

    &:hover
      background-color: #F2F2F2