.page-footer
  background-color: #303030
  padding: 20px 0px
  color: #fff
  font-size: 1em

.footer-container
  display: flex
  justify-content: space-between

.footer-menu
  & .footer-menu-item
    color: #fff
    &:hover, &:focus, &:visited
      text-decoration: none

.footer-socials
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  width: 100%

  & .social-icon
    display: inline-block

.social-icon
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  &.vk
    background-image: url(../img/logo/vk.svg)
  &.telegram
    background-image: url(../img/logo/telegram.svg)
  &.instagram
    background-image: url(../img/logo/instagram.svg)


@media only screen and (min-width : 320px)
  .footer-container
    flex-flow: row wrap
    align-items: center

  .footer-socials
    max-width: 120px
    & .social-icon
      width: 30px
      height: 30px