.form-information
  display: flex
  justify-content: space-between
  align-content: center

  font-family: Arial, Helvetica, sans-serif
  font-size: 14px
  line-height: 17px
  padding: 0 10px
  position: relative
  cursor: pointer
  
  &.white
    color: #ffffff

  & > .trip-data-information
    padding-right: 10px

  &.open
    & > .trip-data-information
      text-decoration: underline
      text-decoration-color: #fcc22b

    & > .open-form
      opacity: 0.5

.trip-data-information
  & > div
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap

.open-form
  border: none
  border-radius: 50%
  box-shadow: 0 2px 5px rgba(0,0,0,0.3)
  background-color: transparent
  width: 34px
  height: 34px
  padding: 8px
  outline: none

  &__img
    max-width: 100%
    max-height: 100%
    & path
      fill: #000
    &.white
      & path
        fill: #ffffff