.header
  background-size: cover
  background-position: center
  background-repeat: no-repeat

  display: flex
  flex-flow: column nowrap

  &--car-main
    background-image: url('../img/car/header-main.jpg')

  &--car-city
    background-image: url('../img/car/header-city.jpg')

  &--car-city-city
    background-image: url('../img/car/header-city-city.jpg')

  &--bus-main
    background-image: url('../img/bus/header-main.jpg')

  &--fullscreen
    flex: 1 1 auto
    justify-content: center
    min-height: calc(100vh - 150px)

    @media (max-width: 767px)
      min-height: initial

  &__title
    text-transform: uppercase
    margin: 25px 0

  &__text
    margin: 25px 0
    font-weight: normal
    font-size: 1.125em

  &__content
    margin: 40px 0

    &--main
      color: $white
      text-align: center

  &__form
    margin-top: 20px

@media (max-width: 767px)
  .header
    &__form
      order: 2

    &__text
      order: 3