.listbox
  font-size: 13px
  line-height: 21px

  & .cityname
    font-size: 13px
    color: #303030

  & .region
    font-size: 12px
    color: #999
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

  & .distance
    color: #999
    display: block
    float: right

.ui-menu .ui-menu-item-wrapper.listbox
  padding-left: 25px
  background-image: url(../img/icons/pin.svg)
  background-repeat: no-repeat
  background-position: 4px 7px
  background-size: 16px

.ui-menu
  list-style-type: none
  margin: 0
  padding: 0
  max-width: 100% !important
  left: 0px !important

  text-align: left

  &::-webkit-scrollbar-track
    background-color: transparent
    border-radius: 0px

  &::-webkit-scrollbar
    width: 8px
    background-color: #FFFFFF

  &::-webkit-scrollbar-thumb
    border-radius: 8px
    background-color: rgba(0, 0, 0, 0.2)