.lowtrip-price-table
  max-width: 100%
  position: relative
  font-size: 14px
  line-height: 20px
  font-family: Arial, Helvetica, sans-serif
  border: 1px solid #dedede
  overflow: hidden
  background: #fff
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15)

  & > .price-table-header
    position: relative
    height: 40px
    padding-right: 8px
    background-color: #47c066
    color: #fff

  & > .price-table-body
    max-height: 279px
    overflow-y: scroll

    &::-webkit-scrollbar-track
      //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1)
      background-color: #f2f2f2
      border-radius: 0px

    &::-webkit-scrollbar
      width: 8px
      background-color: #FFFFFF


    &::-webkit-scrollbar-thumb
      background-color: rgba(0, 0, 0, 0.2)


  & table
    width: 100%

    & .column-date
      width: 20%
    & .column-placetype
      width: 16%

  & .price-table-header
    & th
      padding: 10px 10px 10px
      position: relative
      cursor: pointer
      &:not(:last-child)
        border-right: 1px solid transparent

      & .down
        position: absolute
        top: 21px
        right: 10px

      & .up
        position: absolute
        top: 13px
        right: 10px

    & th.asc
      & .up
        visibility: hidden

    & th.desc
      & .down
        visibility: hidden

    & th.asc, & th.desc
      background-color: rgba(255, 255, 255, 0.2)

  & .price-table-body
    & td
      padding: 10px 10px 9px
      &:not(:last-child)
        border-right: 1px solid #dedede
    & tr:not(:last-child)
      border-bottom: 1px solid #dedede

    & tr:nth-child(even)
      background-color: #F2F2F2

    & tr:hover
      background-color: #ffe97e
      cursor: pointer

  & .down, & .up
    width: 10px
    height: 5px
    background-image: url(../img/icons/sort-down.svg)
    background-repeat: no-repeat
    background-position: center
    background-size: 100%
  & .up
    transform: rotate(180deg)

@media only screen and (max-width : 767px)
  .lowtrip-price-table
    font-size: 12px

    & .price-table-header
      & th
        padding: 2px 2px 18px
        text-align: center

        & .down, & .up
          right: 0
          left: 0
          margin: auto

        & .up
          top: 23px

        & .down
          top: 30px

        & .name
          font-size: 10px

    & .price-table-body
      & td
        padding-left: 2px
        padding-right: 2px