.modal
  &-wrapper
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 199
    background-color: rgba(0,0,0,0.5)

  &-content
    display: block
    position: relative
    margin: 20px auto
    padding-top: 40px
    max-width: 640px
    width: 100%
    height: calc(100vh - 40px)

  &-iframe
    width: 100%
    height: 100%

  &-close
    cursor: pointer
    display: block
    width: 40px
    height: 40px
    font-size: 40px
    line-height: 40px
    color: #fff
    position: absolute
    top: 0
    right: 0