.navigation-nav
  height: 60px
  position: relative
  display: flex
  flex-flow: column nowrap
  justify-content: center

  box-shadow: 0 2px 5px rgba(0,0,0, 0.3)

  @media (min-width: 1024px)
    height: 80px

  &--white
    background-color: $white

    & .navigation-nav__button--menu
      background-color: $white

    & .navigation-nav__menu
      background-color: $white

  &__content
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: space-between

    margin: 0 -10px

    @media (min-width: 1024px)
      margin: 0

  &__logotype
    max-width: 40px
    max-height: 40px
    vertical-align: middle
    margin-top: 3px

    @media (min-width: 1024px)
      margin-top: 0px

  &__logo
    order: 1
    display: flex
    align-items: center
    width: 60px
    height: 60px
    padding: 10px

    @media (min-width: 1024px)
      padding: 0

  &__title
    order: 2
    flex-grow: 1
    padding: 0 10px
    font-size: 0.875em
    text-align: left
    line-height: 1.33

    &--width-calc
      max-width: calc(100% - 180px)

    @media (min-width: 1024px)
      display: none

  &__buttons
    order: 3
    display: flex
    flex-flow: row nowrap

  &__button
    height: 60px
    width: 60px
    padding: 10px
    display: flex
    align-items: center
    justify-content: center

    &.active
      box-shadow: 0px -4px 5px rgba(0,0,0,.3)
      z-index: 12

    @media (min-width: 1024px)
      display: none

  &__menu
    order: 4

    display: none
    width: 100%

    position: absolute
    top: 100%
    left: 0

    padding: 10px 0
    box-shadow: 0 0px 5px rgba(0,0,0,.3)

    @media (min-width: 1024px)
      display: flex
      flex-flow: row nowrap
      flex-grow: 1

      position: relative
      top: unset
      left: unset
      width: initial

      box-shadow: none
      padding: 0px 50px

    &.active
      display: block
      z-index: 11

    @media (min-width: 1024px)
      order: 2


  &-list
    padding: 0
    margin: 0
    list-style-type: none

    &__item
      padding: 5px 10px

      @media (min-width: 1024px)
        display: inline-block

    &__link
      color: $black
      opacity: 0.5
      transition: 0.2s
      position: relative
      display: inline-block

      &.active, &:hover
        opacity: 1
        color: $black
        text-decoration: none

      &.active
        &:after
          display: block

      &:after
        content: ''
        display: none
        width: 100%
        height: 2px
        background-color: $yellow
        position: absolute
        bottom: -2px
        left: 0