.navbar-lowtrip
  margin-bottom: 0px
  padding: 10px 0px
  border: none

  & .navbar-header
    & .navbar-header-mobile-content
      display: none

  & .navbar-nav
    margin-top: 5px
    & > li
      transition: 0.2s
      border-radius: 5px
      &:not(:last-child)
        margin-right: 10px

      &:hover
        box-shadow: inset 0px 0px 0px 50px #F2F2F2
        border-radius: 5px

        & > a
          background-color: transparent

  & li > a
    color: #303030
    padding: 5px 10px

  & li.active
    box-shadow: inset 0px 0px 0px 50px #F2F2F2

  & .navbar-brand
    padding: 0px 15px
    height: 40px

    & > img
      height: 100%

  & .navbar-toggle-lowtrip
    margin: 0
    padding: 9px 8px
    transition: 0.2s
    background: none
    border: none
    outline: none
    height: 40px
    width: 40px
    display: none
    &:after
      display: none


    &[aria-expanded="true"]
      opacity: 0.5

      & .icon-bar-lowtrip
        transform: rotate(45deg)
        &:before
          visibility: hidden

        &:after
          transform: rotate(90deg)
          top: 0px

  & .icon-bar-lowtrip
    display: block
    background: #000
    width: 23px
    height: 2px
    position: relative

    &:before, &:after
      content: ''
      position: absolute
      width: 100%
      height: 2px
      background: #000
      left: 0

    &:before
      bottom: 6px

    &:after
      top: 6px

@media (max-width : 767px)
  .navbar-lowtrip
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3)

    & .container > .navbar-header
      margin-left: -10px
      margin-right: -10px

    & .navbar-header
      display: flex
      flex-flow: row nowrap
      justify-content: flex-start
      align-items: center

      &:before, &:after
        display: none

      & > .navbar-header-mobile-content
        display: block
        flex: 1

    & .navbar-nav
      & li
        margin-right: 0px !important
        border-radius: 0px

        & > a
          padding: 10px

    & .navbar-brand
      padding: 0px 10px
      width: 60px

    & .navbar-brand, & .navbar-toggle
      float: none

    & .navbar-toggle-lowtrip
      display: none

    & .navbar-collapse
      position: absolute
      left: 0
      right: 0
      margin-left: 0px !important
      margin-right: 0px !important
      background-color: #fff
      z-index: 99

      &.collapse.in
        box-shadow: 0px 2px 3px rgba(0,0,0,0.3)