// POPUP Email
// start

.popup_email
  background-color: #ffffff
  padding: 20px 50px 20px 30px
  border-radius: 5px
  max-width: 635px
  margin: auto
  position: relative
  color: #303030

  & .title
    color: $pink
    font-weight: 700
    font-size: 30px
    line-height: 36px

  & p
    margin: 24px 0px
    font-size: 18px
    line-height: 22px

  & .mfp-close
    width: 50px
    height: 50px
    font-size: 40px
    line-height: 50px
    color: #909090
    opacity: 1

.email_form
  position: relative

  & input, & .green_btn
    border: 2px solid #47c066
    border-radius: 5px
    font-size: 16px
    height: 58px
    width: 100%
    padding: 0px 15px

  & input
    color: #7f7f7f

  & .green_btn
    transition: 0.2s
    text-transform: uppercase

  & .status
    position: absolute
    bottom: 0px
    font-size: 14px
    color: #da1a34
    display: none

    &.show_this
      display: block

  & .status_total
    bottom: 25px
    left: 0
    right: 0
    margin: auto
    text-align: right

  & .relative
    padding-bottom: 20px

  & .personal-agreement
    margin-top: 20px

.relative
  position: relative

.green_btn
  background-color: #47c066
  border-color: #47c066
  color: #fff
  &:hover
    background-color: transparent
    color: #47c066


@media only screen and (max-width : 767px)
  .popup_email
    padding: 15px
    max-width: 320px
    overflow: hidden
    & .title
      font-size: 24px
      line-height: 30px

    & p
      font-size: 14px

    & .mfp-close
      right: 0
      left: initial
      font-size: 50px

// end
// POPUP Email