.popular-items
  &--black
    background-color: rgba(0,0,0,0.7)
    padding: 20px 15px

    @media (min-width: 1024px)
      padding: 45px 40px

  &-list
    padding: 0
    margin: 0
    list-style-type: none
    display: flex
    flex-flow: row wrap

    &--bus-stations
      margin: 40px 0

    &__item
      width: 50%
      margin: 5px 0
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

      @media (min-width: 768px)
        width: calc(100% / 3)

    &__link
      color: $white
      transition: 0.2s

      &--black
        color: $black

      &:hover
        opacity: 0.8

      & > span
        &:first-child
          color: rgb(27, 158, 72)
        &:not(:first-child):before
          content: '-'
          padding: 0 2px
