.lowtrip-progressbar
  height: 5px
  overflow: hidden
  background-color: #f5f5f5
  border-radius: 3px
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)

  & .progress-bar
    width: 100%
    background: linear-gradient(to right,#47C066 ,#00F491 100%)
    transition: max-width 1s
    float: left
    height: 100%
    font-size: 12px
    line-height: 20px
    color: #fff
    text-align: center