// Анимация поиска города с желтой дорожкой

.price_list_loader
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	width: 100%
	height: 100%
	background: $grgr
	text-align: center
	opacity: 1
	visibility: visible
	transition: 0.4s
	z-index: 9999

	& .content
		position: absolute
		display: block
		top: 0
		left: 0
		right: 0
		bottom: 0
		margin: auto
		max-width: 320px
		height: 480px

		& #loader_map
			position: absolute
			top: 0
			left: 0
			max-width: 100%
			max-height: 100%

		& .absolute
			position: absolute
			visibility: hidden

	&.hide_this
		opacity: 0
		visibility: hidden
		transition: 0.4s
		display: none

.svg_route
	visibility: hidden
	&.visible
		visibility: visible

#loader_map
	transform: rotate(55deg)

#r1
	top: 0
	left: 0
	right: 0
	width: 100%
	transform: translateY(-20px)
	&.show_this
		transform: translateY(0px)

#r4
	bottom: 0
	left: 0
	right: 0
	width: 100%
	transform: translateY(20px)
	&.show_this
		transform: translateY(0px)

#r2
	top: 113px
	left: 100px
	transform: translateX(-20px) rotate(-4deg) 
	line-height: 10px
	&.show_this
		transform: translateX(0px)
	& img
		display: block

#r3
	top: 255px
	right: 67px
	transform: translateX(20px) rotate(11deg) 
	line-height: 10px
	&.show_this
		transform: translateX(0px)
	& img
		display: block
		margin: auto
		width: 70px

.city_wow
	color: #fff
	font-size: 20px
	line-height: 24px
	text-shadow: 0px 0px 10px rgba(0,0,0,0.5)

.text_wow
	color: #fff
	font-size: 18px
	text-shadow: 0px 0px 10px rgba(0,0,0,0.5)

.hide_this
	opacity: 0
	visibility: hidden
	transition: 0.4s

.show_this
	opacity: 1
	visibility: visible !important
	transition: 0.4s