// Блок с формой  его цветовые стили
.cities
  max-width: 885px
  position: relative
  //margin-left: auto
  //margin-right: auto
  padding: 15px
  border-radius: 5px
  font-family: Arial, Helvetica, sans-serif

  &.green
    background-color: rgba(71,192,102,0.9)
    box-shadow: 0px 3px 3px rgba(0,0,0,0.5)

  &.black
    background-color: rgba(0,0,0,0.4)

  &.white-opacity
    background-color: rgba(255,255,255,0.3)

  &--car-rides
    padding: 0
    box-shadow: none
    max-width: 450px

.form-group-block
  display: flex
  flex-flow: row nowrap

  & .form-input-block:not(:last-child)
    border-right: 1px solid #e0e0e0

    &.no-border
      border: none

.form-top-block
  margin-bottom: 10px

.form-input-block
  position: relative
  display: flex
  flex-flow: row wrap

  &.form-input-block-big,
  &.form-input-block-switch
    width: 200px
  &.form-input-block-medium
    width: 150px

.form-input-block
  & .group
    float: left
    width: 100%

    &.input_wrapper
      width: calc(100% - 50px)

    &.button_wrapper
      width: 50px

.cities
  & .dropdown-helper
    position: absolute
    width: 100%
    top: 100%
    left: 0
    z-index: 100

// Взаимодействие при наведении и фокусе
.group.has_select
  transition: 0.2s

  &:after
    content: ''
    position: absolute
    bottom: 0px
    left: 0px
    right: 0px
    height: 2px
    background-color: #fcc22b
    transform: scale(0)
    transition: 0.2s

  &:hover
    box-shadow: inset 0px 0px 0px 50px #F2F2F2

  &.focused:after
    transform: scale(1)

  &.focused:hover
    box-shadow: none !important

// Форма
.cities-form
  display: flex
  flex-flow: row wrap
  justify-content: flex-start

.cities
  & .group
    position: relative
    background-color: #fff
    height: 50px

    & .help
      position: absolute
      top: 18px
      left: 15px
      z-index: 10

      &.top
        top: 5px

    & .clear_input
      position: absolute
      top: 0px
      right: 0px
      z-index: 30

    & input
      position: absolute
      left: 0
      z-index: 20
      padding-top: 14px

      &:focus ~ .help
        top: 5px
        font-size: 12px

  & input, & select, & output
    display: inline-block
    min-height: 50px
    height: 100%
    color: #303030
    width: 100%
    padding: 0px 15px
    outline: none
    font-size: 14px
    white-space: nowrap
    text-overflow: ellipsis
    border: none
    background: transparent

    &.with_clear
      padding-right: 10px

.cities.with-navigation
  padding-top: 7px

.cities .group > .city_notification
  position: absolute
  top: 100%

.mini-logo
  width: 50px
  float: left
  margin-right: 10px
  margin-top: -2px

.cities .mini-logo
  display: none

.help
  color: #7F7F7F
  font-size: 14px
  line-height: 1
  transition: 0.1s

  &.top
    font-size: 12px

.clear_input
  width: 20px
  height: 20px
  font-size: 20px
  line-height: 20px
  color: #7f7f7f
  text-align: center
  border: none
  background: none
  outline: none
  display: none
  cursor: pointer

.pointer
  cursor: pointer

.overflow
  overflow: hidden

.btn_go
  cursor: pointer
  width: 135px
  height: 50px
  background-color: #FCC22B
  color: #fff
  text-align: center
  font-size: 14px
  border: none
  outline: none
  transition: 0.2s

  &:hover
    box-shadow: inset 0 0px 0px 50px rgba(0, 0, 0, 0.1)

.btn-red
  background-color: #f43b22


// Кнопка поменять город
.btn_change
  outline: none
  display: inline-block
  cursor: pointer
  background: transparent
  padding: 12px
  text-align: center
  height: 50px
  transition: 0.2s

  &:hover
    box-shadow: inset 0px 0px 0px 50px #F2F2F2

  & img
    vertical-align: top
    width: 100%
    user-select: none

  &.rotate
    & img
      transform: rotate(-360deg)
      transition-duration: 0.5s


// Всплывающие предупреждения
.city_notification
  &.error
    background-color: #E74C3C
    border: 1px solid #E74C3C
    color: #fff
    &:before
      background-color: #E74C3C

  &.hint
    background-color: #F2F2F2
    border: #F2F2F2
    color: #303030
    &:before
      background-color: #F2F2F2
      right: 15px

.city_notification
  display: none
  margin-top: 10px
  padding: 4px 15px 5px 10px
  min-height: 50px
  font-size: 13px
  line-height: 14px
  z-index: 100
  width: 200px
  box-shadow: 0 2px 6px rgba(0,0,0,.3)

  & .close
    position: absolute
    right: 0
    top: 0px
    background-color: transparent
    border: none
    width: 20px
    height: 20px
    text-align: center

  &:before
    content: ''
    display: block
    position: absolute
    top: -8px
    left: 0
    right: 0
    margin: auto
    width: 15px
    height: 15px
    transform: rotate(45deg)
    z-index: -1


.cities
  & .switch-block
    background-color: transparent
    height: 40px

.switch-block
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start

  &__title
    width: 40px

  &__item
    width: 40px
    
  &__input
    display: none !important

  &__label
    cursor: pointer
    display: block
    height: 100%
    text-align: center
    padding: 5px
    border-radius: 50%
    border: 1px solid transparent
    
  &__input:checked + &__label.woman
    border-color: #f4228d

  &__input:checked + &__label.men
    border-color: #595dfb

  &__icon
    height: 30px
    max-width: 100%
    
  &__title-content
    padding: 5px
    line-height: 30px
    color: #ffffff
    text-align: center

// Города под инпутом
.top-cities-list
  display: block
  list-style-type: none
  padding: 0
  margin: 0
  font-size: 12px
  text-align: left
  min-height: 16px

  & li
    display: inline-block
    text-decoration: underline
    color: #eeeeee
    cursor: pointer

    &:hover

      color: $yellow

    &:not(:last-child)
      margin-right: 5px

@media only screen and (min-width: 992px)
  .cities
    & .cities-form
      & .form-group-block.inputs-group
        margin-right: 15px



@media only screen and (min-width: 768px) and (max-width: 991px)
  .cities
    max-width: 730px
    padding: 15px
    & .cities-form
      flex-flow: row wrap

      & .form-group-block.inputs-group
        margin-bottom: 10px

@media (max-width: 767px)

  .cities
    &.black, &.green
      background-color: transparent
      box-shadow: none

  .cities
    max-width: 720px
    padding: 15px 10px 20px
    margin-left: -10px
    margin-right: -10px

    & .cities-form
      flex-flow: column wrap

      & .form-group-block
        flex-flow: row wrap
        justify-content: space-between

        &.inputs-group
          & .form-input-block
            border: 1px solid #ddd

        & .form-input-block-big
          width: 100%

        & .form-input-block-medium, & .form-input-block-switch
          width: calc(50% - 5px)

        & .form-input-block
          margin-bottom: 10px

          & .dropdown-helper
            border: 1px solid #ddd
            width: calc(100% + 2px)
            left: -1px
            & li
              padding: 10px

      & .btn_go
        width: 100%

    & input
      padding: 0px 10px

    & .group .help
      left: 10px

@media (min-width: 480px) and (max-width: 767px)

  .cities
    & .cities-form
      & .form-group-block
        & .form-input-block-big
          width: calc(50% - 5px)

        & .form-input-block

          & .dropdown-helper li
            float: left
            width: 50%
