.site-block
  position: relative
  background-repeat: no-repeat

  &--about-service
    background-image: url('../img/car/car-banner__house.png')
    background-position: 100% 100%

  &--driver
    font-size: 10px

    @media (min-width: 1024px)
      font-size: 14px

  &--bus-stations
    padding: 40px 0
    background-image: url('../img/bus/russian-map.png')
    background-size: contain
    background-position: center

  &__mask
    &--grey
      background-color: rgba(229, 229, 229, 0.8)

  &__title
    text-align: center
    text-transform: uppercase

    &--city-distance-table
      color: $black
      margin-top: 0

    &--city-popular-routes
      color: $white
      margin-top: 0

    &--driver
      color: $black
      font-size: 1.75em
      font-weight: bold
      background-color: $yellow

  &__content

    &--about-service
      padding: 40px 0
      font-size: 1.125em
      color: rgb(69, 69, 69)

      @media (min-width: 1024px)
        padding: 70px 0

    &--driver
      position: relative
      background-color: $yellow
      padding: 20px 15px
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1)

      @media (min-width: 1024px)
        //background-color: $white
        //padding: 40px 0

  &__text
    &--driver
      font-size: 1.75em
      font-weight: bold
      text-align: center
      color: $black
      margin: auto
      max-width: 600px

    &-action
      &--driver
        color: $black-light
        font-weight: normal

  &__button
    &--driver
      display: block
      max-width: 320px
      margin: 0 auto 10px
      padding: 15px
      font-size: 1.25em

      &-white
        @media (min-width: 1024px)
          display: none

      &-green
        @media (max-width: 1023px)
          display: none

  &__image
    margin: auto

    &-fixed
      position: absolute

    &--driver
      top: 20px
      height: calc(100% - 40px)
      display: block

      //@media (min-width: 1024px)
      //  display: block

    &--driver-girl
      left: 20px

    &--driver-men
      right: 20px

    &--driver-globe
      display: block
      margin: 0 auto 20px

      //@media (min-width: 1024px)
      //  display: none

  &__content-block:not(:last-child)
    margin-bottom: 2em

  &--city-distance-table
    padding: 40px 0
    background-color: $darkgrey

    @media (min-width: 1024px)
      padding: 70px 0

  &--city-popular-routes
    padding: 40px 0px
    background-image: url('../img/car/car-banner__popular-routes.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat

    &-bus
      background-image: url('../img/bus/popular.png')

  &--text-block
    margin: 40px 0

  &--route-data
    margin: 40px 0