.site-navigation
  background-color: $white
  font-size: 14px
  font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif
  position: relative

.site-navigation-form
  margin: 0px 0px 10px
  padding: 0px
  list-style-type: none
  font-family: $regular
  font-size: 14px

  & > li
    display: inline-block

    &:not(:last-child)
      margin-right: 10px

  & > li.active > a
    border-bottom: 2px solid #FCC22B

  & > li > a
    color: $white
    padding: 3px 5px
    border-bottom: 2px solid $white

    &:hover
      text-decoration: none
      border-bottom: 2px solid #FCC22B

@media only screen and (max-width : 767px)
  .site-navigation-form
    & > li > a
      color: #303030