.statistic-result
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: center
  font-size: 14px
  max-width: 280px
  padding: 10px 0px

  & .statistic-result-image
    display: block
    width: 40px
    height: 40px
    padding: 10px
    border-radius: 50%
    border: 1px solid transparent
    text-align: center
    cursor: pointer

    &.green
      border: 1px solid #47C066
      box-shadow: 0px 0px 12px rgba(71,192,102,0.3)

    & > .statistic-result-image-icon
      max-width: 100%
      max-height: 100%
      vertical-align: top
      display: inline-block

  & > .statistic-result-information
    margin-left: 15px

  & > .statistic-result-information
    width: calc(100% - 55px)

  & .statistic-result-information
    line-height: 20px
    & > .statistic-result-header
      font-size: 1.125em
      color: #303030
      white-space: nowrap
    & > .statistic-result-text
      font-size: 0.875em
      color: #7F7F7F

  & .dropdown-menu
    z-index: 20

// Train Statistic Offers
.results-statistic-block-train
  position: relative
  background-color: #fff
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1)
  transition: 0.2s

  & .results-statistic-block-container
    &.fixed
      position: fixed
      top: 0
      right: 0
      left: 0
      z-index: 10
      background-color: #fff
      box-shadow: 0px 2px 10px rgba(0,0,0,0.5)

  & .results-statistic-block-header
    z-index: 10
    background-color: #fff

  & .results-statistic-block-content
    box-shadow: inset 5px 0px 10px 0px rgba(0,0,0,0.08)

.train-statistic-offers
  position: relative
  margin-right: -15px
  margin-left: -15px
  height: 60px
  overflow: hidden

  & > .train-statistic-offers-container
    overflow-x: auto
    white-space: nowrap
    display: inline-block
    transition: 0.5s

.train-statistic-offer
  display: inline-block
  padding: 10px 15px 8px
  background-color: transparent
  line-height: 20px
  border-bottom: 2px solid transparent
  transition: 0.2s
  user-select: none

  & > .train-statistic-offer-price
    color: #303030
    font-size: 1.125em
    
    &.sold
      color: #e74c3c

  & > .train-statistic-offer-date
    font-size: 0.875em
    color: #999999

  &.current
    border-bottom-color: #47C066

  &:hover, &:focus, &:visited
    text-decoration: none

  &:hover
    box-shadow: inset 0px 0px 0px 50px rgba(34,181,115,0.05)
    border-bottom-color: #47C066

@media (max-width: 767px)
  .results-statistic-block-train
    & .results-statistic-block-header
      display: none
    & .results-statistic-block-content
      box-shadow: none

  .train-statistic-offers
    height: 45px

    & > .train-statistic-offers-container
      padding-bottom: 20px
      display: block

  .train-statistic-offer
    font-size: 13px
    line-height: 15px
    padding: 6px 10px 7px
    width: initial
// Train Statistic Offers