html, body
  height: 100%

body
  margin: 0
  font-size: 14px
  font-family: "Roboto", sans-serif
  min-width: 320px
  position: relative
  line-height: 1.75
  overflow-x: hidden

.container
  max-width: 1200px
  width: 100%
  padding: 0 10px
  margin-left: auto
  margin-right: auto

  &-fluid
    max-width: 100%

  &--no-padding
    padding: 0
    
.hidden
  display: none

*
  box-sizing: border-box

a
  text-decoration: none

.button
  border: none
  background-color: transparent
  padding: 0

.heading
  &--h1
    font-size: 1.5em

    @media (min-width: 1024px)
      font-size: 2.5em

  &--h3
    font-size: 1.3em


.list
  &--text-block
    & li
      margin-bottom: 1em