body
  margin: 0px

.redirect-window
  max-width: 600px
  margin: 0px auto
  padding: 10px
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
  font-size: 14px

  & > .redirect-info
    margin-top: 50px

  & > .redirect-window-title
    font-size: 20px
    line-height: 24px
    margin-bottom: 20px
    text-align: center

.redirect-way
  display: flex
  flex-direction: row
  justify-content: space-between

  & > .redirect-block
    max-width: calc(100% / 3)

.redirect-block
  text-align: center
  margin: 5px

  & > .image-item
    width: 100%
    background-color: #FFFFFF
    height: 100px
    box-sizing: border-box
    padding: 20px
    margin-bottom: 10px
    position: relative
    overflow: hidden

    & > img
      max-width: 100%
      max-height: 100%
      object-fit: cover
      object-position: center

    &.company
      box-shadow: 0px 1px 10px rgba(0,0,0,0.4)
      border-radius: 20px

  &.center
    & > .text
      font-weight: 700

  & > .text
    padding: 5px


.redirect-info
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2)
  padding: 20px
  border-radius: 20px
  
  & a
    color: #0086BF
    text-decoration: underline


.loader
  height: 20px
  margin: 20px 0px
  position: relative
  & .cs-loader-inner
    padding: 0px

    & label
      background-color: #00f491

@media only screen and (max-width: 767px)
  .redirect-window
    & > .redirect-info
      margin-top: 20px

  .redirect-way
    flex-direction: column

    & > .redirect-block
      max-width: 100%
      width: 100%
      display: flex
      flex-direction: column
      justify-content: space-between

      & > .image-item
        height: 60px
        padding: 5px
        box-shadow: none
        margin-bottom: 0px
        
      &.center
        height: 60px
        & > .text
          display: none

        & > .image-item
          height: 60px

    & #arrowAnim
      transform: rotate(90deg)

      & .arrow
        width: 15px
        height: 15px