// TRAIN PAGE
// base/train/city
.main_bg
  &.train_header
    background-image: url(../img/header/train-dark.jpg)
    background-position: center center
    background-repeat: no-repeat

// Главная страница поездов и из города 1
.train_city_page
  & h1
    font-size: 30px
    line-height: 36px
  & h2
    font-size: 25px
    line-height: 30px
  & h3
    font-size: 22px
    line-height: 26px
  & h4
    font-size: 20px
    line-height: 24px

  & .train_header
    padding: 50px 0px

.train_results_page
  position: relative
  z-index: 1

.train_results_page, .train_timetable_page
  & .train_header
    padding: 50px 0px

.mobile_topline

  &.mobile_topline_train
    background-color: #47c066

.train_header
  & .cities
    margin-bottom: 0px

.train_header_title
  margin: 0px 0px 40px

  & > h1, & > h2
    margin: 0px 0px 10px
    text-align: left
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif

  & > *
    color: #fff

.popular_trains
  display: block
  margin: 30px auto
  max-width: 960px

  &:before, &:after
    content: ''
    display: table
  &:after
    clear: both
  & > div
    float: left

.popular_trains_card
  &.popular_trains_card_main
    background-color: #F2F2F2
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3)
  &.popular_trains_card_red
    background-color: $white
    border: 2px solid #FF0000
  &.popular_trains_card_wide
    max-width: 100%

.popular_trains_card
  max-width: 320px
  width: 100%
  padding: 20px
  color: $black

  & > .popular_trains_title
    display: flex
    align-items: flex-end
    margin-bottom: 20px

  & > p
    font-size: 14px
    font-weight: 300

.trains_block
  max-width: 960px
  margin: auto
  padding: 20px
  color: $black

  &_title
    margin-bottom: 20px
    font-size: 1.125em

  & p
    font-weight: 300

  & .advice
    margin: 20px -20px 0px

  &.dark_bg
    background-color: #F9F9F9
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3)

  &.white_bg
    background-color: #ffffff
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3)

  & .map_mini
    box-shadow: none

.trains_block
  & .trains_block_attention
    margin: 20px 0px

  &.trains_map_block
    padding: 0px

    & > .trains_block_title
      padding: 20px
      margin-bottom: 0px

.trains_block_attention
  background-color: $white
  padding: 25px 15px 15px 45px
  background-image: url(../img/icons/info.svg)
  background-size: 25px
  background-position: 10px 10px
  background-repeat: no-repeat

  & .desicion
    font-style: italic
    font-weight: 700

.advice
  padding: 20px
  background-color: rgb(255, 255, 255)
  border-left: 3px solid rgb(71,192,102)
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3)

.popular_trains_list
  margin: 0px
  padding: 0px
  list-style-type: none

  &.nearby_stations
    font-size: 14px
    line-height: 17px

    & li:not(:last-child)
      margin-bottom: 20px

  & > li:not(:last-child)
    margin-bottom: 5px

  & .popular_trains_list_link
    font-size: 1em
    font-weight: 300
    white-space: nowrap

  &.columns_list
    column-count: 3

.page-train-type-route
  &.grey_bg
    background-color: #f2f2f2
  & .h2_title
    margin-bottom: 20px
    & > *
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
      font-weight: 400
      margin-bottom: 20px
      font-size: 24px
      line-height: 30px
      display: inline

  & .trains_block
    margin-bottom: 40px

.trains-block
  & .distance-route-block:not(:last-child)
    margin-bottom: 10px

.no-stations-block
  font-family: Arial, Helvetica, sans-serif
  & > .no-stations-block-header
    margin-bottom: 20px

  & .no-stations-block-title
    font-weight: 700

@media (max-width: 767px)
  .no-stations-block
    & .no-stations-map
      margin-top: 20px


.distance-route-block
  font-size: 14px
  line-height: 20px
  background-color: #FFFFFF
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2)
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  transition: 0.1s

  & > div
    padding: 10px

  & > .distance
    min-width: 90px
    max-width: 90px
    color: #888

    & > .count
      font-size: 2em

  & > .content
    & .price
      white-space: nowrap
      font-weight: 700

    & > .variants
      margin-top: 5px
      font-size: 0.9em

// Train Results Container
.train-results-container
  background-color: #F2F2F2
  padding: 20px 0px

  & .train-results-header
    font-size: 16px
    margin: 10px 0px

  & .train-results-search-content
    font-size: 16px
    margin: 10px 0px 20px


.train-results-header
  & h1
    font-size: 1.5em
    line-height: 1.5
    //font-family: $regular
    text-align: left
    margin: 0

  & h2
    font-size: 1em
    line-height: 1.5
    //font-family: $regular
    text-align: left
    margin: 0

  & p
    margin: 10px 0px

  &__train-name
    color: #301767

  &__title-block
    margin-top: 30px

.train-results-search-content

  & .train-results-search-title
    margin-bottom: 20px

    & h2
      font-size: 1em
      display: inline-block

@media (max-width: 767px)
  .t_col-10
    padding-left: 10px
    padding-right: 10px

  .train-results-container
    padding: 10px 0px 20px
    min-height: calc(100vh - 100px)

    & > .train-results-header
      font-size: 14px
      margin: 0px

      & h1
        font-size: 1.125em
        font-weight: 700

    & > .train-results-search-content
      font-size: 13px
      margin: 10px 0px

      & .train-results-search-title
        font-size: 13px
        margin-bottom: 10px

    & .train-timetable-container
      & > .train-loader
        font-size: 13px

// Train Results Container

@media only screen and (max-width : 767px)
  .train_city_page
    & h1
      font-size: 24px
      line-height: 30px
    & h2
      font-size: 20px
      line-height: 24px
    & h3
      font-size: 16px
      line-height: 20px

    & .header_layer
      padding-top: 0px
      padding-bottom: 4px

  .popular_trains
    margin: 15px 0px
    padding: 0px 10px

  .popular_trains_list
    &.columns_list
      column-count: 1

  .popular_trains_card
    max-width: 100%

    & > .popular_trains_title
      height: initial
      margin-bottom: 15px

    & > p
      font-size: 1em
      line-height: 1.2

  .trains_block
    & p
      font-size: 1em
      line-height: 1.2

  .page-train-type-route
    & .trip-block
      margin: 25px 0px
    & .h2_title
      & > *
        font-size: 16px
        line-height: 24px

  .train-timetable-container
    min-height: 100px


// Вывод билетов
.train-results-timetable
  & .train-results-count
    padding: 10px 0

.train-timetable-container
  min-height: 60px
  position: relative

  & .train-results-offers
    margin-bottom: 30px

.train-timetable-items
  & > div:not(:last-child)
    margin-bottom: 30px

@media (max-width: 767px)
  .train-timetable-container
    & .offers-container
      margin-bottom: 0
// КОНЕЦ
// Вывод билетов



.train-results-information-block
  background-color: #ffffff
  padding: 20px
  border-radius: 10px
  box-shadow: 0 2px 10px rgba(0,0,0,.1)
  font-size: 16px
  color: #303030

  & > .information-content
    text-align: center

    & .calendar-title
      font-size: 1.5em
      //font-family: $bold
      font-weight: 700
      margin-bottom: 10px

    & .calendar-text
      font-size: 1.2em
      //font-family: $regular
      font-weight: 400

    & .calendar-dates
      margin-top: 30px
      margin-bottom: 10px
      display: flex
      flex-flow: row wrap
      justify-content: space-between

    & .calendar-special-offer
      margin-top: 40px

    & .date-item
      box-shadow: 0px 1px 6px rgba(0,0,0,0.2)
      padding: 5px 10px 10px
      border-radius: 5px
      border: 1px solid transparent
      width: 110px
      line-height: 1.2
      transition: box-shadow 0.2s

      &:hover, &:focus, &:visited
        text-decoration: none

      &:hover
        border: 1px solid #47c066
        box-shadow: inset 0 0 0 50px #f9f9f9

      & > .date-item-weekday
        color: #606060
        font-size: 0.875em
        margin-bottom: 5px

      & > .date-item-date
        color: #303030
        font-size: 1.5em
        //font-family: $regular
        font-weight: 400

      & > .date-item-month
        color: #303030
        font-size: 1em
        //font-family: $regular
        font-weight: 400

.calendar-special-offer
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  font-family: Arial, Helvetica, sans-serif
  font-size: 1em
  line-height: 1.2

  & .calendar-special-offer-text
    text-align: left
    width: calc(100% - 140px)

  & .calendar-special-offer-partner
    width: 120px
    & .partner-logo
      width: 120px
      height: initial

    & .partner-btn
      margin-top: 10px
      text-align: center
      width: 120px
      color: #ffffff
      background-color: #47c066
      padding: 7px 10px
      border-radius: 5px
      display: inline-block

      &:hover, &:focus, &:visited
        text-decoration: none

@media (max-width: 767px)
  .train-results-information-block
    font-size: 14px
    padding: 10px 10px
    margin: 0px -10px
    border-radius: 0px

    & > .information-content
      & .calendar-title
        font-size: 1em
      & .calendar-text
        font-size: 1em

      & .date-item
        padding: 5px
        width: 50px
        overflow: hidden

        & > .date-item-weekday
          text-overflow: ellipsis
          overflow: hidden

  .calendar-special-offer
    & .calendar-special-offer-text
      width: 100%
    & .calendar-special-offer-partner
      margin-top: 10px
      text-align: left
      width: 100%
      & .partner-btn
        margin-top: 0px
        margin-left: 10px

// Верхняя панель результатов и сортировки
.train-results-topbar
  font-size: 14px

.train-topbar-content
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: center

.train-results-sorting
  & .sorting-title
    font-size: 1em
    padding-right: 5px

  & .train-mobile
    display: none

  & .apply-btn
    display: none

.sorting-select-wrapper
  box-shadow: 0 1px 0px 0 rgba(0,0,0,.16)
  cursor: pointer

.train-sorting-select
  width: 100%
  padding: 4px 5px 5px
  font-size: 14px
  line-height: 20px
  outline: none

  background-color: #ffffff
  color: #303030
  border: none

.train-loader
  & .lowtrip-progress-bar
    margin-top: 10px

@media (max-width: 767px)
  .train-results-topbar

    & .train-results-count
      white-space: nowrap

  .train-results-sorting
    & .train-mobile
      display: block

    & .sorting-content
      display: none
      background-color: #ffffff
      position: fixed
      z-index: 20
      left: 0px
      right: 0px
      top: 0px
      bottom: 0px
      overflow-y: scroll
      padding: 10px 10px 50px

      &.mobile-open
        display: block

      & .apply-btn
        display: block
        position: fixed
        z-index: 21
        bottom: 0px
        left: 0px
        right: 0px

      & .sorting-title
        font-size: 1em
        display: block
        margin-bottom: 10px

      & .sorting-select-wrapper
        display: block

        & .train-sorting-select
          width: 100%

// Лучшие предложения
// Начало
.train-results-offers
  border-radius: 10px
  font-size: 12px
  line-height: 14px
  position: relative

  & > .show-all-tickets
    margin: 5px auto 0px
    padding: 7px
    border-radius: 5px
    border: 1px solid transparent
    background-color: #fff
    box-shadow: 0 2px 10px rgba(0,0,0,.1)
    width: 100%
    text-align: center
    color: #303030
    font-size: 14px
    line-height: 14px
    cursor: pointer
    transition: box-shadow 0.2s

    &:hover
      border-color: #47c066
      box-shadow: inset 0 0 0 20px #f9f9f9

    &.visible
      display: block

    &.not-visible
      display: none


  & > .offers-container
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1)
    background-color: #ffffff
    border-radius: 10px
    border: 1px solid #DCDCDC

  & .train-offer-item
    width: calc(100% / 3)
    padding: 15px 0px
    text-align: center
    color: #7F7F7F
    cursor: pointer
    position: relative

    & > .offer-item-content
      padding: 0px 15px

      &.border-right
        border-right: 1px solid #E8E8E8

    & .offer-title
      //font-family: $bold
      font-weight: 700

    & .offer-cost
      font-size: 1.5em
      line-height: 1.33
      //font-family: $bold
      font-weight: 700
      padding: 5px 0px
      color: #303030

    &:before
      content: ''
      position: absolute
      bottom: 0px
      left: 20px
      right: 20px
      height: 2px
      background-color: #47C066
      transform: scale(0)

    &:hover
      color: #303030

      &:before
        transform: scale(1)
        background-color: rgba(71,192,102,0.5)
        transition: 0.2s

    &.active
      color: #303030

      &:before
        transform: scale(1)
        background-color: #47C066


@media (max-width: 767px)
  .train-results-offers
    margin-bottom: 40px

    & .offers-container
      //margin: 0px -10px
      //border-radius: 0px
      box-shadow: none
      background-color: transparent
      border: none

    & .train-offer-item
      padding: 10px 0px
      border-radius: 10px
      background: transparent
      width: calc((100% / 3) - 5px)
      border: 1px dashed #62afff
      //box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)

      & .offer-item-content
        padding: 0px 2px

        &.border-right
          border-right: none

      &:before
        display: none

      &.active
        border-style: solid
        background-color: #fff

      &.state-hover
        //box-shadow: 0 0 0 1px rgba(0,0,0,0.08)

      & .offer-title
        //font-family: $regular
        font-weight: 400
        font-size: 0.875em
        white-space: nowrap


    & > .show-all-tickets
      margin-top: 10px
// Лучшие предложения
// Конец



// ЖД БИЛЕТ
// Начало

.train-ticket
  display: block
  position: relative
  //border: 1px solid #DCDCDC
  //border-radius: 10px
  font-size: 16px
  line-height: 1.2

  &:hover
    & > .train-ticket-header
      box-shadow: 0px -2px 20px rgba(0,0,0,0.2)

    & > .train-ticket-body
      box-shadow: 0px 2px 20px rgba(0,0,0,0.2)

  & > .train-ticket-marks
    position: absolute
    top: -25px
    left: 10px

    & .marker
      background-color: #303030
      padding: 5px 10px 0px
      font-size: 14px
      white-space: nowrap
      line-height: 20px
      color: #fff
      width: 130px
      border-radius: 5px 5px 0px 0px
      box-shadow: inset 0px -2px 5px rgba(0,0,0,0.1)
      float: left

      &.cheap
        background-color: #47c066

      &.fast
        background-color: #fcc22b

      &.comfort
        background-color: #62afff

      & + .marker
        margin-left: 10px

  & > .train-ticket-header
    display: flex
    flex-flow: row nowrap
    justify-content: space-between

    padding: 20px 20px 13px
    background-color: #ffffff
    border: 1px solid #DCDCDC
    border-bottom: none
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    box-shadow: 0px -2px 10px rgba(0,0,0,0.1)
    transition: box-shadow 0.2s

  & > .train-ticket-separator
    width: 100%
    padding: 7px 0px
    background-color: #ffffff
    overflow: hidden
    position: relative

    & .separator-line
      background-color: #F2F2F2
      height: 1px

    & .left-corner, & .right-corner
      position: absolute
      top: 0px
      width: 15px
      height: 15px
      border: 1px solid #DCDCDC
      border-radius: 50%
      background-color: #F2F2F2

    & .left-corner
      left: -7px

    & .right-corner
      right: -7px

  & > .train-ticket-body
    display: flex
    flex-flow: row wrap
    justify-content: flex-start

    padding: 13px 10px 15px
    background-color: #ffffff
    border: 1px solid #DCDCDC
    border-top: none
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1)
    transition: box-shadow 0.2s ease-in

    & > .train-place
      margin: 5px

  & .train-ticket-header-info
    width: 200px
    display: flex
    flex-flow: column nowrap
    justify-content: flex-start

    overflow: hidden

    & .train-number
      margin-bottom: 5px

    & .train-types
      margin-bottom: 5px
      white-space: nowrap

      & .train-type:not(:first-child)
        &:before
          content: ' • '


  & .train-ticket-header-time
    width: 360px

  & .train-stations-times
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start

  & .train-stations-names
    display: flex
    flex-flow: row nowrap
    justify-content: space-between

  & .train-station-column
    width: 100px

  & .train-timeline-column
    width: 100px
    margin-left: 10px
    margin-right: 10px

  & .station-name
    width: 140px
    text-overflow: ellipsis
    overflow: hidden

  & .train-timeline
    position: relative
    height: 12px

    & span
      display: block
      position: absolute
      width: 70px
      margin: auto
      top: 0px
      left: 0px
      right: 0px
      background-color: #fff
      z-index: 2

    &:before
      content: ''
      position: absolute
      left: 0px
      right: 0px
      top: 6px
      width: 100%
      height: 1px
      background-color: #999999
      z-index: 1

  & .train-place
    width: 110px
    padding: 0px 5px
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2)
    background-color: #FFFFFF
    border-radius: 5px
    border: 2px solid transparent
    transition: box-shadow 0.1s
    font-size: 13px
    color: #303030
    line-height: 1.2
    cursor: pointer

    &.cheap
      border-color: #47C066

    &.comfort
      border-color: #62afff

      &:hover
        border-color: #62afff

    &:hover
      border-color: #47C066
      box-shadow: inset 0 0 0 50px #F9F9F9

    &:focus, &:hover, &:visited
      text-decoration: none

    & > div
      margin: 5px 0px

    & > .place-type
      color: #000000

    & > .places-count
      color: #7F7F7F

    & .price-value
      color: #000000
      //font-family: $regular
      font-size: 18px

.train-ticket-header-info
  & .train-number
    font-size: 1.5em
    line-height: 1
    color: #303030
    //font-family: $regular

  & .train-types
    color: #303030
    font-size: 0.875em

  & .train-name
    font-size: 1.25em
    //font-family: $regular
    color: #301767

.train-ticket-header-time
  & .column-name
    font-size: 0.75em
    color: #7F7F7F

  & .train-timeline
    font-size: 0.75em
    color: #000000
    text-align: center

.station-timing
  & .value
    & .time
      font-size: 1.5em
      //font-family: $regular
      color: #303030
    & .type
      font-size: 0.875em
      color: #999999

  & .date
    font-size: 0.75em
    color: #7F7F7F

.train-stations-names
  & .station-name
    color: #7F7F7F
    font-size: 0.875em

.train-station-column
  & .column-name
    margin-bottom: 5px

  & .station-timing
    margin-bottom: 10px

    & .value
      margin-bottom: 2px

      & .type
        padding-left: 3px


@media (max-width: 767px)
  .train-ticket
    & > .train-ticket-header
      flex-flow: column nowrap
      padding: 10px 10px 0px

    & > .train-ticket-body
      flex-flow: column nowrap
      padding: 5px 10px 5px

      & .train-place
        margin: 0px 0px 10px

    & > .train-ticket-marks
      top: -22px

      & .marker
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        font-size: 12px
        width: 90px
        padding: 3px 3px 0px

        & + .marker
          margin-left: 5px

    & .train-ticket-header-info
      width: 100%
      flex-flow: row wrap
      align-items: flex-end

      & > .train-types, & > .train-number, & > .train-name
        margin-bottom: 0px
        line-height: 1

      & > .train-types
        order: 3

      & > .train-number, & > .train-name
        font-size: 1.125em
        padding-right: 5px

    & .train-ticket-header-time
      width: 100%
      margin: 10px 0px 0px

    & .train-stations-times
      justify-content: space-between
      align-items: center

      & > div:last-child
        text-align: right

      & .station-timing
        margin-bottom: 5px
        & .value

          & .type
            display: none

      & .train-timeline:before
        left: -25%
        right: -25%
        width: 150%


    & .train-stations-names
      & .station-name
        font-size: 13px
        &.arr
          text-align: right

    & .train-place
      width: 100%
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      align-items: center
      padding: 0 15px
      border-color: #dcdcdc
      border-width: 1px
      box-shadow: 0 2px 10px 0 rgba(0,0,0,.16)

      & .place-price
        order: 3
        width: 40%
        text-align: right

      & .places-count, & .place-type
        width: 30%
        text-align: left

// Конец
// ЖД БИЛЕТ

// ФИЛЬТРЫ
// НАЧАЛО
.apply-btn
  background-color: #FCC22B
  font-size: 14px
  line-height: 20px
  //font-family: opensans-regular
  font-weight: 400
  padding: 15px
  color: #303030
  text-align: center

.filter-btn
  background-color: #ffffff
  border-radius: 50%
  box-shadow: 0 2px 5px rgba(0,0,0,.3)
  text-align: center
  padding: 5px
  width: 34px
  height: 34px

  background-repeat: no-repeat
  background-size: 18px
  background-position: center

  &__filtering
    background-image: url(/img/icons/filter-results-button.svg)

  &__sorting
    background-image: url(/img/icons/sort-button-with-three-lines.svg)

.train-results-filters

  & .train-mobile
    display: none

  & > .filters-content
    background-color: #fff
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1)
    border-radius: 5px
    overflow: hidden

    & .apply-btn
      display: none

  & > .filter-item:not(:last-child)
    border-bottom: 1px solid #dcdcdc

.filter-item
  font-size: 16px
  & > .filter-item-header
    height: 40px
    line-height: 20px
    font-size: 1em
    padding: 10px 30px
    position: relative
    cursor: pointer
    transition: box-shadow 0.4s ease

    & > .filter-item-title
      //font-family: $regular
      color: #303030

    & > .filter-item-icon
      position: absolute
      left: 10px
      top: 18px
      transform: rotate(-90deg)
      transition: 0.2s

    &:hover
      box-shadow: inset 0 0 0 40px rgba(71, 192, 102, 0.1)

  &.opened
    & > .filter-item-header
      & > .filter-item-icon
        transform: rotate(0deg)

    & > .filter-item-body
      max-height: initial
      padding: 10px 0px

  &.closed
    & > .filter-item-header
      & > .filter-item-icon
        transform: rotate(-90deg)

    & > .filter-item-body
      max-height: 0px
      padding: 0px

  & .filter-item-icon
    width: 10px
    height: 5px
    background-image: url(../img/icons/sort-down.svg)
    background-repeat: no-repeat
    background-position: center
    background-size: 100%

  & .hidden_input
    display: none

  & .filter-checkbox
    display: block
    position: relative
    overflow: hidden
    height: 30px
    line-height: 20px
    font-size: 0.875em
    font-weight: 300
    padding: 5px 10px 5px 40px
    transition: background-color 0.1s


    &:before
      content: ''
      display: block
      width: 20px
      height: 20px
      border-radius: 5px
      border: 1px solid #E8E8E8
      background-color: transparent

      position: absolute
      left: 10px
      top: 5px
      z-index: 1

    &:after
      content: ''
      display: block
      width: 12px
      height: 12px
      background-image: url(../img/icons/check-symbol.png)
      background-repeat: no-repeat
      background-position: center
      background-size: 12px

      position: absolute
      top: 9px
      left: 14px
      z-index: 2

    & > .filter-name
      color: #000000
      float: left

    & > .filter-from-price
      color: #6E6E6E
      float: right

    &:hover
      background-color: #F2F2F2
      &:before
        background-color: rgba(71,192,102,0.5)
        border-color: rgba(71,192,102,0.5)

  & .for-filter-checkbox:checked + .filter-checkbox
    &:before
      background-color: rgba(71,192,102,1)
      border-color: #47C066



  & > .filter-item-body
    overflow: hidden
    //font-family: $light
    transition: max-height 0.2s ease

    & .sorting-select-wrapper
      margin: 0 10px

    & .filter-range-block
      padding: 0px 10px 10px

    & .filter-checkbox
      margin-bottom: 0px
      cursor: pointer

  & .filter-range-block

    & .range-output-block
      overflow: hidden
      margin-bottom: 20px
      color: #303030
      font-size: 0.875em

      & > div:first-child
        float: left

      & > div:last-child
        float: right

    & .output-input
      border: none
      display: inline-block
      max-width: 80px

    & .filter-range
      background-color: #CCCCCC
      height: 2px
      width: calc(100% - 18px)
      margin: auto
      border: none

      & .ui-slider-range
        background-color: #47C066

      & .ui-slider-handle
        border-radius: 50%
        background-color: #ffffff
        border-color: #e6e4eb
        box-shadow: 0 1px 3px 0 rgba(37,32,31,.3)
        outline: none
        width: 24px
        height: 24px
        top: -12px
        cursor: pointer

        &:after
          content: ''
          position: absolute
          width: 16px
          height: 16px
          top: 3px
          left: 3px
          box-shadow: inset 0 0 0 1px #ccc9d4
          border-radius: 50%
          transition: 0.1s

        &.ui-state-focus
          &:after
            background-color: rgba(71, 192, 102, 0.2)


@media (max-width: 767px)
  .train-results-filters

    & .filter-btn
      position: absolute
      right: 10px
      top: -40px

    & .train-mobile
      display: block

    & .filters-content
      display: none
      border-radius: 0px
      position: fixed
      z-index: 20
      left: 0
      right: 0
      top: 0
      bottom: 0
      overflow-y: scroll
      padding-bottom: 50px

      &.mobile-open
        display: block

      & .apply-btn
        display: block
        position: fixed
        left: 0
        right: 0
        bottom: 0
        z-index: 21

      & .filter-item
        font-size: 14px
// ФИЛЬТРЫ
// КОНЕЦ

// Таблица расписаний
// Начало
.train-route-timetable

  &__nav-tabs
    & li
      background-color: #F9F9F9
      border-color: #dddddd
      border-style: solid
      border-width: 1px 1px 0px 1px
      border-radius: 5px 5px 0px 0px

      & + li
        margin-left: 2px

      &.active
        background-color: #ffffff
        box-shadow: 0px -5px 10px rgba(0,0,0,0.1)

        & a
          border: none
          &:active, &:focus, &:hover
            border: none

      & a
        margin: 0
        border: none

  &__tab-content
    background-color: #fff
    border-radius: 0px 0px 5px 5px
    border-style: solid
    border-width: 0px 1px 1px 1px
    border-color: #dddddd
    padding: 15px 20px
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1)

    & h2
      font-size: 1.5em

    & .train-timetable-table
      margin: 15px 0px 10px

  &__tab-title
    margin-bottom: 15px

.train-timetable-table
  font-size: 14px
  &__head
    border-bottom: 1px solid #dddddd

  &__row
    position: relative
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    padding: 5px 0px
    border-bottom: 1px solid #eee
    padding-left: 20px

  &__body
    & .train-timetable-table__row
      &:before
        content: ''
        position: absolute
        left: -5px
        top: 11px

        width: 12px
        height: 12px
        border-radius: 50%
        border: 2px solid #47C066
        background-color: #ffffff

      &:not(:last-child)
        &:after
          content: ''
          position: absolute
          height: 100%
          width: 2px
          background-color: #dddddd
          top: 23px
          left: 0px

  &__column
    &.station
      width: calc(100% / 3)
      padding-left: 5px
    &.arrival,
    &.stop-time,
    &.duration,
    &.departure
      width: calc(100% / 6)

  &__date
    display: block
    font-size: 0.875em
    color: #999

  &__time
    color: #303030
    font-size: 1.125em
    font-weight: 400
    //font-family: $regular


.train-route-map
  width: 100%
  height: 420px


.train-results
  &__block

  &__title
    font-size: 1.5em

.monthly-prices-list
  list-style-type: none
  padding: 0
  margin: 30px 0 0

@media only screen and (max-width: 767px)
  .monthly-prices-list
    margin: 10px 0

@media only screen and (max-width: 767px)
  .train-timetable-table
    font-size: 13px
    &__row
      padding-left: 10px
    &__column
      &.station, &.departure, &.arrival
        width: calc(100% / 3)

      &.departure, &.arrival
        text-align: right

      &.stop-time, &.duration
        display: none

@media only screen and (min-width: 992px)
  .train_header
    & .train-form-wrapper
      //margin: 0px -15px

@media only screen and (min-width: 768px) and (max-width: 991px)
  .train_header
    & .train-form-wrapper
      margin: 0px -15px

@media only screen and (max-width: 767px)
  .train_city_page .train_header
    padding: 20px 0px
    
  .train_results_page
    padding-top: 60px

    & .site-navigation
      position: fixed
      top: 0
      z-index: 19
      width: 100%
    
    & .breadcrumbs_block
      box-shadow: none
      background-color: #F2F2F2

    & .results-statistic-block
        display: none


  .train_results_page .train_header
    padding: 0px

    & > .content
      display: none

      &.mobile-open
        position: fixed
        top: 60px
        width: 100%
        min-height: calc(100vh - 60px)
        padding: 15px 0px
        background: rgba(0, 0, 0, 0.6)
        display: flex
        flex-flow: column nowrap
        justify-content: center
        z-index: 99

        & > .container
          width: 100%

  .train-results-header__title-block
      margin-top: 0px

  .train_header
    & .train_header_title
      margin-bottom: 20px

    & .train-form-wrapper
      margin: 0px 0px

    & .cities
      margin-top: 0px