.button-menu
  width: 40px
  height: 40px
  padding: 0
  display: block
  outline: none
  background-color: transparent

  &__line
    display: block
    margin: auto
    position: relative
    width: 30px
    height: 2px
    background-color: #dddddd
    transition: 0.2s

    &:before, &:after
      content: ''
      background-color: #dddddd
      position: absolute
      left: 0
      width: 30px
      height: 2px
      opacity: 1
      transition: 0.2s

    &:before
      top: -6px

    &:after
      bottom: -6px

  &.active
    & .button-menu__line
      transform: rotate(45deg)

      &:before
        transform: rotate(-90deg)
        top: 0

      &:after
        opacity: 0


.button-search
  width: 40px
  height: 40px
  padding: 0
  display: block
  outline: none
  background-color: transparent

  &__icon
    width: 20px
    height: 20px
    vertical-align: top
    margin-top: 3px

.button
  border: none
  outline: none
  text-decoration: none
  transition: 0.2s ease-in
  text-align: center
  cursor: pointer

  &--green
    border: 2px solid transparent
    background-color: $green
    color: $white

    &:hover, &.active
      border: 2px solid $green
      background-color: $white
      color: $green

  &--white
    background-color: $white
    color: $black

