@import "../vars/main"
@import "train-libs"
@import "../main"

@import "../fonts/roboto"
@import "../buttons/buttons"

@import "../components/nav"
@import "../components/search-form"
@import "../components/breadcrumbs"
@import "../components/dropdown-helper"
@import "../components/listbox"
@import "../components/lowtrip-price-table"
@import "../components/pricegraph"
@import "../components/progressbar"
@import "../components/statistic-result-block"
@import "../components/site-navigation"
@import "../components/navbar-lowtrip"
@import "../components/form-information"
@import "../components/footer"
@import "../components/advert"


@import "import/train-main"

body
  font-family: "Roboto", sans-serif
  font-size: 14px

.container
  width: 100%