@import "../fonts/roboto"

@import "../../libs/ui/jquery-ui.min"
@import "../../libs/air-datepicker-master/dist/css/datepicker.min"

@import "../vars/main"
@import "../base/main"
@import "../buttons/buttons"
@import "../layouts/layout-flex"

@import "../components/nav"
@import "../components/header"
@import "../components/footer"
@import "../components/breadcrumbs"
@import "../components/progressbar"
@import "../components/site-block"
@import "../components/search-form"
@import "../components/listbox"
@import "../components/dropdown-helper"
@import "../components/popular-items"
@import "../components/modal"
@import "../components/advert"

@import "import/bus-form"
@import "import/bus-page"
@import "import/station-timetable"
@import "import/bus-stations-map"
@import "import/disclaimer"

@import "import/tickets-table"

.banner 
  background: url('/img/bus/banner-bg.png')
  color: #fff


.banner .title 
  padding-top: 70px
  text-transform: uppercase
  font-size: 34px
  font-weight: 700
  width: 100%
  text-align: center


.banner .map 
  padding-bottom: 35px


.banner .stations table.stations-table 
  border-collapse: separate
  border-spacing: 0 5px


.banner .stations table.stations-table thead tr th 
  border: none
  font-size: 14px
  font-weight: normal
  padding: 15px


.banner .stations table.stations-table tbody tr 
  background: rgba(255, 255, 255, 0.1)
  margin-bottom: 3px


.banner .stations table.stations-table tbody tr td 
  border: none
  color: #1c9e48
  padding: 15px


.banner .stations table.stations-table tbody tr td.address 
  color: #fff


.banner .stations table.stations-table tbody tr.active-row 
  background: #1c9e48


.banner .stations table.stations-table tbody tr.active-row td 
  color: #fff

.variants 
  padding-top: 90px
  padding-bottom: 60px


.variants .title 
  text-transform: uppercase
  font-size: 34px
  width: 100%
  text-align: center
  font-weight: 700


.variants .containers 
  padding-top: 45px


.variants .containers .card 
  padding-left: 0
  padding-right: 0
  background: #f4f4f4


.variants .containers .card .header 
  padding: 25px
  padding-bottom: 15px
  display: flex
  justify-content: flex-start
  align-items: end
  border-bottom: 3px solid #1c9e48


.variants .containers .card .header .text 
  margin-left: 6px
  font-size: 16px
  font-weight: 700
  text-transform: uppercase


.variants .containers .card .header .pic 
  width: 16px
  height: 19px


.variants .containers .card .cities 
  padding-top: 20px
  padding-left: 25px


.variants .containers .card .cities a.city 
  display: block
  color: #000
  margin-bottom: 10px


.variants .containers .card .cities a.city.more 
  text-decoration: underline


.mobile--banner 
  padding-top: 28px


.mobile--banner .city-title 
  padding-top: 30px
  padding-bottom: 20px
  font-size: 18px
  font-weight: 600


.mobile--banner .stations .station 
  padding-bottom: 20px
  padding-top: 20px
  border-bottom: 1px solid #888


.mobile--banner .stations .station .title 
  font-size: 14px
  font-weight: 600


.mobile--banner .stations .station .address 
  color: #1b9e48
  display: block
  margin-top: 10px


.mobile--banner .stations .station .phone 
  margin-top: 5px
  font-size: 14px
  font-weight: normal


.mobile--banner .stations .station .ways-button 
  width: 100%
  margin-top: 25px
  background: #1c9e48
  display: flex
  justify-content: center
  align-items: center
  padding: 20px 0
  color: #fff


.mobile--banner .stations .station:last-child 
  border-bottom: none


.mobile--banner .map-title 
  margin-top: 45px
  font-size: 18px
  font-weight: 600


.mobile--banner .map 
  margin-top: 25px
  width: 100vw
  left: 0

